<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjyl.dao.ApplyMapper">
<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
<cache type="org.mybatis.caches.ehcache.EhcacheCache" /> 

	<!-- 返回的map -->
	<resultMap id="apply" type="com.kjyl.pojo.Apply">
		<result property="Id" column="Apply_Id" />
		<result property="UseId" column="Apply_UseId" />
		<result property="LogicId" column="Apply_LogicId" />
		<result property="Memo" column="Apply_Memo" />
		<result property="Status" column="Apply_Status" />
		<result property="Delete" column="Apply_Delete" />
		<result property="CreateTime" column="Apply_CreateTime" />
		<result property="ModifyTime" column="Apply_ModifyTime" />
	</resultMap>
	<sql id="sql">
		Apply_Id, Apply_UseId, Apply_LogicId, Apply_Memo, Apply_Status, Apply_Delete, Apply_CreateTime, Apply_ModifyTime
	</sql>
	<sql id="where">
		1=1 
		<if test="Id != null ">
			 AND Apply_Id = #{Id}
		</if>
		<if test="UseId != null ">
			 AND Apply_UseId = #{UseId}
		</if>
		<if test="LogicId != null ">
			 AND Apply_LogicId = #{LogicId}
		</if>
		<if test="Memo != null ">
			 AND Apply_Memo = #{Memo}
		</if>
		<if test="Status != null ">
			 AND Apply_Status = #{Status}
		</if>
		<if test="Delete != null ">
			 AND Apply_Delete &lt; #{Delete}
		</if>
		<if test="CreateTime != null ">
			 AND Apply_CreateTime = #{CreateTime}
		</if>
		<if test="ModifyTime != null ">
			 AND Apply_ModifyTime = #{ModifyTime}
		</if>

	</sql>
	
	<!-- 根据ID 查找-->
	<select id="SearchBySpecial" resultMap="apply" parameterType="long">
		SELECT
		<include refid="sql"></include>
			FROM fit_apply
		<where>
			Apply_Id = #{_parameter} 
		</where>
	</select>
	
	<!-- 根据model 查找-->
	
	<!-- 根据条件 查找-->
	<select id="SearchByCondition"  resultMap="apply" parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
			FROM fit_apply
		<where>
			<include refid="where"></include>
		</where>
	</select>
	
	<!-- 根据条件总数-->
	<select id="SearchData" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
			FROM fit_apply
			<where>
				<include refid="where"></include>
			</where>
	</select>

	<!-- 插入数据 -->
	<insert id="Insert" parameterType="com.kjyl.pojo.Apply"  useGeneratedKeys="true">
		INSERT INTO fit_apply( <include refid="sql"></include> )
		VALUES(
				#{Id},
				#{UseId},
				#{LogicId},
				#{Memo},
				Default,
				Default,
				now(),
				now()
				)
	</insert>
		
	<update id="Modify" parameterType="com.kjyl.pojo.Apply">
		UPDATE fit_apply 
		  <set> 
			<if test="UseId != null ">
				Apply_UseId = #{UseId},
			</if>
			<if test="LogicId != null ">
				Apply_LogicId = #{LogicId},
			</if>
			<if test="Memo != null ">
				Apply_Memo = #{Memo},
			</if>
			<if test="Status != null ">
				Apply_Status = #{Status},
			</if>
			<if test="Delete != null ">
				Apply_Delete = #{Delete},
			</if>
				Apply_ModifyTime = now()
		  </set>
		<where>
			Apply_Id= #{Id} 
		</where>
	</update>

	<!-- 根据编号删除 by sheryl-->
	<update id="RemoveBySpecial" parameterType="com.kjyl.pojo.Apply">
		UPDATE fit_apply SET Apply_Delete = 88 WHERE Apply_Id = #{_parameter} 
	</update>

	<!-- 根据编号恢复 by sheryl-->
	<update id="RecoverBySpecial" parameterType="com.kjyl.pojo.Apply">
		UPDATE fit_apply SET Apply_Delete=  1 WHERE Apply_Id = #{_parameter} 
	</update>

	<!-- 根据条件删除 by sheryl-->
	<update id="RemoveByCondition" parameterType="com.kjyl.pojo.Apply">
		UPDATE fit_apply SET Apply_Delete = 88 
		<where>
			<include refid="where"></include>
		</where>
	</update>

	<!-- 根据条件恢复 by sheryl-->
	<update id="RecoverByCondition" parameterType="com.kjyl.pojo.Apply">
		UPDATE fit_apply SET Apply_Delete = 1 
		<where>
			<include refid="where"></include>
		</where>
	</update>

</mapper>
