<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjyl.dao.PayrecordMapper">
<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
<cache type="org.mybatis.caches.ehcache.EhcacheCache" /> 
	
	<!-- 返回的map -->
	<resultMap id="payrecord" type="com.kjyl.pojo.Payrecord">
		<result property="Id" column="PayRecord_Id" />
		<result property="UseId" column="PayRecord_UseId" />
		<result property="LogicId" column="PayRecord_LogicId" />
		<result property="Prize" column="PayRecord_Prize" />
		<result property="Type" column="PayRecord_Type" />
		<result property="Direction" column="PayRecord_Direction" />
		<result property="Memo" column="PayRecord_Memo" />
		<result property="Status" column="PayRecord_Status" />
		<result property="Delete" column="PayRecord_Delete" />
		<result property="CreateTime" column="PayRecord_CreateTime" />
		<result property="ModifyTime" column="PayRecord_ModifyTime" />
	</resultMap>
	<sql id="sql">
		PayRecord_Id, PayRecord_UseId, PayRecord_LogicId, PayRecord_Prize, PayRecord_Type, PayRecord_Direction, PayRecord_Memo, PayRecord_Status, PayRecord_Delete, PayRecord_CreateTime, PayRecord_ModifyTime
	</sql>
	<sql id="where">
		1=1 
		<if test="Id != null ">
			 AND PayRecord_Id = #{Id}
		</if>
		<if test="UseId != null ">
			 AND PayRecord_UseId = #{UseId}
		</if>
		<if test="LogicId != null ">
			 AND PayRecord_LogicId = #{LogicId}
		</if>
		<if test="Prize != null ">
			 AND PayRecord_Prize = #{Prize}
		</if>
		<if test="Type != null ">
			 AND PayRecord_Type = #{Type}
		</if>
		<if test="Direction != null ">
			 AND PayRecord_Direction = #{Direction}
		</if>
		<if test="Memo != null ">
			 AND PayRecord_Memo = #{Memo}
		</if>
		<if test="Status != null ">
			 AND PayRecord_Status = #{Status}
		</if>
		<if test="Delete != null ">
			 AND PayRecord_Delete &lt; #{Delete}
		</if>
		<if test="CreateTime != null ">
			 AND PayRecord_CreateTime = #{CreateTime}
		</if>
		<if test="ModifyTime != null ">
			 AND PayRecord_ModifyTime = #{ModifyTime}
		</if>

	</sql>
	
	<!-- 根据ID 查找-->
	<select id="SearchBySpecial" resultMap="payrecord" parameterType="long">
		SELECT
		<include refid="sql"></include>
			FROM fit_payrecord
		<where>
			PayRecord_Id = #{_parameter} 
		</where>
	</select>
	
	<!-- 根据model 查找-->
	
	<!-- 根据条件 查找-->
	<select id="SearchByCondition"  resultMap="payrecord" parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
			FROM fit_payrecord
		<where>
			<include refid="where"></include>
		</where>
	</select>
	
	<!-- 根据条件总数-->
	<select id="SearchData" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
			FROM fit_payrecord
			<where>
				<include refid="where"></include>
			</where>
	</select>

	<!-- 插入数据 -->
	<insert id="Insert" parameterType="com.kjyl.pojo.Payrecord"  useGeneratedKeys="true">
		INSERT INTO fit_payrecord( <include refid="sql"></include> )
		VALUES(
				#{Id},
				#{UseId},
				#{LogicId},
				#{Prize},
				#{Type},
				#{Direction},
				#{Memo},
				Default,
				Default,
				now(),
				now()
				)
	</insert>
		
	<update id="Modify" parameterType="com.kjyl.pojo.Payrecord">
		UPDATE fit_payrecord 
		  <set> 
			<if test="UseId != null ">
				PayRecord_UseId = #{UseId},
			</if>
			<if test="LogicId != null ">
				PayRecord_LogicId = #{LogicId},
			</if>
			<if test="Prize != null ">
				PayRecord_Prize = #{Prize},
			</if>
			<if test="Type != null ">
				PayRecord_Type = #{Type},
			</if>
			<if test="Direction != null ">
				 PayRecord_Direction = #{Direction}
			</if>
			<if test="Memo != null ">
				PayRecord_Memo = #{Memo},
			</if>
			<if test="Status != null ">
				PayRecord_Status = #{Status},
			</if>
			<if test="Delete != null ">
				PayRecord_Delete = #{Delete},
			</if>
				PayRecord_ModifyTime = now()
		  </set>
		<where>
			PayRecord_Id= #{Id} 
		</where>
	</update>

	<!-- 根据编号删除 by sheryl-->
	<update id="RemoveBySpecial" parameterType="com.kjyl.pojo.Payrecord">
		UPDATE fit_payrecord SET PayRecord_Status = 88 WHERE PayRecord_Id = #{_parameter} 
	</update>

	<!-- 根据编号恢复 by sheryl-->
	<update id="RecoverBySpecial" parameterType="com.kjyl.pojo.Payrecord">
		UPDATE fit_payrecord SET PayRecord_Status=  1 WHERE PayRecord_Id = #{_parameter} 
	</update>

	<!-- 根据条件删除 by sheryl-->
	<update id="RemoveByCondition" parameterType="com.kjyl.pojo.Payrecord">
		UPDATE fit_payrecord SET PayRecord_Status = 88 
		<where>
			<include refid="where"></include>
		</where>
	</update>

	<!-- 根据条件恢复 by sheryl-->
	<update id="RecoverByCondition" parameterType="com.kjyl.pojo.Payrecord">
		UPDATE fit_payrecord SET PayRecord_Status = 1 
		<where>
			<include refid="where"></include>
		</where>
	</update>

</mapper>
