<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjyl.dao.PostMapper"> 
	
	<!-- 返回的map -->
	<resultMap id="post" type="com.kjyl.pojo.Post">
		<result property="Id" column="Post_Id" />
		<result property="UseId" column="Post_UseId" />
		<result property="LogicId" column="Post_LogicId" />
		<result property="Title" column="Post_Title" />
		<result property="Content" column="Post_Content" />
		<result property="Like" column="Post_Like" />
		<result property="Review" column="Post_Review" />
		<result property="Collect" column="Post_Collect" />
		<result property="Type" column="Post_Type" />
		<result property="Status" column="Post_Status" />
		<result property="Delete" column="Post_Delete" />
		<result property="CreateTime" column="Post_CreateTime" />
		<result property="ModifyTime" column="Post_ModifyTime" />
		<association property="User" javaType="com.kjyl.bean.SimpleUser" resultMap="com.kjyl.dao.AdminMapper.simpleAdmin" />
		<association property="State" javaType="com.kjyl.pojo.Status" resultMap="com.kjyl.dao.StatusMapper.status" />
		<collection property="Picture" column="Picture" ofType="string" javaType="list" select="com.kjyl.dao.PictureMapper.SearchUrlBySpecial" />
	</resultMap>
	<sql id="sql">
		Post_Id, Post_UseId, Post_LogicId, Post_Title, Post_Content, Post_Like, Post_Review, Post_Collect, Post_Type, Post_Status, Post_Delete, Post_CreateTime, Post_ModifyTime
	</sql>
	<sql id="where">
		1=1 
		<if test="Id != null ">
			 AND Post_Id = #{Id}
		</if>
		<if test="UseId != null ">
			 AND Post_UseId = #{UseId}
		</if>
		<if test="LogicId != null ">
			 AND Post_LogicId = #{LogicId}
		</if>
			<if test="Title != null ">
			 AND Post_Title LIKE CONCAT('%',#{Title},'%') 
		</if>
		<if test="Content != null ">
			 AND Post_Content LIKE CONCAT('%',#{Content},'%')
		</if>
		<if test="Like != null ">
			 AND Post_Like = #{Like}
		</if>
		<if test="Review != null ">
			 AND Post_Review = #{Review}
		</if>
		<if test="Collect != null ">
			 AND Post_Collect = #{Collect}
		</if>
		<if test="Type != null ">
			 AND Post_Type = #{Type}
		</if>
		<if test="Status != null ">
			 AND Post_Status = #{Status}
		</if>
		<if test="Delete != null ">
			 AND Post_Delete &lt; #{Delete}
		</if>
		<if test="CreateTime != null ">
			 AND Post_CreateTime = #{CreateTime}
		</if>
		<if test="ModifyTime != null ">
			 AND Post_ModifyTime = #{ModifyTime}
		</if>

	</sql>
	
	<!-- 根据ID 查找-->
	<select id="SearchBySpecial" resultMap="post" parameterType="long">
		SELECT
		<include refid="sql" />
			FROM fit_post
		<where>
			Post_Id = #{_parameter} 
		</where>
	</select>
	
	<!-- 根据model 查找-->
	
	<!-- 根据条件 查找-->
	<select id="SearchByCondition"  resultMap="post" parameterType="java.util.Map">
		SELECT
		<include refid="sql"/><include refid="com.kjyl.dao.AdminMapper.simpleAdminSql"/>
		,<include refid="com.kjyl.dao.StatusMapper.sql"/>
			FROM fit_post
			LEFT JOIN fit_admin ON fit_admin.Admin_Delete &lt; 88 AND fit_admin.Admin_Id = fit_post.Post_UseId 
			LEFT JOIN fit_status ON fit_status.Status_UseId = #{UId}
			AND fit_status.Status_LogicId = fit_post.Post_Id 
			AND fit_status.Status_Delete &lt; 88 
		<where>
			<include refid="where"/>
		</where>
	</select>
	
	<!-- 根据条件总数-->
	<select id="SearchData" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
			FROM fit_post
			<where>
				<include refid="where"/>
			</where>
	</select>

	<!-- 插入数据 -->
	<insert id="Insert" parameterType="com.kjyl.pojo.Post"  useGeneratedKeys="true">
		INSERT INTO fit_post( <include refid="sql"></include> )
		VALUES(
				#{Id},
				#{UseId},
				#{LogicId},
				#{Title},
				#{Content},
				Default,
				Default
				Default,
				#{Type},
				Default,
				Default,
				now(),
				now()
				)
	</insert>
		
	<update id="Modify" parameterType="com.kjyl.pojo.Post">
		UPDATE fit_post 
		  <set> 
			<if test="UseId != null ">
				Post_UseId = #{UseId},
			</if>
			<if test="LogicId != null ">
				Post_LogicId = #{LogicId},
			</if>
			<if test="Title != null ">
				Post_Title = #{Title},
			</if>
			<if test="Content != null ">
				Post_Content = #{Content},
			</if>
			<if test="Like != null ">
				Post_Like = #{Like},
			</if>
			<if test="Review != null ">
				Post_Review = #{Review},
			</if>
			<if test="Collect != null ">
				Post_Collect = #{Collect},
			</if>
			<if test="Type != null ">
			 	Post_Type = #{Type},
			</if>
			<if test="Status != null ">
				Post_Status = #{Status},
			</if>
			<if test="Delete != null ">
				Post_Delete = #{Delete},
			</if>
				Post_ModifyTime = now()
		  </set>
		<where>
			Post_Id= #{Id} 
		</where>
	</update>

	<!-- 根据编号删除 by sheryl-->
	<update id="RemoveBySpecial" parameterType="com.kjyl.pojo.Post">
		UPDATE fit_post SET Post_Delete = 88 WHERE Post_Id = #{_parameter} 
	</update>

	<!-- 根据编号恢复 by sheryl-->
	<update id="RecoverBySpecial" parameterType="com.kjyl.pojo.Post">
		UPDATE fit_post SET Post_Delete = 1 WHERE Post_Id = #{_parameter} 
	</update>

	<!-- 根据条件删除 by sheryl-->
	<update id="RemoveByCondition" parameterType="com.kjyl.pojo.Post">
		UPDATE fit_post SET Post_Delete = 88 
		<where>
			<include refid="where"></include>
		</where>
	</update>

	<!-- 根据条件恢复 by sheryl-->
	<update id="RecoverByCondition" parameterType="com.kjyl.pojo.Post">
		UPDATE fit_post SET Post_Delete = 1 
		<where>
			<include refid="where"></include>
		</where>
	</update>

</mapper>
