<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjyl.dao.UserMapper">
<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
<cache type="org.mybatis.caches.ehcache.EhcacheCache" /> 
	
	<!-- 返回的map -->
	<resultMap id="user" type="com.kjyl.pojo.User">
		<result property="Id" column="User_Id" />
		<result property="HeadIcon" column="User_HeadIcon" />
		<result property="Name" column="User_Name" />
		<result property="Sex" column="User_Sex" />
		<result property="Birthday" column="User_Birthday" />
		<result property="Phone" column="User_Phone" />
		<result property="QQ" column="User_QQ" />
		<result property="MicroBlog" column="User_MicroBlog" />
		<result property="QRCode" column="User_QRCode" />
		<result property="WeChatOpenId" column="User_WeChatOpenId" />
		<result property="Password" column="User_Password" />
		<result property="PayPassword" column="User_PayPassword" />
		<result property="City" column="User_City" />
		<result property="FitClub" column="User_FitClub" />
		<result property="Level" column="User_Level" />
		<result property="Status" column="User_Status" />
		<result property="Delete" column="User_Delete" />
		<result property="CreateTime" column="User_CreateTime" />
		<result property="ModifyTime" column="User_ModifyTime" />
	</resultMap>
	
	<resultMap id="simpleUser" type="com.kjyl.bean.SimpleUser">
		<result property="Id" column="User_Id" />
		<result property="HeadIcon" column="User_HeadIcon" />
		<result property="Name" column="User_Name" />
		<result property="Sex" column="User_Sex" />
	</resultMap>
	<sql id="simpleUserSql">
		, User_Id, User_HeadIcon, User_Name, User_Sex
	</sql>
	<sql id="sql">
		User_Id, User_HeadIcon, User_Name, User_Sex, User_Birthday, User_Phone, User_QQ, User_MicroBlog, User_QRCode, User_WeChatOpenId, User_Password, User_PayPassword, User_City, User_FitClub, User_Level, User_Status, User_Delete, User_CreateTime, User_ModifyTime
	</sql>
	<sql id="where">
		1=1 
		<if test="Id != null ">
			 AND User_Id = #{Id}
		</if>
		<if test="HeadIcon != null ">
			 AND User_HeadIcon = #{HeadIcon}
		</if>
		<if test="Name != null ">
			 AND User_Name = #{Name}
		</if>
		<if test="Sex != null ">
			 AND User_Sex = #{Sex}
		</if>
		<if test="Birthday != null ">
			 AND User_Birthday = #{Birthday}
		</if>
		<if test="Phone != null ">
			 AND User_Phone = #{Phone}
		</if>
		<if test="QQ != null ">
			 AND User_QQ = #{QQ}
		</if>
		<if test="MicroBlog != null ">
			 AND User_MicroBlog = #{MicroBlog}
		</if>
		<if test="QRCode != null ">
			 AND User_QRCode = #{QRCode}
		</if>
		<if test="WeChatOpenId != null ">
			 AND User_WeChatOpenId = #{WeChatOpenId}
		</if>
		<if test="Password != null ">
			 AND User_Password = #{Password}
		</if>
		<if test="PayPassword != null ">
			 AND User_PayPassword = #{PayPassword}
		</if>
		<if test="City != null ">
			 AND User_City = #{City}
		</if>
		<if test="FitClub != null ">
			 AND User_FitClub = #{FitClub}
		</if>
		<if test="Level != null ">
			 AND User_Level = #{Level}
		</if>
		<if test="Status != null ">
			 AND User_Status = #{Status}
		</if>
		<if test="Delete != null ">
			 AND User_Delete &lt; #{Delete}
		</if>
		<if test="CreateTime != null ">
			 AND User_CreateTime = #{CreateTime}
		</if>
		<if test="ModifyTime != null ">
			 AND User_ModifyTime = #{ModifyTime}
		</if>

	</sql>
	
	<!-- 根据ID 查找-->
	<select id="SearchBySpecial" resultMap="user" parameterType="long">
		SELECT
		<include refid="sql"></include>
			FROM fit_user
		<where>
			User_Id = #{_parameter} 
		</where>
	</select>
	
	<!-- 根据model 查找-->
	
	<!-- 根据条件 查找-->
	<select id="SearchByCondition"  resultMap="user" parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
			FROM fit_user
		<where>
			<include refid="where"></include>
		</where>
	</select>
	
	<!-- 根据条件总数-->
	<select id="SearchData" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
			FROM fit_user
			<where>
				<include refid="where"></include>
			</where>
	</select>

	<!-- 插入数据 -->
	<insert id="Insert" parameterType="com.kjyl.pojo.User"  useGeneratedKeys="true">
		INSERT INTO fit_user( <include refid="sql"></include> )
		VALUES(
				#{Id},
				#{HeadIcon},
				#{Name},
				#{Sex},
				#{Birthday},
				#{Phone},
				#{QQ},
				#{MicroBlog},
				#{QRCode},
				#{WeChatOpenId},
				#{Password},
				#{PayPassword},
				#{City},
				#{FitClub},
				#{Level},
				Default,
				Default,
				now(),
				now()
				)
	</insert>
		
	<update id="Modify" parameterType="com.kjyl.pojo.User">
		UPDATE fit_user 
		  <set> 
			<if test="HeadIcon != null ">
				User_HeadIcon = #{HeadIcon},
			</if>
			<if test="Name != null ">
				User_Name = #{Name},
			</if>
			<if test="Sex != null ">
				User_Sex = #{Sex},
			</if>
			<if test="Birthday != null ">
				User_Birthday = #{Birthday},
			</if>
			<if test="Phone != null ">
				User_Phone = #{Phone},
			</if>
			<if test="QQ != null ">
				User_QQ = #{QQ},
			</if>
			<if test="MicroBlog != null ">
				User_MicroBlog = #{MicroBlog},
			</if>
			<if test="QRCode != null ">
				User_QRCode = #{QRCode},
			</if>
			<if test="WeChatOpenId != null ">
				User_WeChatOpenId = #{WeChatOpenId},
			</if>
			<if test="Password != null ">
				User_Password = #{Password},
			</if>
			<if test="PayPassword != null ">
				User_PayPassword = #{PayPassword},
			</if>
			<if test="City != null ">
				User_City = #{City},
			</if>
			<if test="FitClub != null ">
				User_FitClub = #{FitClub},
			</if>
			<if test="Level != null ">
				User_Level = #{Level},
			</if>
			<if test="Status != null ">
				User_Status = #{Status},
			</if>
			<if test="Delete != null ">
				User_Delete = #{Delete},
			</if>
				User_ModifyTime = now()
		  </set>
		<where>
			User_Id= #{Id} 
		</where>
	</update>

	<!-- 根据编号删除 by sheryl-->
	<update id="RemoveBySpecial" parameterType="com.kjyl.pojo.User">
		UPDATE fit_user SET User_Status = 88 WHERE User_Id = #{_parameter} 
	</update>

	<!-- 根据编号恢复 by sheryl-->
	<update id="RecoverBySpecial" parameterType="com.kjyl.pojo.User">
		UPDATE fit_user SET User_Status=  1 WHERE User_Id = #{_parameter} 
	</update>

	<!-- 根据条件删除 by sheryl-->
	<update id="RemoveByCondition" parameterType="com.kjyl.pojo.User">
		UPDATE fit_user SET User_Status = 88 
		<where>
			<include refid="where"></include>
		</where>
	</update>

	<!-- 根据条件恢复 by sheryl-->
	<update id="RecoverByCondition" parameterType="com.kjyl.pojo.User">
		UPDATE fit_user SET User_Status = 1 
		<where>
			<include refid="where"></include>
		</where>
	</update>
	
	<!-- 查询个人记录 -->
	<resultMap id="GymData" type="com.kjyl.bean.GymDataBean">
		<result property="Course" column="Course" />
		<result property="Weight" column="Weight" />
		<result property="Fianco" column="Fianco" />
		<result property="Diary" column="Diary" />
		<association property="Identity" javaType="com.kjyl.pojo.Identity" resultMap="com.kjyl.dao.IdentityMapper.identity"/>
		<association property="Card" javaType="com.kjyl.pojo.Card" resultMap="com.kjyl.dao.CardMapper.card"/>
	</resultMap>
	<select id="SearchGymDataByCondition"  resultMap="GymData" parameterType="java.util.Map">
	 	SELECT (SELECT COUNT(1) FROM fit_course WHERE Clock_UseId = #{UId} AND Course_Delete &lt; 88) Course,
				(SELECT COUNT(1) FROM fit_fitdata WHERE FitData_UseId = #{UId} AND FitData_Delete &lt; 88) Weight,
				(SELECT COUNT(1) FROM fit_fitdata WHERE FitData_UseId = #{UId} AND FitData_Delete &lt; 88) Fianco,
				(SELECT COUNT(1) FROM fit_post WHERE Post_UseId = #{UId} AND Post_Delete &lt; 88) Diary, 
				fit_identity.*, fit_card.* FROM fit_identity, fit_card, fit_order
			WHERE fit_identity.Identity_Id =  #{UId} AND fit_identity.Identity_Delete &lt; 88
			AND fit_order.Order_UseId = #{UId} AND fit_order.Order_Delete &lt; 88
			AND fit_order.Order_Type = #{UId} AND fit_order.Order_Status = 0 <!-- #{}订单完成状态 未定 -->
			AND fit_order.Order_Goods = fit_card.Card_Id AND fit_card.Card_Delete &lt; 88 
	</select>

</mapper>
