<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.Activity" >
    <id column="Activity_ID" property="activityId" jdbcType="BIGINT" />
    <result column="Activity_AgentID" property="activityAgentID" jdbcType="BIGINT" />
    <result column="Activity_Title" property="activityTitle" jdbcType="VARCHAR" />
    <result column="Activity_ImageID" property="activityImageid" jdbcType="VARCHAR" />
    <result column="Activity_CreateTime" property="activityCreatetime" jdbcType="TIMESTAMP" />
    <result column="Activity_ModifyTime" property="activityModifytime" jdbcType="TIMESTAMP" />
    <result column="Activity_Status" property="activityStatus" jdbcType="INTEGER" />
    <result column="Activity_Hot" property="activityHot" jdbcType="INTEGER" />
    <result column="Activity_Weight" property="activityWeight" jdbcType="INTEGER" />
    <result column="Activity_WeChatID" property="activityWechatid" jdbcType="BIGINT" />
    <result column="Activity_Praise" property="activityPraise" jdbcType="BIGINT" />
    <result column="Activity_EndTime" property="activityEndtime" jdbcType="TIMESTAMP" />
    <result column="Activity_StartTime" property="activityStarttime" jdbcType="TIMESTAMP" />
    <result column="Activity_Sponsor" property="activitySponsor" jdbcType="VARCHAR" />
    <result column="Activity_SBrief" property="activitySbrief" jdbcType="VARCHAR" />
    <result column="Activity_SImage" property="activitySimage" jdbcType="VARCHAR" />
    <result column="Activity_ApplyCount" property="activityApplycount" jdbcType="INTEGER" />
    <result column="Activity_ApplyLimit" property="activityApplylimit" jdbcType="INTEGER" />
    <result column="Activity_ApplyMoney" property="activityApplymoney" jdbcType="VARCHAR" />
    <result column="Activity_PayType" property="activityPaytype" jdbcType="TINYINT" />
    <result column="Activity_AreaCode" property="activityAreacode" jdbcType="VARCHAR" />
    <result column="Activity_Place" property="activityPlace" jdbcType="VARCHAR" />
    <result column="Activity_Money" property="activityMoney" jdbcType="BIGINT" />
    <result column="Activity_Type" property="activityType" jdbcType="INTEGER" />
    <result column="Activity_Delete" property="activityDelete" jdbcType="INTEGER" />
    <result column="Activity_LaunchTime" property="activityLaunchtime" jdbcType="TIMESTAMP" />
    <result column="Activity_Qualified" property="qualified" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.huban.pojo.Activity" extends="BaseResultMap" >
    <result column="Activity_Content" property="activityContent" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
  </resultMap>
  <sql id="Base_Column_List" >
    Activity_ID, Activity_AgentID, Activity_Title, Activity_ImageID, Activity_CreateTime, Activity_ModifyTime, 
    Activity_Status, Activity_Hot, Activity_Weight, Activity_WeChatID, Activity_Praise, 
    Activity_EndTime, Activity_StartTime, Activity_Sponsor, Activity_SBrief, Activity_SImage, Activity_ApplyCount, 
    Activity_ApplyLimit, Activity_ApplyMoney, Activity_PayType, Activity_AreaCode, Activity_Place, Activity_Money,
    Activity_Type, Activity_Delete, Activity_LaunchTime
  </sql>
  <sql id="Blob_Column_List" >
    Activity_Content
  </sql>
  
  <sql id="wheresql">
  	WHERE   1 = 1
    <if test="ID != null">
        AND Activity_ID = #{ID,jdbcType=BIGINT}
      </if>
    <if test="UID != null">
        AND Activity_AgentID = #{UID,jdbcType=BIGINT}
         AND UNIX_TIMESTAMP(NOW()) &lt;= UNIX_TIMESTAMP(Activity_EndTime) 
      </if>
      <if test="Type != null" >
        And Activity_Type = #{Type}
      </if>
     <!--  <if test="Address != null and Condition == 0" >
         And Activity_Place LIKE CONCAT('%',#{Address},'%')
      </if>
      <if test="code != null and Condition == 0" >
         And Activity_AreaCode LIKE #{code}
      </if> -->
      <if test="Condition != null and Condition != 0" >
      	<if test="Condition == 1" >
      		And Activity_AreaCode = #{code}
      	</if>
      	<if test="Condition == 2" >
      		<if test="code != null" >
         		And Activity_AreaCode LIKE #{code}
     		 </if>
      	</if>
      	<if test="Condition == 3" >
      		<if test="code != null" >
         		And Activity_AreaCode NOT LIKE #{code}
     		 </if>
      	</if>
      	 AND UNIX_TIMESTAMP(NOW()) &lt;= UNIX_TIMESTAMP(Activity_EndTime) 
      </if>
    <if test="Rand != null">
        AND #{Rand} = #{Rand}
      </if>
      AND Activity_Delete = 0
    ORDER BY Activity_ModifyTime ASC
    <if test="start != null and size != null">
        LIMIT #{start},#{size}
      </if>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    <if test="DBID != null and Screen != null">
			,( SELECT COUNT(*) FROM rb_payrecords
			WHERE PayRecord_BelongId = Activity_ID AND PayRecord_UserID = #{DBID} AND
			PayRecord_PayReason LIKE CONCAT('%',#{Screen},'%'))
			AS Activity_Qualified
		</if> ,
    <include refid="Blob_Column_List" />
    from rb_activity
    where 1 = 1
    <if test="ID != null">
        AND Activity_ID = #{ID,jdbcType=BIGINT}
      </if>
    AND Activity_Delete = 0
  </select>
  
  <select id="selectbyid" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rb_activity
    where Activity_ID = #{activityId}
    AND Activity_Delete = 0
  </select>
  <!-- 查询报名的钱 -->
  <select id="selectapplymoney" resultType="java.lang.String" parameterType="java.lang.Long" >
    select 
    Activity_ApplyMoney
    from rb_activity
    where Activity_ID = #{activityId}
    AND Activity_Delete = 0
  </select>
  
  <!-- 查看(hot)或许分享(weight)次数+1 -->
  <update id="updateNum" parameterType="map">
    update rb_activity set       
      <trim suffixOverrides=",">
      <if test="tfSign != null" >
        Activity_Hot = Activity_Hot + #{tfSign},
      </if>
      <if test="tfShare != null" >
        Activity_Weight = Activity_Weight + #{tfShare}
      </if>
      </trim>
    where Activity_ID = #{activityId,jdbcType=BIGINT}
  </update>
  <select id="queryList" resultMap="ResultMapWithBLOBs" parameterType="map">
	<if test="Condition != null and Condition == 0">
		( (SELECT
		<include refid="Base_Column_List" />
		<if test="DBID != null and Screen != null">
			,( SELECT COUNT(*) FROM rb_payrecords
			WHERE PayRecord_BelongId = Activity_ID AND PayRecord_UserID = #{DBID} AND
			PayRecord_PayReason LIKE CONCAT('%',#{Screen},'%'))
			AS Activity_Qualified
		</if>
		,
		<include refid="Blob_Column_List" />
		FROM rb_activity
		WHERE 1=1
		AND Activity_Delete = 0
		AND UNIX_TIMESTAMP(NOW()) &lt;= UNIX_TIMESTAMP(Activity_EndTime)
		)
		UNION ALL (
	</if>
	
	SELECT
	<include refid="Base_Column_List" />
	<if test="DBID != null and Screen != null">
		,( SELECT COUNT(*) FROM rb_payrecords
		WHERE PayRecord_BelongId = Activity_ID AND PayRecord_UserID = #{DBID} AND
		PayRecord_PayReason LIKE CONCAT('%',#{Screen},'%'))
		AS Activity_Qualified
	</if>
	,
	<include refid="Blob_Column_List" />
	FROM rb_activity
	<include refid="wheresql" />
	
	<if test="Condition != null and Condition == 0">
		) UNION ALL
		( SELECT
		<include refid="Base_Column_List" />
		<if test="DBID != null and Screen != null">
			,( SELECT COUNT(*) FROM rb_payrecords
			WHERE PayRecord_BelongId = Activity_ID AND PayRecord_UserID = #{DBID} AND
			PayRecord_PayReason LIKE CONCAT('%',#{Screen},'%'))
			AS Activity_Qualified
		</if>
		,
		<include refid="Blob_Column_List" />
		FROM rb_activity
		WHERE 1=1
		AND Activity_Delete = 0
		AND UNIX_TIMESTAMP(NOW()) &lt;= UNIX_TIMESTAMP(Activity_EndTime)
		AND Activity_Place NOT LIKE CONCAT(#{Address},'%')
		)) ORDER BY Activity_ModifyTime ASC
		LIMIT #{start},#{size}
	</if>
</select>
  <!-- 查询报名数量和限制 -->
  <select id="ApplyLimit" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    Activity_ApplyMoney,Activity_PayType,Activity_StartTime,Activity_EndTime,Activity_ApplyCount,Activity_ApplyLimit
    from rb_activity
    WHERE Activity_ID = #{activityId,jdbcType=BIGINT}
    AND Activity_Delete = 0
  </select>
  <!-- 修改报名人数 -->
  <update id="modifyJoinCount" parameterType="java.lang.Long">
    UPDATE rb_activity 
    <set>
    	Activity_ApplyCount = Activity_ApplyCount + 1
    </set>
    where Activity_ID = #{activityId,jdbcType=BIGINT}
  </update>
  <update id="ReduceJoinCount" parameterType="java.lang.Long">
    UPDATE rb_activity 
    <set>
    	Activity_ApplyCount = Activity_ApplyCount - 1
    </set>
    where Activity_ID = #{activityId,jdbcType=BIGINT}
  </update>
  
  <!-- V2 -->
  <insert id="AddNewMessage" parameterType="com.huban.pojo.Activity" >
    insert into rb_activity (Activity_ID, Activity_AgentID, Activity_Title, Activity_ImageID, 
      Activity_CreateTime, Activity_ModifyTime, 
      Activity_Status, Activity_Hot, Activity_Weight, 
      Activity_WeChatID, Activity_Praise, Activity_EndTime,Activity_StartTime, 
      Activity_Sponsor, Activity_SBrief, Activity_SImage, 
      Activity_ApplyCount, Activity_ApplyLimit, 
      Activity_ApplyMoney, Activity_PayType, Activity_AreaCode, Activity_Place, Activity_Money, Activity_Content,Activity_Type,Activity_Delete
      ,Activity_LaunchTime)
    values (#{activityId,jdbcType=BIGINT}, #{activityAgentID,jdbcType=BIGINT}, #{activityTitle,jdbcType=VARCHAR}, #{activityImageid,jdbcType=VARCHAR}, 
      now(), now(), 
      88, 0, 0, 
      #{activityWechatid,jdbcType=BIGINT}, 0, #{activityEndtime,jdbcType=TIMESTAMP}, #{activityStarttime,jdbcType=TIMESTAMP},
      #{activitySponsor,jdbcType=VARCHAR}, #{activitySbrief,jdbcType=VARCHAR}, #{activitySimage,jdbcType=BIGINT}, 
      0, #{activityApplylimit,jdbcType=INTEGER}, 
      #{activityApplymoney,jdbcType=VARCHAR}, #{activityPaytype,jdbcType=TINYINT}, #{activityAreacode,jdbcType=VARCHAR}, #{activityPlace,jdbcType=VARCHAR}, #{activityMoney,jdbcType=BIGINT}, #{activityContent,jdbcType=LONGVARCHAR},
      #{activityType,jdbcType=INTEGER}, 0, #{activityLaunchtime,jdbcType=TIMESTAMP})
  </insert>
  <update id="ChanceMessage" parameterType="com.huban.pojo.Activity" >
    update rb_activity
    <set >
      <if test="activityTitle != null" >
        Activity_Title = #{activityTitle,jdbcType=VARCHAR},
      </if>
      <if test="activityImageid != null" >
        Activity_ImageID = #{activityImageid,jdbcType=VARCHAR},
      </if>
      <if test="activityCreatetime != null" >
        Activity_CreateTime = #{activityCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityStatus != null" >
        Activity_Status = #{activityStatus,jdbcType=INTEGER},
      </if>
      <if test="activityHot != null" >
        Activity_Hot = #{activityHot,jdbcType=INTEGER},
      </if>
      <if test="activityWeight != null" >
        Activity_Weight = #{activityWeight,jdbcType=INTEGER},
      </if>
      <if test="activityWechatid != null" >
        Activity_WeChatID = #{activityWechatid,jdbcType=BIGINT},
      </if>
      <if test="activityPraise != null" >
        Activity_Praise = #{activityPraise,jdbcType=BIGINT},
      </if>
      <if test="activityEndtime != null" >
        Activity_EndTime = #{activityEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="activitySponsor != null" >
        Activity_Sponsor = #{activitySponsor,jdbcType=VARCHAR},
      </if>
      <if test="activitySbrief != null" >
        Activity_SBrief = #{activitySbrief,jdbcType=VARCHAR},
      </if>
      <if test="activitySimage != null" >
        Activity_SImage = #{activitySimage,jdbcType=BIGINT},
      </if>
      <if test="activityApplycount != null" >
        Activity_ApplyCount = #{activityApplycount,jdbcType=INTEGER},
      </if>
      <if test="activityMoney != null" >
        Activity_Money = #{activity_Money,jdbcType=INTEGER},
      </if>
      <if test="activityApplylimit != null" >
        Activity_ApplyLimit = #{activityApplylimit,jdbcType=INTEGER},
      </if>
      <if test="activityApplymoney != null" >
        Activity_ApplyMoney = #{activityApplymoney,jdbcType=VARCHAR},
      </if>
      <if test="activityPaytype != null" >
        Activity_PayType = #{activityPaytype,jdbcType=TINYINT},
      </if>
      <if test="activityContent != null" >
        Activity_Content = #{activityContent,jdbcType=LONGVARCHAR},
      </if>
       <if test="activityLaunchtime != null" >
        Activity_LaunchTime = #{activityLaunchtime,jdbcType=TIMESTAMP},
      </if>
      Activity_ModifyTime = now()
    </set>
    where Activity_ID = #{activityId,jdbcType=BIGINT}
  </update>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_activity
    where Activity_ID = #{activityId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.Activity" >
    insert into rb_activity (Activity_ID, Activity_Title, Activity_ImageID, 
      Activity_CreateTime, Activity_ModifyTime, 
      Activity_Status, Activity_Hot, Activity_Weight, 
      Activity_WeChatID, Activity_Praise, Activity_EndTime,Activity_StartTime, 
      Activity_Sponsor, Activity_SBrief, Activity_SImage, 
      Activity_ApplyCount, Activity_ApplyLimit, 
      Activity_ApplyMoney, Activity_PayType, Activity_Content,Activity_Type,Activity_Delete
      ,Activity_LaunchTime)
    values (#{activityId,jdbcType=BIGINT}, #{activityTitle,jdbcType=VARCHAR}, #{activityImageid,jdbcType=VARCHAR}, 
      #{activityCreatetime,jdbcType=TIMESTAMP}, #{activityModifytime,jdbcType=TIMESTAMP}, 
      #{activityStatus,jdbcType=INTEGER}, #{activityHot,jdbcType=INTEGER}, #{activityWeight,jdbcType=INTEGER}, 
      #{activityWechatid,jdbcType=BIGINT}, #{activityPraise,jdbcType=BIGINT}, #{activityEndtime,jdbcType=TIMESTAMP}, #{activityStarttime,jdbcType=TIMESTAMP},
      #{activitySponsor,jdbcType=VARCHAR}, #{activitySbrief,jdbcType=VARCHAR}, #{activitySimage,jdbcType=BIGINT}, 
      #{activityApplycount,jdbcType=INTEGER}, #{activityApplylimit,jdbcType=INTEGER}, 
      #{activityApplymoney,jdbcType=VARCHAR}, #{activityPaytype,jdbcType=TINYINT}, #{activityContent,jdbcType=LONGVARCHAR}
      #{activityType,jdbcType=INTEGER},#{activityDelete,jdbcType=INTEGER},#{activityLaunchtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.Activity" >
    insert into rb_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        Activity_ID,
      </if>
      <if test="activityTitle != null" >
        Activity_Title,
      </if>
      <if test="activityImageid != null" >
        Activity_ImageID,
      </if>
      <if test="activityCreatetime != null" >
        Activity_CreateTime,
      </if>
      <if test="activityModifytime != null" >
        Activity_ModifyTime,
      </if>
      <if test="activityStatus != null" >
        Activity_Status,
      </if>
      <if test="activityHot != null" >
        Activity_Hot,
      </if>
      <if test="activityWeight != null" >
        Activity_Weight,
      </if>
      <if test="activityWechatid != null" >
        Activity_WeChatID,
      </if>
      <if test="activityPraise != null" >
        Activity_Praise,
      </if>
      <if test="activityEndtime != null" >
        Activity_EndTime,
      </if>
      <if test="activitySponsor != null" >
        Activity_Sponsor,
      </if>
      <if test="activitySbrief != null" >
        Activity_SBrief,
      </if>
      <if test="activitySimage != null" >
        Activity_SImage,
      </if>
      <if test="activityApplycount != null" >
        Activity_ApplyCount,
      </if>
      <if test="activityApplylimit != null" >
        Activity_ApplyLimit,
      </if>
      <if test="activityApplymoney != null" >
        Activity_ApplyMoney,
      </if>
      <if test="activityPaytype != null" >
        Activity_PayType,
      </if>
      <if test="activityContent != null" >
        Activity_Content,
      </if>
      <if test="activityLaunchTime != null">
      	Activity_LaunchTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="activityTitle != null" >
        #{activityTitle,jdbcType=VARCHAR},
      </if>
      <if test="activityImageid != null" >
        #{activityImageid,jdbcType=VARCHAR},
      </if>
      <if test="activityCreatetime != null" >
        #{activityCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityModifytime != null" >
        #{activityModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityStatus != null" >
        #{activityStatus,jdbcType=INTEGER},
      </if>
      <if test="activityHot != null" >
        #{activityHot,jdbcType=INTEGER},
      </if>
      <if test="activityWeight != null" >
        #{activityWeight,jdbcType=INTEGER},
      </if>
      <if test="activityWechatid != null" >
        #{activityWechatid,jdbcType=BIGINT},
      </if>
      <if test="activityPraise != null" >
        #{activityPraise,jdbcType=BIGINT},
      </if>
      <if test="activityEndtime != null" >
        #{activityEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="activitySponsor != null" >
        #{activitySponsor,jdbcType=VARCHAR},
      </if>
      <if test="activitySbrief != null" >
        #{activitySbrief,jdbcType=VARCHAR},
      </if>
      <if test="activitySimage != null" >
        #{activitySimage,jdbcType=BIGINT},
      </if>
      <if test="activityApplycount != null" >
        #{activityApplycount,jdbcType=INTEGER},
      </if>
      <if test="activityApplylimit != null" >
        #{activityApplylimit,jdbcType=INTEGER},
      </if>
      <if test="activityApplymoney != null" >
        #{activityApplymoney,jdbcType=VARCHAR},
      </if>
      <if test="activityPaytype != null" >
        #{activityPaytype,jdbcType=TINYINT},
      </if>
      <if test="activityContent != null" >
        #{activityContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="activityLaunchtime">
      	#{activityLaunchtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.Activity" >
    update rb_activity
    <set >
      <if test="activityTitle != null" >
        Activity_Title = #{activityTitle,jdbcType=VARCHAR},
      </if>
      <if test="activityImageid != null" >
        Activity_ImageID = #{activityImageid,jdbcType=VARCHAR},
      </if>
      <if test="activityCreatetime != null" >
        Activity_CreateTime = #{activityCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityModifytime != null" >
        Activity_ModifyTime = #{activityModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityStatus != null" >
        Activity_Status = #{activityStatus,jdbcType=INTEGER},
      </if>
      <if test="activityHot != null" >
        Activity_Hot = #{activityHot,jdbcType=INTEGER},
      </if>
      <if test="activityWeight != null" >
        Activity_Weight = #{activityWeight,jdbcType=INTEGER},
      </if>
      <if test="activityWechatid != null" >
        Activity_WeChatID = #{activityWechatid,jdbcType=BIGINT},
      </if>
      <if test="activityPraise != null" >
        Activity_Praise = #{activityPraise,jdbcType=BIGINT},
      </if>
      <if test="activityEndtime != null" >
        Activity_EndTime = #{activityEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="activitySponsor != null" >
        Activity_Sponsor = #{activitySponsor,jdbcType=VARCHAR},
      </if>
      <if test="activitySbrief != null" >
        Activity_SBrief = #{activitySbrief,jdbcType=VARCHAR},
      </if>
      <if test="activitySimage != null" >
        Activity_SImage = #{activitySimage,jdbcType=BIGINT},
      </if>
      <if test="activityApplycount != null" >
        Activity_ApplyCount = #{activityApplycount,jdbcType=INTEGER},
      </if>
      <if test="activityApplylimit != null" >
        Activity_ApplyLimit = #{activityApplylimit,jdbcType=INTEGER},
      </if>
      <if test="activityApplymoney != null" >
        Activity_ApplyMoney = #{activityApplymoney,jdbcType=VARCHAR},
      </if>
      <if test="activityPaytype != null" >
        Activity_PayType = #{activityPaytype,jdbcType=TINYINT},
      </if>
      <if test="activityContent != null" >
        Activity_Content = #{activityContent,jdbcType=LONGVARCHAR},
      </if>
       <if test="activityLaunchtime != null" >
        Activity_LaunchTime = #{activityLaunchtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Activity_ID = #{activityId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.huban.pojo.Activity" >
    update rb_activity
    set Activity_Title = #{activityTitle,jdbcType=VARCHAR},
      Activity_ImageID = #{activityImageid,jdbcType=VARCHAR},
      Activity_CreateTime = #{activityCreatetime,jdbcType=TIMESTAMP},
      Activity_ModifyTime = #{activityModifytime,jdbcType=TIMESTAMP},
      Activity_Status = #{activityStatus,jdbcType=INTEGER},
      Activity_Hot = #{activityHot,jdbcType=INTEGER},
      Activity_Weight = #{activityWeight,jdbcType=INTEGER},
      Activity_WeChatID = #{activityWechatid,jdbcType=BIGINT},
      Activity_Praise = #{activityPraise,jdbcType=BIGINT},
      Activity_EndTime = #{activityEndtime,jdbcType=TIMESTAMP},
      Activity_Sponsor = #{activitySponsor,jdbcType=VARCHAR},
      Activity_SBrief = #{activitySbrief,jdbcType=VARCHAR},
      Activity_SImage = #{activitySimage,jdbcType=BIGINT},
      Activity_ApplyCount = #{activityApplycount,jdbcType=INTEGER},
      Activity_ApplyLimit = #{activityApplylimit,jdbcType=INTEGER},
      Activity_ApplyMoney = #{activityApplymoney,jdbcType=VARCHAR},
      Activity_PayType = #{activityPaytype,jdbcType=TINYINT},
      Activity_Content = #{activityContent,jdbcType=LONGVARCHAR},
      Activity_LaunchTime = #{activityLaunchtime,jdbcType=TIMESTAMP}
    where Activity_ID = #{activityId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.Activity" >
    update rb_activity
    set Activity_Title = #{activityTitle,jdbcType=VARCHAR},
      Activity_ImageID = #{activityImageid,jdbcType=VARCHAR},
      Activity_CreateTime = #{activityCreatetime,jdbcType=TIMESTAMP},
      Activity_ModifyTime = #{activityModifytime,jdbcType=TIMESTAMP},
      Activity_Status = #{activityStatus,jdbcType=INTEGER},
      Activity_Hot = #{activityHot,jdbcType=INTEGER},
      Activity_Weight = #{activityWeight,jdbcType=INTEGER},
      Activity_WeChatID = #{activityWechatid,jdbcType=BIGINT},
      Activity_Praise = #{activityPraise,jdbcType=BIGINT},
      Activity_EndTime = #{activityEndtime,jdbcType=TIMESTAMP},
      Activity_Sponsor = #{activitySponsor,jdbcType=VARCHAR},
      Activity_SBrief = #{activitySbrief,jdbcType=VARCHAR},
      Activity_SImage = #{activitySimage,jdbcType=BIGINT},
      Activity_ApplyCount = #{activityApplycount,jdbcType=INTEGER},
      Activity_ApplyLimit = #{activityApplylimit,jdbcType=INTEGER},
      Activity_ApplyMoney = #{activityApplymoney,jdbcType=VARCHAR},
      Activity_PayType = #{activityPaytype,jdbcType=TINYINT},
      Activity_LaunchTime = #{activityLaunchtime,jdbcType=TIMESTAMP}
    where Activity_ID = #{activityId,jdbcType=BIGINT}
  </update>
</mapper>