<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.ActivitypartMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.Activitypart" >
    <id column="ActivityPart_ID" property="activitypartId" jdbcType="BIGINT" />
    <result column="ActivityPart_CreateTime" property="activitypartCreatetime" jdbcType="TIMESTAMP" />
    <result column="ActivityPart_StudentID" property="activitypartStudentid" jdbcType="BIGINT" />
    <result column="ActivityPart_ActivityID" property="activitypartActivityid" jdbcType="BIGINT" />
    <result column="ActivityPart_ModifyTime" property="activitypartModifytime" jdbcType="TIMESTAMP" />
    <result column="ActivityPart_Content" property="activitypartContent" jdbcType="VARCHAR" />
    <result column="ActivityPart_Status" property="activitypartStatus" jdbcType="INTEGER" />
    <result column="Activity_Imgurl" property="activityImgurl" jdbcType="VARCHAR" />
    <result column="Acityvity_Owner" property="activityowner" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ActivityPart_ID, ActivityPart_CreateTime, ActivityPart_StudentID, ActivityPart_ActivityID, 
    ActivityPart_ModifyTime, ActivityPart_Content, ActivityPart_Status,Activity_Imgurl,Acityvity_Owner
  </sql>
  <!-- V2 SQL -->
<sql id="WhereSql">
  	 WHERE  1 = 1 	 
    <if test="DBID != null">
        AND ActivityPart_ActivityID = #{DBID} 
      </if>
      AND ActivityPart_Status = 0
    <if test="userId != null">
        AND ActivityPart_StudentID = #{userId}
      </if>
    <if test="Rand != null">
        AND #{Rand} = #{Rand}
      </if>
  </sql>
	<sql id="FiltrateSql">
		AND userinfo_status = 0 AND ActivityPart_StudentID = userinfo_userid
	</sql>
	<sql id="SpecialSql">
		<if test="Condition == 1">
		ORDER BY user_name 
    		</if>
		<if test="start != null and size != null">
			LIMIT #{start},#{size}
		</if>
	</sql>
  
    <select id="queryById" resultType="java.lang.Integer" parameterType="map" >
    select 
    count(*)
    from rb_activitypart
    where ActivityPart_StudentID = #{userId,jdbcType = BIGINT} 
    AND ActivityPart_ActivityID = #{activityId, jdbcType = BIGINT} AND ActivityPart_Status = 0
  </select>
  <select id="queryList" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from rb_activitypart
   <include refid="WhereSql" />
    <include refid="SpecialSql" />
  </select>
  <insert id="addActivity" parameterType="com.huban.pojo.Activitypart" >
    insert into rb_activitypart (ActivityPart_ID, ActivityPart_CreateTime, 
    ActivityPart_StudentID, ActivityPart_ActivityID, 
    ActivityPart_ModifyTime, ActivityPart_Status)
    values (#{activitypartId,jdbcType=BIGINT}, now(), 
      #{activitypartStudentid,jdbcType=BIGINT}, #{activitypartActivityid,jdbcType=BIGINT}, 
      now(), 0)
  </insert>
  
 <resultMap type="com.huban.construct.LstDeptMemberModel" id="QueryLstDeptMemberMap" >
 	<result property="userId" column="userinfo_userid" />
	<result property="userName" column="user_name" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
	<result property="userHeadicon" column="user_headicon" />
	<result property="userinfoPosition" column="userinfo_position" />
    <result property="userinfoReadcount" column="userinfo_readcount" /> 
    <result property="joinStatus" column="join_Status" />
</resultMap>
<select id="QueryLstUser" resultMap="QueryLstDeptMemberMap" parameterType="map" >
    SELECT 
    	userinfo_userid, (SELECT User_Name FROM rb_user WHERE User_Id = ru.userinfo_userid) AS user_name, (SELECT User_HeadIcon FROM rb_user WHERE User_Id = ru.userinfo_userid) AS user_headicon, 
    	userinfo_position, (SELECT if(ISNULL(SUM(rs_number)), 0, SUM(rs_number)) FROM rb_saveread WHERE rs_belongdept = ru.userinfo_belongdept AND rs_belongid = ru.userinfo_userid) AS userinfo_readcount,
    	ActivityPart_Status AS join_Status
    FROM rb_activitypart AS act, rb_userinfo AS ru
   <include refid="WhereSql" />
    <include refid="FiltrateSql" />
    <include refid="SpecialSql" />
  </select>
   <update id="ChanceMessage" parameterType="com.huban.pojo.Activitypart" >
    update rb_activitypart
    <set >
      <if test="activitypartContent != null" >
        ActivityPart_Content = #{activitypartContent,jdbcType=VARCHAR},
      </if>
      <if test="activitypartStatus != null" >
        ActivityPart_Status = #{activitypartStatus,jdbcType=INTEGER},
      </if>
      ActivityPart_ModifyTime = now()
    </set>
    where 1=1
    	<if test="activitypartStudentid != null" >
        AND ActivityPart_StudentID = #{activitypartStudentid,jdbcType=BIGINT}
      </if>
      <if test="activitypartActivityid != null" >
        AND ActivityPart_ActivityID = #{activitypartActivityid,jdbcType=BIGINT}
      </if>
  </update>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rb_activitypart
    where ActivityPart_ID = #{activitypartId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_activitypart
    where ActivityPart_ID = #{activitypartId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.Activitypart" >
    insert into rb_activitypart (ActivityPart_ID, ActivityPart_CreateTime, 
      ActivityPart_StudentID, ActivityPart_ActivityID, 
      ActivityPart_ModifyTime, ActivityPart_Content, 
      ActivityPart_Status)
    values (#{activitypartId,jdbcType=BIGINT}, #{activitypartCreatetime,jdbcType=TIMESTAMP}, 
      #{activitypartStudentid,jdbcType=BIGINT}, #{activitypartActivityid,jdbcType=BIGINT}, 
      #{activitypartModifytime,jdbcType=TIMESTAMP}, #{activitypartContent,jdbcType=VARCHAR}, 
      #{activitypartStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.Activitypart" >
    insert into rb_activitypart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activitypartId != null" >
        ActivityPart_ID,
      </if>
      <if test="activitypartCreatetime != null" >
        ActivityPart_CreateTime,
      </if>
      <if test="activitypartStudentid != null" >
        ActivityPart_StudentID,
      </if>
      <if test="activitypartActivityid != null" >
        ActivityPart_ActivityID,
      </if>
      <if test="activitypartModifytime != null" >
        ActivityPart_ModifyTime,
      </if>
      <if test="activitypartContent != null" >
        ActivityPart_Content,
      </if>
      <if test="activitypartStatus != null" >
        ActivityPart_Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activitypartId != null" >
        #{activitypartId,jdbcType=BIGINT},
      </if>
      <if test="activitypartCreatetime != null" >
        #{activitypartCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="activitypartStudentid != null" >
        #{activitypartStudentid,jdbcType=BIGINT},
      </if>
      <if test="activitypartActivityid != null" >
        #{activitypartActivityid,jdbcType=BIGINT},
      </if>
      <if test="activitypartModifytime != null" >
        #{activitypartModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="activitypartContent != null" >
        #{activitypartContent,jdbcType=VARCHAR},
      </if>
      <if test="activitypartStatus != null" >
        #{activitypartStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.Activitypart" >
    update rb_activitypart
    <set >
      <if test="activitypartCreatetime != null" >
        ActivityPart_CreateTime = #{activitypartCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="activitypartStudentid != null" >
        ActivityPart_StudentID = #{activitypartStudentid,jdbcType=BIGINT},
      </if>
      <if test="activitypartActivityid != null" >
        ActivityPart_ActivityID = #{activitypartActivityid,jdbcType=BIGINT},
      </if>
      <if test="activitypartModifytime != null" >
        ActivityPart_ModifyTime = #{activitypartModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="activitypartContent != null" >
        ActivityPart_Content = #{activitypartContent,jdbcType=VARCHAR},
      </if>
      <if test="activitypartStatus != null" >
        ActivityPart_Status = #{activitypartStatus,jdbcType=INTEGER},
      </if>
    </set>
    where ActivityPart_ID = #{activitypartId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.Activitypart" >
    update rb_activitypart
    set ActivityPart_CreateTime = #{activitypartCreatetime,jdbcType=TIMESTAMP},
      ActivityPart_StudentID = #{activitypartStudentid,jdbcType=BIGINT},
      ActivityPart_ActivityID = #{activitypartActivityid,jdbcType=BIGINT},
      ActivityPart_ModifyTime = #{activitypartModifytime,jdbcType=TIMESTAMP},
      ActivityPart_Content = #{activitypartContent,jdbcType=VARCHAR},
      ActivityPart_Status = #{activitypartStatus,jdbcType=INTEGER}
    where ActivityPart_ID = #{activitypartId,jdbcType=BIGINT}
  </update>
</mapper>