<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huban.dao.AdminMapper">
    <!--<cache type="com.util.MybatisRedisCache" />-->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
    <select id="findAdmin" parameterType="com.huban.pojo.Admin" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM rb_admins
        WHERE Admin_ID = #{iD} AND Admin_Deleted = 0
    </select>

    <select id="searchAdmin" parameterType="com.huban.pojo.Admin" resultMap="ClassResultMap">
        SELECT 
			a.Admin_ID,a.Admin_Name,a.Admin_PassWord,a.Admin_NickName,a.Admin_Phone,a.Admin_Level,a.Admin_Status,a.Admin_CreateTime,a.Admin_Version,a.Admin_ModifyTime,a.Admin_Deleted,a.Admin_Memo,a.Admin_ParentID,a.Admin_AreaID,p.Picture_Url Admin_ImageID
        FROM rb_admins a,rb_picture p
        WHERE
        <if test="name != null or passWord!=null ">
            (
        </if>
        1=1
        <if test="iD != null and iD>0 ">
            and a.Admin_ID = #{iD}
        </if>
        <if test="name != null and passWord!=null ">
            and ( a.Admin_Name = #{name} AND a.Admin_PassWord = #{passWord}) )
        </if>
        <if test="passWord != null and name==null">
            and (  a.Admin_PassWord = #{passWord} and a.Admin_ID = #{iD}  ))
        </if>
        AND p.Picture_ID=a.Admin_ImageID
        AND a.Admin_Deleted = 0
    </select>

    <select id="queryAdmin" parameterType="map" resultMap="ClassResultMap">
        SELECT
        Admin_ID,Admin_Name,Admin_PassWord,Admin_NickName,Admin_ImageID,
        Admin_Phone,Admin_Level,Admin_Status,Admin_CreateTime,Admin_Version,
        Admin_ModifyTime,Admin_Deleted,Admin_Memo,Admin_ParentID
        FROM rb_admins
        <where>
            Admin_Deleted = 0  and Admin_Level!=1
            <if test="iD != null">
                AND Admin_ID = #{iD}
            </if>
            <if test="name != null">
                AND Admin_Name = #{name}
            </if>
            <if test="passWord != null">
                AND Admin_PassWord = #{passWord}
            </if>
            <if test="nickName != null">
                AND Admin_NickName like CONCAT(CONCAT('%', #{nickName, jdbcType=VARCHAR}),'%')
            </if>
            <if test="imageID != null">
                AND Admin_ImageID = #{imageID}
            </if>
            <if test="phone != null">
                AND Admin_Phone = #{phone}
            </if>
            <if test="level != null">
                AND Admin_Level = #{level}
            </if>
            <if test="parentID != null">
                AND Admin_ParentID = #{parentID}
            </if>
            <if test="createTime != null">
                AND Admin_CreateTime = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND Admin_ModifyTime = #{modifyTime}
            </if>
            <if test="version != null">
                AND Admin_Version = #{version}
            </if>
            <if test="status != null">
                AND Admin_Status = #{status}
            </if>
        </where>
        order by Admin_Level ,Admin_ModifyTime desc
        <if test="limit != null and start!=null">
            limit #{start},#{limit}
        </if>
    </select>
    <select id="queryAdminCount" parameterType="map" resultType="int">
        SELECT
        count(1)
        FROM rb_admins
        <where>
            Admin_Deleted = 0 and Admin_Level!=1
            <if test="iD != null">
                AND Admin_ID = #{iD}
            </if>
            <if test="name != null">
                AND Admin_Name = #{name}
            </if>
            <if test="passWord != null">
                AND Admin_PassWord = #{passWord}
            </if>
            <if test="nickName != null">
                AND Admin_NickName like CONCAT(CONCAT('%', #{nickName, jdbcType=VARCHAR}),'%')
            </if>
            <if test="imageID != null">
                AND Admin_ImageID = #{imageID}
            </if>
            <if test="phone != null">
                AND Admin_Phone = #{phone}
            </if>
            <if test="level != null">
                AND Admin_Level = #{level}
            </if>
            <if test="parentID != null">
                AND Admin_ParentID = #{parentID}
            </if>
            <if test="createTime != null">
                AND Admin_CreateTime = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND Admin_ModifyTime = #{modifyTime}
            </if>
            <if test="version != null">
                AND Admin_Version = #{version}
            </if>
            <if test="status != null">
                AND Admin_Status = #{status}
            </if>
        </where>
    </select>
    <insert id="addAdmin" parameterType="com.huban.pojo.Admin" keyProperty="addressID" useGeneratedKeys="true"> --  flushCache="true"
        INSERT INTO rb_admins (
        Admin_ID,Admin_Name,Admin_PassWord,Admin_NickName,Admin_ImageID,
        Admin_Phone,Admin_Level,Admin_Status,Admin_CreateTime,Admin_Version,
        Admin_ModifyTime,Admin_Deleted,Admin_Memo,Admin_ParentID
        ) VALUES (
        #{iD},#{name}, #{passWord}, #{nickName}, #{imageID},
        #{phone}, #{level}, 0, NOW(),0, NOW(),
        0, #{memo}, #{parentID}
        )
    </insert>

    <update id="changeAdmin" parameterType="com.huban.pojo.Admin">
        UPDATE rb_admins SET
        Admin_Name = #{name}, Admin_PassWord = #{passWord},
        Admin_NickName = #{nickName}, Admin_ImageID = #{imageID},
        Admin_Phone = #{phone}, Admin_Level = #{level},
        Admin_Status = #{status},Admin_ParentID=#{parentID},
        Admin_ModifyTime = NOW(), Admin_Version = Admin_Version + 1,
        Admin_Status = #{status}, Admin_Deleted = #{deleted}
        WHERE Admin_ID = #{iD} AND Admin_Deleted = 0
    </update>


    <delete id="removeAdmin"  parameterType="com.huban.pojo.Admin">
        UPDATE rb_admins SET
        Admin_Deleted = 1, Admin_ModifyTime = NOW(),
        Admin_Version = Admin_Version + 1
        WHERE Admin_ID = #{iD} AND Admin_Deleted = 0
    </delete>

    <resultMap type="com.huban.pojo.Admin" id="ClassResultMap">
        <result property="iD" column="Admin_ID"/>
        <result property="pkid" column="Admin_ID"/>
        <result property="name" column="Admin_Name"/>
        <result property="passWord" column="Admin_PassWord"/>
        <result property="nickName" column="Admin_NickName"/>
        <result property="imageID" column="Admin_ImageID"/>
        <result property="phone" column="Admin_Phone"/>
        <result property="level" column="Admin_Level"/>
        <result property="memo" column="Admin_Memo"/>
        <result property="parentID" column="Admin_ParentID"/>
        <result property="createTime" column="Admin_CreateTime"/>
        <result property="modifyTime" column="Admin_ModifyTime"/>
        <result property="version" column="Admin_Version"/>
        <result property="status" column="Admin_Status"/>
        <result property="deleted" column="Admin_Deleted"/>
    </resultMap>
</mapper>