<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.ApplylistMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.Applylist" >
    <id column="ApplyList_ID" property="applylistId" jdbcType="BIGINT" />
    <result column="ApplyList_UserName" property="applylistUsername" jdbcType="VARCHAR" />
    <result column="ApplyList_CreateTime" property="applylistCreatetime" jdbcType="TIMESTAMP" />
    <result column="ApplyList_ModifyTime" property="applylistModifytime" jdbcType="TIMESTAMP" />
    <result column="ApplyList_Status" property="applylistStatus" jdbcType="INTEGER" />
    <result column="ApplyList_UserPhone" property="applylistUserphone" jdbcType="VARCHAR" />
    <result column="ApplyList_Content" property="applylistContent" jdbcType="VARCHAR" />
    <result column="ApplyList_Area" property="applylistArea" jdbcType="VARCHAR" />
    <result column="ApplyList_AreaID" property="applylistAreaid" jdbcType="BIGINT" />
    <result column="ApplyList_CheckerID" property="applylistCheckerid" jdbcType="BIGINT" />
    <result column="ApplyList_CheckResult" property="applylistCheckresult" jdbcType="VARCHAR" />
    <result column="ApplyList_NID" property="applylistNid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ApplyList_ID, ApplyList_UserName, ApplyList_CreateTime, ApplyList_ModifyTime, ApplyList_Status, 
    ApplyList_UserPhone, ApplyList_Content, ApplyList_Area, ApplyList_AreaID, ApplyList_CheckerID, 
    ApplyList_CheckResult, ApplyList_NID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rb_applylist
    where ApplyList_ID = #{applylistId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_applylist
    where ApplyList_ID = #{applylistId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.Applylist" >
    insert into rb_applylist (ApplyList_ID, ApplyList_UserName, ApplyList_CreateTime, 
      ApplyList_ModifyTime, ApplyList_Status, 
      ApplyList_UserPhone, ApplyList_Content, ApplyList_Area, 
      ApplyList_AreaID, ApplyList_CheckerID, ApplyList_CheckResult, 
      ApplyList_NID)
    values (#{applylistId,jdbcType=BIGINT}, #{applylistUsername,jdbcType=VARCHAR}, #{applylistCreatetime,jdbcType=TIMESTAMP}, 
      #{applylistModifytime,jdbcType=TIMESTAMP}, #{applylistStatus,jdbcType=INTEGER}, 
      #{applylistUserphone,jdbcType=VARCHAR}, #{applylistContent,jdbcType=VARCHAR}, #{applylistArea,jdbcType=VARCHAR}, 
      #{applylistAreaid,jdbcType=BIGINT}, #{applylistCheckerid,jdbcType=BIGINT}, #{applylistCheckresult,jdbcType=VARCHAR}, 
      #{applylistNid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.Applylist" >
    insert into rb_applylist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applylistId != null" >
        ApplyList_ID,
      </if>
      <if test="applylistUsername != null" >
        ApplyList_UserName,
      </if>
      <if test="applylistCreatetime != null" >
        ApplyList_CreateTime,
      </if>
      <if test="applylistModifytime != null" >
        ApplyList_ModifyTime,
      </if>
      <if test="applylistStatus != null" >
        ApplyList_Status,
      </if>
      <if test="applylistUserphone != null" >
        ApplyList_UserPhone,
      </if>
      <if test="applylistContent != null" >
        ApplyList_Content,
      </if>
      <if test="applylistArea != null" >
        ApplyList_Area,
      </if>
      <if test="applylistAreaid != null" >
        ApplyList_AreaID,
      </if>
      <if test="applylistCheckerid != null" >
        ApplyList_CheckerID,
      </if>
      <if test="applylistCheckresult != null" >
        ApplyList_CheckResult,
      </if>
      <if test="applylistNid != null" >
        ApplyList_NID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applylistId != null" >
        #{applylistId,jdbcType=BIGINT},
      </if>
      <if test="applylistUsername != null" >
        #{applylistUsername,jdbcType=VARCHAR},
      </if>
      <if test="applylistCreatetime != null" >
        #{applylistCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="applylistModifytime != null" >
        #{applylistModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="applylistStatus != null" >
        #{applylistStatus,jdbcType=INTEGER},
      </if>
      <if test="applylistUserphone != null" >
        #{applylistUserphone,jdbcType=VARCHAR},
      </if>
      <if test="applylistContent != null" >
        #{applylistContent,jdbcType=VARCHAR},
      </if>
      <if test="applylistArea != null" >
        #{applylistArea,jdbcType=VARCHAR},
      </if>
      <if test="applylistAreaid != null" >
        #{applylistAreaid,jdbcType=BIGINT},
      </if>
      <if test="applylistCheckerid != null" >
        #{applylistCheckerid,jdbcType=BIGINT},
      </if>
      <if test="applylistCheckresult != null" >
        #{applylistCheckresult,jdbcType=VARCHAR},
      </if>
      <if test="applylistNid != null" >
        #{applylistNid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.Applylist" >
    update rb_applylist
    <set >
      <if test="applylistUsername != null" >
        ApplyList_UserName = #{applylistUsername,jdbcType=VARCHAR},
      </if>
      <if test="applylistCreatetime != null" >
        ApplyList_CreateTime = #{applylistCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="applylistModifytime != null" >
        ApplyList_ModifyTime = #{applylistModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="applylistStatus != null" >
        ApplyList_Status = #{applylistStatus,jdbcType=INTEGER},
      </if>
      <if test="applylistUserphone != null" >
        ApplyList_UserPhone = #{applylistUserphone,jdbcType=VARCHAR},
      </if>
      <if test="applylistContent != null" >
        ApplyList_Content = #{applylistContent,jdbcType=VARCHAR},
      </if>
      <if test="applylistArea != null" >
        ApplyList_Area = #{applylistArea,jdbcType=VARCHAR},
      </if>
      <if test="applylistAreaid != null" >
        ApplyList_AreaID = #{applylistAreaid,jdbcType=BIGINT},
      </if>
      <if test="applylistCheckerid != null" >
        ApplyList_CheckerID = #{applylistCheckerid,jdbcType=BIGINT},
      </if>
      <if test="applylistCheckresult != null" >
        ApplyList_CheckResult = #{applylistCheckresult,jdbcType=VARCHAR},
      </if>
      <if test="applylistNid != null" >
        ApplyList_NID = #{applylistNid,jdbcType=VARCHAR},
      </if>
    </set>
    where ApplyList_ID = #{applylistId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.Applylist" >
    update rb_applylist
    set ApplyList_UserName = #{applylistUsername,jdbcType=VARCHAR},
      ApplyList_CreateTime = #{applylistCreatetime,jdbcType=TIMESTAMP},
      ApplyList_ModifyTime = #{applylistModifytime,jdbcType=TIMESTAMP},
      ApplyList_Status = #{applylistStatus,jdbcType=INTEGER},
      ApplyList_UserPhone = #{applylistUserphone,jdbcType=VARCHAR},
      ApplyList_Content = #{applylistContent,jdbcType=VARCHAR},
      ApplyList_Area = #{applylistArea,jdbcType=VARCHAR},
      ApplyList_AreaID = #{applylistAreaid,jdbcType=BIGINT},
      ApplyList_CheckerID = #{applylistCheckerid,jdbcType=BIGINT},
      ApplyList_CheckResult = #{applylistCheckresult,jdbcType=VARCHAR},
      ApplyList_NID = #{applylistNid,jdbcType=VARCHAR}
    where ApplyList_ID = #{applylistId,jdbcType=BIGINT}
  </update>
</mapper>