<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.AuctionRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.AuctionRecords" >
    <id column="auction_Id" property="auctionId" jdbcType="BIGINT" />
    <result column="auction_userid" property="auctionUserid" jdbcType="BIGINT" />
    <result column="auction_goodsid" property="auctionGoodsid" jdbcType="BIGINT" />
    <result column="auction_prize" property="auctionPrize" jdbcType="INTEGER" />
    <result column="auction_status" property="auctionStatus" jdbcType="INTEGER" />
    <result column="auction_delete" property="auctionDelete" jdbcType="INTEGER" />
    <result column="auction_explain" property="auctionExplain" jdbcType="VARCHAR" />
    <result column="auction_createtime" property="auctionCreatetime" jdbcType="TIMESTAMP" />
    <result column="auction_modifytime" property="auctionModifytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithUserName" type="com.huban.pojo.AuctionRecords" extends="BaseResultMap" >
    <result column="auction_UserName" property="auctionUserName" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
    <result column="auction_HeadIcon" property="auctionHeadIcon" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
  </resultMap>
  <sql id="Base_Column_List" >
    auction_Id, auction_userid, auction_goodsid, auction_prize, auction_status, auction_delete, 
    auction_explain, auction_createtime, auction_modifytime
  </sql>
  
  <!-- V2 SQL -->
    <sql id="WhereSql">
    WHERE
    	   1 = 1
      <if test="ID != null" >
        AND auction_Id = #{ID}
        </if>
      <if test="UID != null" >
        AND auction_userid = #{UID}
        </if>
      <if test="DBID != null" >
        AND auction_goodsid = #{DBID}
        </if>
      <if test="Rand != null" >
        AND #{Rand} = #{Rand}
        </if>
    </sql>
    <sql id="FiltrateSql">
    	  AND auction_delete = 0  
    	  <if test="Limit != null" >
        ORDER BY auction_createtime DESC LIMIT 1
        </if>
    </sql>
    <sql id="SpecialSql">
    	<if test="start != null and size != null" >
        LIMIT #{start},#{size}
        </if>
    </sql>
  
  <insert id="IncreaseMessage" parameterType="com.huban.pojo.AuctionRecords" >
    insert into rb_auction_records (auction_Id, auction_userid, auction_goodsid, 
      auction_prize, auction_status, auction_delete, 
      auction_explain, auction_createtime, auction_modifytime
      )
    values (#{auctionId,jdbcType=BIGINT}, #{auctionUserid,jdbcType=BIGINT}, #{auctionGoodsid,jdbcType=BIGINT}, 
      #{auctionPrize,jdbcType=INTEGER}, #{auctionStatus,jdbcType=INTEGER}, 0, 
      #{auctionExplain,jdbcType=VARCHAR}, now(), now()
      )
  </insert>
  
  <select id="SearchMessage" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rb_auction_records
       <include refid="WhereSql" />
    	   <include refid="FiltrateSql" /> 
  </select>
  
  <select id="LstSearchMessage" resultMap="ResultMapWithUserName" parameterType="java.lang.Long" >
    select 
    auction_Id, auction_userid, auction_goodsid, auction_prize, auction_status, auction_delete, 
    auction_explain, auction_createtime, auction_modifytime, 
    (SELECT User_Name FROM rb_user WHERE User_Id = auction_userid AND User_Delete = 0) AS auction_UserName, 
    (SELECT User_HeadIcon FROM rb_user WHERE User_Id = auction_userid AND User_Delete = 0) AS auction_HeadIcon
    from rb_auction_records
       <include refid="WhereSql" />
    	   <include refid="FiltrateSql" /> ORDER BY auction_createtime DESC
    	   <include refid="SpecialSql" /> 
  </select>
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rb_auction_records
    where auction_Id = #{auctionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_auction_records
    where auction_Id = #{auctionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.AuctionRecords" >
    insert into rb_auction_records (auction_Id, auction_userid, auction_goodsid, 
      auction_prize, auction_status, auction_delete, 
      auction_explain, auction_createtime, auction_modifytime
      )
    values (#{auctionId,jdbcType=BIGINT}, #{auctionUserid,jdbcType=BIGINT}, #{auctionGoodsid,jdbcType=BIGINT}, 
      #{auctionPrize,jdbcType=INTEGER}, #{auctionStatus,jdbcType=INTEGER}, #{auctionDelete,jdbcType=INTEGER}, 
      #{auctionExplain,jdbcType=VARCHAR}, #{auctionCreatetime,jdbcType=TIMESTAMP}, #{auctionModifytime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.AuctionRecords" >
    insert into rb_auction_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="auctionId != null" >
        auction_Id,
      </if>
      <if test="auctionUserid != null" >
        auction_userid,
      </if>
      <if test="auctionGoodsid != null" >
        auction_goodsid,
      </if>
      <if test="auctionPrize != null" >
        auction_prize,
      </if>
      <if test="auctionStatus != null" >
        auction_status,
      </if>
      <if test="auctionDelete != null" >
        auction_delete,
      </if>
      <if test="auctionExplain != null" >
        auction_explain,
      </if>
      <if test="auctionCreatetime != null" >
        auction_createtime,
      </if>
      <if test="auctionModifytime != null" >
        auction_modifytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="auctionId != null" >
        #{auctionId,jdbcType=BIGINT},
      </if>
      <if test="auctionUserid != null" >
        #{auctionUserid,jdbcType=BIGINT},
      </if>
      <if test="auctionGoodsid != null" >
        #{auctionGoodsid,jdbcType=BIGINT},
      </if>
      <if test="auctionPrize != null" >
        #{auctionPrize,jdbcType=INTEGER},
      </if>
      <if test="auctionStatus != null" >
        #{auctionStatus,jdbcType=INTEGER},
      </if>
      <if test="auctionDelete != null" >
        #{auctionDelete,jdbcType=INTEGER},
      </if>
      <if test="auctionExplain != null" >
        #{auctionExplain,jdbcType=VARCHAR},
      </if>
      <if test="auctionCreatetime != null" >
        #{auctionCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="auctionModifytime != null" >
        #{auctionModifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.AuctionRecords" >
    update rb_auction_records
    <set >
      <if test="auctionUserid != null" >
        auction_userid = #{auctionUserid,jdbcType=BIGINT},
      </if>
      <if test="auctionGoodsid != null" >
        auction_goodsid = #{auctionGoodsid,jdbcType=BIGINT},
      </if>
      <if test="auctionPrize != null" >
        auction_prize = #{auctionPrize,jdbcType=INTEGER},
      </if>
      <if test="auctionStatus != null" >
        auction_status = #{auctionStatus,jdbcType=INTEGER},
      </if>
      <if test="auctionDelete != null" >
        auction_delete = #{auctionDelete,jdbcType=INTEGER},
      </if>
      <if test="auctionExplain != null" >
        auction_explain = #{auctionExplain,jdbcType=VARCHAR},
      </if>
      <if test="auctionCreatetime != null" >
        auction_createtime = #{auctionCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="auctionModifytime != null" >
        auction_modifytime = #{auctionModifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where auction_Id = #{auctionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.AuctionRecords" >
    update rb_auction_records
    set auction_userid = #{auctionUserid,jdbcType=BIGINT},
      auction_goodsid = #{auctionGoodsid,jdbcType=BIGINT},
      auction_prize = #{auctionPrize,jdbcType=INTEGER},
      auction_status = #{auctionStatus,jdbcType=INTEGER},
      auction_delete = #{auctionDelete,jdbcType=INTEGER},
      auction_explain = #{auctionExplain,jdbcType=VARCHAR},
      auction_createtime = #{auctionCreatetime,jdbcType=TIMESTAMP},
      auction_modifytime = #{auctionModifytime,jdbcType=TIMESTAMP}
    where auction_Id = #{auctionId,jdbcType=BIGINT}
  </update>
</mapper>