<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huban.dao.EvaluationMapper">
<resultMap type="com.huban.pojo.Evaluation" id="ClassResultMap">
	<result property="id" column="evaluation_id"/>
	<result property="pkid" column="evaluation_id"/>
	<result property="url" column="evaluation_url"/>
	<result property="name" column="evaluation_name"/>
	<result property="createTime" column="evaluation_createTime"/>
	<result property="modifyTime" column="evaluation_modifyTime" />
	<result property="status" column="evaluation_status"/>
	<result property="level" column="evaluation_level" />
	<result property="parent" column="evaluation_parent"/>
</resultMap>
<sql id="sql">
		rb_evaluation.evaluation_id,
		rb_evaluation.evaluation_name,
		rb_evaluation.evaluation_url,
		rb_evaluation.evaluation_createTime,
		rb_evaluation.evaluation_modifyTime,
		rb_evaluation.evaluation_status,
		rb_evaluation.evaluation_level,
		rb_evaluation.evaluation_parent
</sql>
<sql id="where">
      1=1
	<if test="id!=null">
		and evaluation_id=#{id}
	</if>
	<if test="parent!=null">
		and evaluation_parent=#{parent}
	</if>
	<if test="status!=null">
		and evaluation_status=#{status}
	</if>
	<if test="status==null">
		and evaluation_status=1
	</if>
	<if test="parentIsNull!=null">
		and evaluation_parent  is NULL
	</if>
</sql>
<sql id="sqlname">
	rb_evaluation
</sql>
<select id="getEvaluationList" parameterType="map" resultMap="ClassResultMap">
	SELECT
		<include refid="sql"></include>
	FROM 
		<include refid="sqlname"></include>
	<where>
		<include refid="where"></include>
	</where>
	order by evaluation_createTime desc
	<if test="size != null and start !=null ">
		  limit #{start},#{size}
	</if>
</select>
<select id="getEvaluationCount" parameterType="map" resultType="int">
	SELECT
		Count(1)
	FROM 
		<include refid="sqlname"></include>
	<where>
		<include refid="where"></include>
	</where>
	
</select>
<insert id="addEvaluation" parameterType="com.huban.pojo.Evaluation" keyProperty="id" useGeneratedKeys="true">
	INSERT INTO 
		<include refid="sqlname"></include> 
		(
			<include refid="sql"></include>
		) VALUES (
			#{id}, #{name}, #{url},now(),now(),#{status},#{level},#{parent}
		)
</insert>
<delete id="deleteEvaluation" parameterType="com.huban.pojo.Evaluation">
	 update  <include refid="sqlname"></include> set evaluation_status=88
			where
				 evaluation_id = #{id}
</delete>
</mapper>

