<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.GamepartMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.Gamepart" >
    <id column="game_linkId" property="gameLinkid" jdbcType="BIGINT" />
    <result column="game_Id" property="gameId" jdbcType="BIGINT" />
    <result column="game_userId" property="gameUserid" jdbcType="BIGINT" />
    <result column="game_Name" property="gameName" jdbcType="VARCHAR" />
    <result column="game_CreateTime" property="gameCreatetime" jdbcType="TIMESTAMP" />
    <result column="game_ModifyTime" property="gameModifytime" jdbcType="TIMESTAMP" />
    <result column="game_Pass" property="gamePass" jdbcType="INTEGER" />
    <result column="game_Passtotel" property="gamePasstotel" jdbcType="INTEGER" />
    <result column="game_iconurl" property="gameIconurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    game_linkId, game_Id, game_userId, game_Name, game_CreateTime, game_ModifyTime, game_Pass, 
    game_Passtotel,game_iconurl
  </sql>
   
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rb_gamepart
    where game_linkId = #{gameLinkid,jdbcType=BIGINT}
  </select>
  <!-- 自定义sql -->
  <select id="queryList" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from rb_gamepart
    where game_userId = #{userId,jdbcType=BIGINT}
    limit #{start},#{size}
  </select>
  <select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rb_gamepart
    where game_Id = #{gameId,jdbcType=BIGINT} limit 1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_gamepart
    where game_userId = #{userId}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.Gamepart" >
    insert into rb_gamepart (game_linkId, game_Id, game_userId, 
      game_Name, game_CreateTime, game_ModifyTime, 
      game_Pass, game_Passtotel)
    values (#{gameLinkid,jdbcType=BIGINT}, #{gameId,jdbcType=BIGINT}, #{gameUserid,jdbcType=BIGINT}, 
      #{gameName,jdbcType=VARCHAR}, #{gameCreatetime,jdbcType=TIMESTAMP}, #{gameModifytime,jdbcType=TIMESTAMP}, 
      #{gamePass,jdbcType=INTEGER}, #{gamePasstotel,jdbcType=INTEGER})
  </insert>
  
  
  <insert id="insertSelective" parameterType="com.huban.pojo.Gamepart" >
    insert into rb_gamepart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gameLinkid != null" >
        game_linkId,
      </if>
      <if test="gameId != null" >
        game_Id,
      </if>
      <if test="gameUserid != null" >
        game_userId,
      </if>
      <if test="gameName != null" >
        game_Name,
      </if>
      <if test="gameCreatetime != null" >
        game_CreateTime,
      </if>
      <if test="gameModifytime != null" >
        game_ModifyTime,
      </if>
      <if test="gamePass != null" >
        game_Pass,
      </if>
      <if test="gamePasstotel != null" >
        game_Passtotel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gameLinkid != null" >
        #{gameLinkid,jdbcType=BIGINT},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=BIGINT},
      </if>
      <if test="gameUserid != null" >
        #{gameUserid,jdbcType=BIGINT},
      </if>
      <if test="gameName != null" >
        #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameCreatetime != null" >
        #{gameCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="gameModifytime != null" >
        #{gameModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="gamePass != null" >
        #{gamePass,jdbcType=INTEGER},
      </if>
      <if test="gamePasstotel != null" >
        #{gamePasstotel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.Gamepart" >
    update rb_gamepart
    <set >
      <if test="gameId != null" >
        game_Id = #{gameId,jdbcType=BIGINT},
      </if>
      <if test="gameUserid != null" >
        game_userId = #{gameUserid,jdbcType=BIGINT},
      </if>
      <if test="gameName != null" >
        game_Name = #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameCreatetime != null" >
        game_CreateTime = #{gameCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="gameModifytime != null" >
        game_ModifyTime = #{gameModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="gamePass != null" >
        game_Pass = #{gamePass,jdbcType=INTEGER},
      </if>
      <if test="gamePasstotel != null" >
        game_Passtotel = #{gamePasstotel,jdbcType=INTEGER},
      </if>
    </set>
    where game_linkId = #{gameLinkid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.Gamepart" >
    update rb_gamepart
    set game_Id = #{gameId,jdbcType=BIGINT},
      game_userId = #{gameUserid,jdbcType=BIGINT},
      game_Name = #{gameName,jdbcType=VARCHAR},
      game_CreateTime = #{gameCreatetime,jdbcType=TIMESTAMP},
      game_ModifyTime = #{gameModifytime,jdbcType=TIMESTAMP},
      game_Pass = #{gamePass,jdbcType=INTEGER},
      game_Passtotel = #{gamePasstotel,jdbcType=INTEGER}
    where game_linkId = #{gameLinkid,jdbcType=BIGINT}
  </update>
</mapper>