<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huban.dao.GradeMapper">
<resultMap type="com.huban.pojo.Grade" id="ClassResultMap">
	<result property="id" column="grade_id"/>
	<result property="pkid" column="grade_id"/>
	<result property="userid" column="grade_userid" />
	<result property="type" column="grade_type"/>
	<result property="level" column="grade_level" />
	<result property="createTime" column="grade_createTime"/>
	<result property="modifyTime" column="grade_modifyTime" />
	<result property="status" column="grade_status"/>
	<result property="grade" column="grade_grade" />
	<result property="online" column="grade_online" />
	
</resultMap>
<sql id="sql">
	rb_grade.grade_id,
	rb_grade.grade_userid,
	rb_grade.grade_type,
	rb_grade.grade_level,
	rb_grade.grade_createTime,
	rb_grade.grade_modifyTime,
	rb_grade.grade_status,
	rb_grade.grade_grade,
	rb_grade.grade_online
</sql>
<sql id="where">
      1=1
	<if test="id!=null">
		and grade_id=#{id}
	</if>
	<if test="status!=null">
		and grade_status=#{status}
	</if>
	<if test="status==null">
		and grade_status=1
	</if>
	<if test="type!=null">
		and grade_type=#{type}
	</if>
	<if test="level!=null">
		and grade_level=#{level}
	</if>
	<if test="online!=null">
		and grade_online=#{online}
	</if>
	<if test="userid!=null">
		and grade_userid=#{userid}
	</if>
	
</sql>
<sql id="sqlname">
	rb_grade
</sql>
<select id="getGradeList" parameterType="map" resultMap="ClassResultMap">
	SELECT
		<include refid="sql"></include>
	FROM 
		<include refid="sqlname"></include>
	<where>
		<include refid="where"></include>
	</where>
		order by grade_createTime desc
	<if test="size != null and start !=null ">
		  limit #{start},#{size}
	</if>
</select>
<select id="getGradeCount" parameterType="map" resultType="int">
	SELECT
		Count(1)
	FROM 
		<include refid="sqlname"></include>
	<where>
		<include refid="where"></include>
	</where>
	
</select>
<insert id="addGrade" parameterType="com.huban.pojo.Grade" keyProperty="id" useGeneratedKeys="true">
	INSERT INTO 
		<include refid="sqlname"></include> 
		(
			<include refid="sql"></include>
		) VALUES (
			#{id}, #{userid},#{type},#{level}, now(),now(),#{status},#{grade},#{online}
		)
</insert>
<delete id="deleteGrade" parameterType="com.huban.pojo.Grade">
	 update  <include refid="sqlname"></include> set grade_status=88
			where
				 grade_id = #{id}
</delete>
</mapper>

