<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huban.dao.InformationMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<!-- search result -->
	<resultMap id="Information" type="com.huban.pojo.Information">
		<result property="Information_Id" column="Information_Id" />
		<result property="Information_UserId" column="Information_UserId" />
		<result property="Information_Title" column="Information_Title" />
		<result property="Information_Content" column="Information_Content" />
		<result property="Information_Afterword" column="Information_Afterword" />
		<result property="Information_Address" column="Information_Address" />
		<result property="Information_Auther" column="Information_Auther" />
		<result property="Information_Press" column="Information_Press" />
		<result property="Information_HeadPictureId" column="Information_HeadPictureId" />
		<result property="Information_HeadPictureUrl" column="Information_HeadPictureUrl" />
		<result property="Information_PictureId" column="Information_PictureId" />
		<result property="Information_PictureUrl" column="Information_PictureUrl" />
		<result property="Information_RecommendType" column="Information_RecommendType" />
		<result property="Information_Hotspot" column="Information_Hotspot" />
		<result property="Information_Type" column="Information_Type" />
		<result property="Information_Sort" column="Information_Sort" />
		<result property="Information_Purpose" column="Information_Purpose" />
		<result property="Information_RedirectUrl" column="Information_RedirectUrl" />
		<result property="Information_Status" column="Information_Status" />
		<result property="Information_Delete" column="Information_Delete" />
		<result property="Information_VoteNum" column="Information_VoteNum" />
		<result property="Information_ShareNum" column="Information_ShareNum" />
		<result property="Information_DiscussNum" column="Information_DiscussNum" />
		<result property="Information_LikeNum" column="Information_LikeNum" />
		<result property="Information_Version" column="Information_Version" />
		<result property="Information_ReadNum" column="Information_ReadNum" />
		<result property="Information_Belong" column="Information_Belong" />
		<result property="Information_CreateTime" column="Information_CreateTime" />
		<result property="Information_ModifyTime" column="Information_ModifyTime" />
		<result property="ReadStatus" column="ReadStatus" />
		<result property="LikeStatus" column="LikeStatus" />
		<result property="VoteStatus" column="VoteStatus" />
	</resultMap>

	<sql id="sql">
		Information_Id,Information_UserId,Information_Title,Information_Content,Information_Afterword,Information_Address,Information_Auther,Information_Press,Information_HeadPictureId,Information_HeadPictureUrl,Information_PictureId,Information_PictureUrl,Information_RecommendType,Information_Hotspot,Information_Type,Information_Sort,Information_Purpose,Information_RedirectUrl,Information_Status,Information_Delete,Information_VoteNum,Information_ReadNum,Information_Version,Information_LikeNum,Information_DiscussNum,Information_ShareNum,Information_Belong,Information_CreateTime,Information_ModifyTime
		<if test="userId != null and type != null">
			,(SELECT COUNT(*) FROM rb_likestatus WHERE Like_Delete = 0 AND Colu_Id = Information_Id AND From_UserId = #{userId} AND like_Type = #{type}) AS ReadStatus
			,(SELECT Like_Status FROM rb_likestatus WHERE Like_Delete = 0 AND Colu_Id = Information_Id AND From_UserId = #{userId} AND like_Type = #{type} LIMIT 1) AS LikeStatus
		</if>
	</sql>
	<sql id="where">
		1 = 1
		<if test="Information_Id != null">
			and Information_Id = #{Information_Id}
		</if>
		<if test="Information_UserId != null">
			and Information_UserId = #{Information_UserId}
		</if>
		<if test="Information_Title != null">
			and Information_Title = #{Information_Title}
		</if>
		<if test="Information_Content != null">
			and Information_Content = #{Information_Content}
		</if>
		<if test="Information_Afterword != null">
			and Information_Afterword = #{Information_Afterword}
		</if>
		<if test="Information_Address != null">
			and Information_Address = #{Information_Address}
		</if>
		<if test="Information_Auther != null">
			and Information_Auther = #{Information_Auther}
		</if>
		<if test="Information_Press != null">
			and Information_Press = #{Information_Press}
		</if>
		<if test="Information_HeadPictureId != null">
			and Information_HeadPictureId = #{Information_HeadPictureId}
		</if>
		<if test="Information_HeadPictureUrl != null">
			and Information_HeadPictureUrl = #{Information_HeadPictureUrl}
		</if>
		<if test="Information_PictureId != null">
			and Information_PictureId = #{Information_PictureId}
		</if>
		<if test="Information_PictureUrl != null">
			and Information_PictureUrl = #{Information_PictureUrl}
		</if>
		<if test="Information_RecommendType != null">
			and Information_RecommendType = #{Information_RecommendType}
		</if>
		<if test="Information_Hotspot != null">
			and Information_Hotspot = #{Information_Hotspot}
		</if>
		<if test="Information_Type != null">
			and Information_Type = #{Information_Type}
		</if>
		<if test="Information_Sort != null">
			and Information_Sort = #{Information_Sort}
		</if>
		<if test="Information_Purpose != null">
			and Information_Purpose = #{Information_Purpose}
		</if>
		<if test="Information_RedirectUrl != null">
			and Information_RedirectUrl = #{Information_RedirectUrl}
		</if>
		<if test="Information_Status != null">
			and Information_Status = #{Information_Status}
		</if>
		<if test="Information_Delete != null">
			and Information_Delete &lt; #{Information_Delete}
		</if>
		<if test="Information_VoteNum != null">
			and Information_VoteNum = #{Information_VoteNum}
		</if>
		<if test="Information_ReadNum != null">
			and Information_ReadNum = #{Information_ReadNum}
		</if>
		<if test="Information_ShareNum != null">
			and Information_ShareNum = #{Information_ShareNum}
		</if>
		<if test="Information_DiscussNum != null">
			and Information_DiscussNum = #{Information_DiscussNum}
		</if>
		<if test="Information_LikeNum != null">
			and Information_LikeNum = #{Information_LikeNum}
		</if>
		<if test="Information_Version != null">
			and Information_Version = #{Information_Version}
		</if>
		<if test="Information_Belong != null">
			and Information_Belong = #{Information_Belong}
		</if>
		<if test="Information_ModifyTime != null">
			and Information_ModifyTime = #{Information_ModifyTime}
		</if>
	</sql>


	<select id="FindByInformationId" resultType="com.huban.pojo.Information" parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
		FROM rb_information
		<where>
			Information_Id = #{_parameter}
		</where>
	</select>

	<select id="FindInformationsByCondition" resultMap="Information" parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
		FROM rb_information
		<where>
			<include refid="where"></include>
		</where>
		order by Information_Sort ASC, Information_CreateTime DESC
		<if test="start != null and size != null">
			LIMIT #{start},#{size}
		</if>
	</select>

	<select id="getCountByCondition" parameterType="map" resultType="int">
		SELECT
		Count(1)
		FROM rb_information
		<where>
			<include refid="where"></include>
		</where>

	</select>

	<!-- insert sql -->
	<insert id="addInformation" parameterType="com.huban.pojo.Information" keyProperty="ID" useGeneratedKeys="true">
		insert into
		rb_information(Information_Id,Information_UserId,Information_Title,Information_Content,Information_Afterword,Information_Address,Information_Auther,Information_Press,Information_HeadPictureId,Information_HeadPictureUrl,Information_PictureId,Information_PictureUrl,Information_RecommendType,Information_Hotspot,Information_Type,Information_Sort,Information_Purpose,Information_RedirectUrl,Information_Status,Information_Delete,Information_VoteNum,Information_ReadNum,Information_ShareNum,Information_Version,Information_LikeNum,Information_DiscussNum,Information_Belong,Information_CreateTime,Information_ModifyTime)
		values(
		#{Information_Id},#{Information_UserId},#{Information_Title},#{Information_Content},#{Information_Afterword},#{Information_Address},#{Information_Auther},#{Information_Press},#{Information_HeadPictureId},#{Information_HeadPictureUrl},#{Information_PictureId},{Information_PictureUrl},#{Information_RecommendType},#{Information_Hotspot},#{Information_Type},#{Information_Sort},#{Information_Purpose},#{Information_RedirectUrl},#{Information_Status}, 0, 0, 0, 0, 0, 0, 0, #{Information_Belong}, now(), now())
	</insert>


	<update id="UpdateInformation" parameterType="com.huban.pojo.Information">
		update rb_information set 
			<if test="Information_Title != null">
				Information_Title = #{Information_Title},
			</if>
			<if test="Information_Content != null">
				Information_Content = #{Information_Content},
			</if>
			<if test="Information_Afterword != null">
				Information_Afterword = #{Information_Afterword},
			</if>
			<if test="Information_Address != null">
				Information_Address = #{Information_Address},
			</if>
			<if test="Information_Auther != null">
				Information_Auther = #{Information_Auther},
			</if>
			<if test="Information_Press != null">
				Information_Press = #{Information_Press},
			</if>
			<if test="Information_HeadPictureId != null">
				Information_HeadPictureId = #{Information_HeadPictureId},
			</if>
			<if test="Information_HeadPictureUrl != null">
				Information_HeadPictureUrl = #{Information_HeadPictureUrl},
			</if>
			<if test="Information_PictureId != null">
				Information_PictureId = #{Information_PictureId},
			</if>
			<if test="Information_PictureUrl != null">
				Information_PictureUrl = #{Information_PictureUrl},
			</if>
			<if test="Information_RecommendType != null">
				Information_RecommendType = #{Information_RecommendType},
			</if>
			<if test="Information_Hotspot != null">
				Information_Hotspot = #{Information_Hotspot},
			</if>
			<if test="Information_Type != null">
				Information_Type = #{Information_Type},
			</if>
			<if test="Information_Sort != null">
				Information_Sort = #{Information_Sort},
			</if>
			<if test="Information_Purpose != null">
				Information_Purpose = #{Information_Purpose},
			</if>
			<if test="Information_RedirectUrl != null">
				Information_RedirectUrl = #{Information_RedirectUrl},
			</if>
			<if test="Information_Status != null">
				Information_Status = #{Information_Status},
			</if>
			<if test="Information_Delete != null">
				Information_Delete = #{Information_Delete},
			</if>
			<if test="Information_VoteNum != null">
				Information_VoteNum = Information_VoteNum + #{Information_VoteNum},
			</if>
			<if test="Information_ReadNum != null">
				Information_ReadNum = Information_ReadNum + #{Information_ReadNum},
			</if>
			<if test="Information_ShareNum != null">
				Information_ShareNum = Information_ShareNum + #{Information_ShareNum},
			</if>
			<if test="Information_DiscussNum != null">
				Information_DiscussNum = Information_DiscussNum + #{Information_DiscussNum},
			</if>
			<if test="Information_LikeNum != null">
				Information_LikeNum = Information_LikeNum + #{Information_LikeNum},
			</if>
			<if test="Information_Version != null">
				Information_Version = Information_Version + 1,
			</if>
			<if test="Information_Belong != null">
				Information_Belong = #{Information_Belong},
			</if>
				Information_ModifyTime = now()
		<where>
			1 = 1
			<if test="Information_Id != null">
				AND Information_Id = #{Information_Id}
			</if>
			<if test="Information_UserId != null">
				AND Information_UserId = #{Information_UserId}
			</if>
		</where>
	</update>

	<delete id="DeleteInformationById" parameterType="com.huban.pojo.Information">
		update rb_information set Information_Delete = 88
		<where>
			<include refid="where"></include>
		</where>
	</delete>

	<delete id="EnabledInformationById" parameterType="com.huban.pojo.Information">
		update rb_information set Information_Delete = 1
		<where>
			<include refid="where"></include>
		</where>
	</delete>
</mapper>
