<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.IntegrationMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.Integration" >
    <id column="Integration_ID" property="integrationId" jdbcType="BIGINT" />
    <result column="Integration_CreateTime" property="integrationCreatetime" jdbcType="TIMESTAMP" />
    <result column="Integration_Status" property="integrationStatus" jdbcType="INTEGER" />
    <result column="Integration_Num" property="integrationNum" jdbcType="DECIMAL" />
    <result column="Integration_StudentID" property="integrationStudentid" jdbcType="BIGINT" />
    <result column="Integration_SrcID" property="integrationSrcid" jdbcType="BIGINT" />
    <result column="Integration_Type" property="integrationType" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.huban.pojo.Integration" extends="BaseResultMap" >
    <result column="Integration_Reason" property="integrationReason" jdbcType="VARCHAR" javaType="String"/>
  </resultMap>
  <sql id="Base_Column_List" >
    Integration_ID, Integration_CreateTime, Integration_Status, Integration_Num, Integration_StudentID, 
    Integration_SrcID, Integration_Type
  </sql>
  <sql id="Blob_Column_List" >
    Integration_Reason
  </sql>
  <!-- 自定义sql -->
  <insert id="addmessage" parameterType="com.huban.pojo.Integration" >
    insert into rb_integration (Integration_ID, Integration_CreateTime, 
      Integration_Status, Integration_Num, Integration_StudentID, 
      Integration_SrcID, Integration_Type, Integration_Reason
      )
    values (#{integrationId,jdbcType=BIGINT}, now(), 
      #{integrationStatus,jdbcType=INTEGER}, #{integrationNum,jdbcType=DECIMAL}, #{integrationStudentid,jdbcType=BIGINT}, 
      #{integrationSrcid,jdbcType=BIGINT}, #{integrationType,jdbcType=INTEGER}, #{integrationReason}
      )
  </insert>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rb_integration
    where Integration_ID = #{integrationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_integration
    where Integration_ID = #{integrationId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.Integration" >
    insert into rb_integration (Integration_ID, Integration_CreateTime, 
      Integration_Status, Integration_Num, Integration_StudentID, 
      Integration_SrcID, Integration_Type, Integration_Reason
      )
    values (#{integrationId,jdbcType=BIGINT}, #{integrationCreatetime,jdbcType=TIMESTAMP}, 
      #{integrationStatus,jdbcType=INTEGER}, #{integrationNum,jdbcType=DECIMAL}, #{integrationStudentid,jdbcType=BIGINT}, 
      #{integrationSrcid,jdbcType=BIGINT}, #{integrationType,jdbcType=INTEGER}, #{integrationReason,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.Integration" >
    insert into rb_integration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="integrationId != null" >
        Integration_ID,
      </if>
      <if test="integrationCreatetime != null" >
        Integration_CreateTime,
      </if>
      <if test="integrationStatus != null" >
        Integration_Status,
      </if>
      <if test="integrationNum != null" >
        Integration_Num,
      </if>
      <if test="integrationStudentid != null" >
        Integration_StudentID,
      </if>
      <if test="integrationSrcid != null" >
        Integration_SrcID,
      </if>
      <if test="integrationType != null" >
        Integration_Type,
      </if>
      <if test="integrationReason != null" >
        Integration_Reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="integrationId != null" >
        #{integrationId,jdbcType=BIGINT},
      </if>
      <if test="integrationCreatetime != null" >
        #{integrationCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="integrationStatus != null" >
        #{integrationStatus,jdbcType=INTEGER},
      </if>
      <if test="integrationNum != null" >
        #{integrationNum,jdbcType=INTEGER},
      </if>
      <if test="integrationStudentid != null" >
        #{integrationStudentid,jdbcType=BIGINT},
      </if>
      <if test="integrationSrcid != null" >
        #{integrationSrcid,jdbcType=BIGINT},
      </if>
      <if test="integrationType != null" >
        #{integrationType,jdbcType=INTEGER},
      </if>
      <if test="integrationReason != null" >
        #{integrationReason,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.Integration" >
    update rb_integration
    <set >
      <if test="integrationCreatetime != null" >
        Integration_CreateTime = #{integrationCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="integrationStatus != null" >
        Integration_Status = #{integrationStatus,jdbcType=INTEGER},
      </if>
      <if test="integrationNum != null" >
        Integration_Num = #{integrationNum,jdbcType=DECIMAL},
      </if>
      <if test="integrationStudentid != null" >
        Integration_StudentID = #{integrationStudentid,jdbcType=BIGINT},
      </if>
      <if test="integrationSrcid != null" >
        Integration_SrcID = #{integrationSrcid,jdbcType=BIGINT},
      </if>
      <if test="integrationType != null" >
        Integration_Type = #{integrationType,jdbcType=INTEGER},
      </if>
      <if test="integrationReason != null" >
        Integration_Reason = #{integrationReason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Integration_ID = #{integrationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.huban.pojo.Integration" >
    update rb_integration
    set Integration_CreateTime = #{integrationCreatetime,jdbcType=TIMESTAMP},
      Integration_Status = #{integrationStatus,jdbcType=INTEGER},
      Integration_Num = #{integrationNum,jdbcType=DECIMAL},
      Integration_StudentID = #{integrationStudentid,jdbcType=BIGINT},
      Integration_SrcID = #{integrationSrcid,jdbcType=BIGINT},
      Integration_Type = #{integrationType,jdbcType=INTEGER},
      Integration_Reason = #{integrationReason,jdbcType=LONGVARCHAR}
    where Integration_ID = #{integrationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.Integration" >
    update rb_integration
    set Integration_CreateTime = #{integrationCreatetime,jdbcType=TIMESTAMP},
      Integration_Status = #{integrationStatus,jdbcType=INTEGER},
      Integration_Num = #{integrationNum,jdbcType=DECIMAL},
      Integration_StudentID = #{integrationStudentid,jdbcType=BIGINT},
      Integration_SrcID = #{integrationSrcid,jdbcType=BIGINT},
      Integration_Type = #{integrationType,jdbcType=INTEGER}
    where Integration_ID = #{integrationId,jdbcType=BIGINT}
  </update>
</mapper>