<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.LessonMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.Lesson" >
    <id column="lid" property="lid" jdbcType="SMALLINT" />
    <result column="lname" property="lname" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="SMALLINT" />
    <result column="isdelete" property="isdelete" jdbcType="SMALLINT" />
    <result column="level" property="level" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    lid, lname, parentid, isdelete, level
  </sql>
  
  <sql id="WhereSql" >
    where 1=1
    	<if test="pid != null" >
        	AND parentid = #{pid,jdbcType=SMALLINT}
        </if>
        <if test="level != null">
        	AND level = #{level,jdbcType=SMALLINT}
        </if> 
        AND isdelete = 0
  </sql>
  
  <select id="SearchMessageByCondition" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from rb_lesson
    <include refid="WhereSql" />
  </select>
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from rb_lesson
    where lid = #{lid,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from rb_lesson
    where lid = #{lid,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.Lesson" >
    insert into rb_lesson (lid, lname, parentid, 
      isdelete, level)
    values (#{lid,jdbcType=SMALLINT}, #{lname,jdbcType=VARCHAR}, #{parentid,jdbcType=SMALLINT}, 
      #{isdelete,jdbcType=SMALLINT}, #{level,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.Lesson" >
    insert into rb_lesson
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lid != null" >
        lid,
      </if>
      <if test="lname != null" >
        lname,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lid != null" >
        #{lid,jdbcType=SMALLINT},
      </if>
      <if test="lname != null" >
        #{lname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=SMALLINT},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=SMALLINT},
      </if>
      <if test="level != null" >
        #{level,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.Lesson" >
    update rb_lesson
    <set >
      <if test="lname != null" >
        lname = #{lname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=SMALLINT},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=SMALLINT},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=SMALLINT},
      </if>
    </set>
    where lid = #{lid,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.Lesson" >
    update rb_lesson
    set lname = #{lname,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=SMALLINT},
      isdelete = #{isdelete,jdbcType=SMALLINT},
      level = #{level,jdbcType=SMALLINT}
    where lid = #{lid,jdbcType=SMALLINT}
  </update>
</mapper>