<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.Message" >
    <id column="Message_ID" property="messageId" jdbcType="BIGINT" />
    <result column="Message_UserID" property="messageUserid" jdbcType="BIGINT" />
    <result column="Message_TypeID" property="messageTypeid" jdbcType="BIGINT" />
    <result column="Message_PictureID" property="messagePictureid" jdbcType="BIGINT" />
    <result column="Message_Title" property="messageTitle" jdbcType="VARCHAR" />
    <result column="Message_Content" property="messageContent" jdbcType="VARCHAR" />
    <result column="Message_Url" property="messageUrl" jdbcType="VARCHAR" />
    <result column="Message_CreateTime" property="messageCreatetime" jdbcType="TIMESTAMP" />
    <result column="Message_ModifyTime" property="messageModifytime" jdbcType="TIMESTAMP" />
    <result column="Message_Version" property="messageVersion" jdbcType="INTEGER" />
    <result column="Message_Status" property="messageStatus" jdbcType="TINYINT" />
    <result column="Message_HaveRead" property="messageHaveread" jdbcType="INTEGER" />
    <result column="Message_Deleted" property="messageDeleted" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    Message_ID, Message_UserID, Message_TypeID, Message_PictureID, Message_Title, Message_Content, 
    Message_Url, Message_CreateTime, Message_ModifyTime, Message_Version, Message_Status, 
    Message_HaveRead, Message_Deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rb_message
    where Message_ID = #{messageId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_message
    where Message_ID = #{messageId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.Message" >
    insert into rb_message (Message_ID, Message_UserID, Message_TypeID, 
      Message_PictureID, Message_Title, Message_Content, 
      Message_Url, Message_CreateTime, Message_ModifyTime, 
      Message_Version, Message_Status, Message_HaveRead, 
      Message_Deleted)
    values (#{messageId,jdbcType=BIGINT}, #{messageUserid,jdbcType=BIGINT}, #{messageTypeid,jdbcType=BIGINT}, 
      #{messagePictureid,jdbcType=BIGINT}, #{messageTitle,jdbcType=VARCHAR}, #{messageContent,jdbcType=VARCHAR}, 
      #{messageUrl,jdbcType=VARCHAR}, #{messageCreatetime,jdbcType=TIMESTAMP}, #{messageModifytime,jdbcType=TIMESTAMP}, 
      #{messageVersion,jdbcType=INTEGER}, #{messageStatus,jdbcType=TINYINT}, #{messageHaveread,jdbcType=INTEGER}, 
      #{messageDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.Message" >
    insert into rb_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        Message_ID,
      </if>
      <if test="messageUserid != null" >
        Message_UserID,
      </if>
      <if test="messageTypeid != null" >
        Message_TypeID,
      </if>
      <if test="messagePictureid != null" >
        Message_PictureID,
      </if>
      <if test="messageTitle != null" >
        Message_Title,
      </if>
      <if test="messageContent != null" >
        Message_Content,
      </if>
      <if test="messageUrl != null" >
        Message_Url,
      </if>
      <if test="messageCreatetime != null" >
        Message_CreateTime,
      </if>
      <if test="messageModifytime != null" >
        Message_ModifyTime,
      </if>
      <if test="messageVersion != null" >
        Message_Version,
      </if>
      <if test="messageStatus != null" >
        Message_Status,
      </if>
      <if test="messageHaveread != null" >
        Message_HaveRead,
      </if>
      <if test="messageDeleted != null" >
        Message_Deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        #{messageId,jdbcType=BIGINT},
      </if>
      <if test="messageUserid != null" >
        #{messageUserid,jdbcType=BIGINT},
      </if>
      <if test="messageTypeid != null" >
        #{messageTypeid,jdbcType=BIGINT},
      </if>
      <if test="messagePictureid != null" >
        #{messagePictureid,jdbcType=BIGINT},
      </if>
      <if test="messageTitle != null" >
        #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageUrl != null" >
        #{messageUrl,jdbcType=VARCHAR},
      </if>
      <if test="messageCreatetime != null" >
        #{messageCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageModifytime != null" >
        #{messageModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageVersion != null" >
        #{messageVersion,jdbcType=INTEGER},
      </if>
      <if test="messageStatus != null" >
        #{messageStatus,jdbcType=TINYINT},
      </if>
      <if test="messageHaveread != null" >
        #{messageHaveread,jdbcType=INTEGER},
      </if>
      <if test="messageDeleted != null" >
        #{messageDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.Message" >
    update rb_message
    <set >
      <if test="messageUserid != null" >
        Message_UserID = #{messageUserid,jdbcType=BIGINT},
      </if>
      <if test="messageTypeid != null" >
        Message_TypeID = #{messageTypeid,jdbcType=BIGINT},
      </if>
      <if test="messagePictureid != null" >
        Message_PictureID = #{messagePictureid,jdbcType=BIGINT},
      </if>
      <if test="messageTitle != null" >
        Message_Title = #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        Message_Content = #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageUrl != null" >
        Message_Url = #{messageUrl,jdbcType=VARCHAR},
      </if>
      <if test="messageCreatetime != null" >
        Message_CreateTime = #{messageCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageModifytime != null" >
        Message_ModifyTime = #{messageModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageVersion != null" >
        Message_Version = #{messageVersion,jdbcType=INTEGER},
      </if>
      <if test="messageStatus != null" >
        Message_Status = #{messageStatus,jdbcType=TINYINT},
      </if>
      <if test="messageHaveread != null" >
        Message_HaveRead = #{messageHaveread,jdbcType=INTEGER},
      </if>
      <if test="messageDeleted != null" >
        Message_Deleted = #{messageDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where Message_ID = #{messageId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.Message" >
    update rb_message
    set Message_UserID = #{messageUserid,jdbcType=BIGINT},
      Message_TypeID = #{messageTypeid,jdbcType=BIGINT},
      Message_PictureID = #{messagePictureid,jdbcType=BIGINT},
      Message_Title = #{messageTitle,jdbcType=VARCHAR},
      Message_Content = #{messageContent,jdbcType=VARCHAR},
      Message_Url = #{messageUrl,jdbcType=VARCHAR},
      Message_CreateTime = #{messageCreatetime,jdbcType=TIMESTAMP},
      Message_ModifyTime = #{messageModifytime,jdbcType=TIMESTAMP},
      Message_Version = #{messageVersion,jdbcType=INTEGER},
      Message_Status = #{messageStatus,jdbcType=TINYINT},
      Message_HaveRead = #{messageHaveread,jdbcType=INTEGER},
      Message_Deleted = #{messageDeleted,jdbcType=TINYINT}
    where Message_ID = #{messageId,jdbcType=BIGINT}
  </update>
</mapper>