<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huban.dao.NewMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<!-- search result -->
	<resultMap id="news" type="com.huban.pojo.New">
		<result property="News_Id" column="News_Id" />
		<result property="News_UserId" column="News_UserId" />
		<result property="News_Title" column="News_Title" />
		<result property="News_Content" column="News_Content" />
		<result property="News_Afterword" column="News_Afterword" />
		<result property="News_Auther" column="News_Auther" />
		<result property="News_Address" column="News_Address" />
		<result property="News_Press" column="News_Press" />
		<result property="News_HeadPictureId" column="News_HeadPictureId" />
		<result property="News_HeadPictureUrl" column="News_HeadPictureUrl" />
		<result property="News_PictureId" column="News_PictureId" />
		<result property="News_PictureUrl" column="News_PictureUrl" />
		<result property="News_RecommendType" column="News_RecommendType" />
		<result property="News_Hotspot" column="News_Hotspot" />
		<result property="News_Type" column="News_Type" />
		<result property="News_Sort" column="News_Sort" />
		<result property="News_Purpose" column="News_Purpose" />
		<result property="News_RedirectUrl" column="News_RedirectUrl" />
		<result property="News_Status" column="News_Status" />
		<result property="News_Delete" column="News_Delete" />
		<result property="News_VoteNum" column="News_VoteNum" />
		<result property="News_ReadNum" column="News_ReadNum" />
		<result property="News_Version" column="News_Version" />
		<result property="News_ShareNum" column="News_ShareNum" />
		<result property="News_DiscussNum" column="News_DiscussNum" />
		<result property="News_LikeNum" column="News_LikeNum" />
		<result property="News_Belong" column="News_Belong" />
		<result property="News_CreateTime" column="News_CreateTime" />
		<result property="News_ModifyTime" column="News_ModifyTime" />
		<result property="ReadStatus" column="ReadStatus" />
		<result property="LikeStatus" column="LikeStatus" />
		<result property="VoteStatus" column="VoteStatus" />
	</resultMap>

	<sql id="sql">
		News_Id,News_UserId,News_Title,News_Content,News_Afterword,News_Auther,News_Address,News_Press,News_HeadPictureId,News_HeadPictureUrl,News_PictureId,News_PictureUrl,News_RecommendType,News_Hotspot,News_Type,News_Sort,News_Purpose,News_RedirectUrl,News_Status,News_Delete,News_VoteNum,News_ReadNum,News_LikeNum,News_DiscussNum,News_ShareNum,News_Version,News_Belong,News_CreateTime,News_ModifyTime
		<if test="userId != null and type != null">
			,(SELECT COUNT(*) FROM rb_likestatus WHERE Like_Delete = 0 AND Colu_Id = News_Id AND From_UserId = #{userId} AND like_Type = #{type}) AS ReadStatus
			,(SELECT Like_Status FROM rb_likestatus WHERE Like_Delete = 0 AND Colu_Id = News_Id AND From_UserId = #{userId} AND like_Type = #{type} LIMIT 1) AS LikeStatus
		</if>
	</sql>
	<sql id="where">
		1 = 1
		<if test="News_Id != null">
			and News_Id = #{News_Id}
		</if>
		<if test="News_UserId!=null">
			and News_UserId = #{News_UserId}
		</if>
		<if test="News_Title!=null">
			and News_Title = #{News_Title}
		</if>
		<if test="News_Content!=null">
			and News_Content = #{News_Content}
		</if>
		<if test="News_Afterword!=null">
			and News_Afterword = #{News_Afterword}
		</if>
		<if test="News_Auther != null">
			and News_Auther = #{News_Auther}
		</if>
		<if test="News_Address!=null">
			and News_Address = #{News_Address}
		</if>
		<if test="News_Press!=null">
			and News_Press = #{News_Press}
		</if>
		<if test="News_HeadPictureId!=null">
			and News_HeadPictureId = #{News_HeadPictureId}
		</if>
		<if test="News_HeadPictureUrl!=null">
			and News_HeadPictureUrl = #{News_HeadPictureUrl}
		</if>
		<if test="News_PictureId!=null">
			and News_PictureId = #{News_PictureId}
		</if>
		<if test="News_PictureUrl!=null">
			and News_PictureUrl = #{News_PictureUrl}
		</if>
		<if test="News_RecommendType!=null">
			and News_RecommendType = #{News_RecommendType}
		</if>
		<if test="News_Hotspot!=null">
			and News_Hotspot = #{News_Hotspot}
		</if>
		<if test="News_Type != null">
			and News_Type = #{News_Type}
		</if>
		<if test="News_Sort != null">
			and News_Sort = #{News_Sort}
		</if>
		<if test="News_Purpose!=null">
			and News_Purpose = #{News_Purpose}
		</if>
		<if test="News_RedirectUrl!=null">
			and News_RedirectUrl = #{News_RedirectUrl}
		</if>
		<if test="News_Status!=null">
			and News_Status = #{News_Status}
		</if>
		<if test="News_Delete!=null">
			and News_Delete &lt; #{News_Delete}
		</if>
		<if test="News_VoteNum!=null">
			and News_VoteNum = #{News_VoteNum}
		</if>
		<if test="News_ReadNum!=null">
			and News_ReadNum = #{News_ReadNum}
		</if>
		<if test="News_LikeNum != null">
			and News_LikeNum = #{News_LikeNum}
		</if>
		<if test="News_ShareNum != null">
			and News_ShareNum = #{News_ShareNum}
		</if>
		<if test="News_DiscussNum != null">
			and News_DiscussNum = #{News_DiscussNum}
		</if>
		<if test="News_Version != null">
			and News_Version = #{News_Version}
		</if>
		<if test="News_Belong != null">
			and News_Belong = #{News_Belong}
		</if>
		<if test="News_ModifyTime!=null">
			and News_ModifyTime = #{News_ModifyTime}
		</if>
	</sql>


	<select id="FindByNewsId" resultType="com.huban.pojo.New" parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
		FROM rb_news
		<where>
			News_Id = #{_parameter}
		</where>
	</select>

	<select id="FindNewssByCondition" resultMap="news" parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
		FROM rb_news
		<where>
			<include refid="where"></include>
		</where>
		order by News_Sort ASC, News_CreateTime DESC
		<if test="start != null and size != null">
			LIMIT #{start},#{size}
		</if>
	</select>

	<select id="getCountByCondition" parameterType="map" resultType="int">
		SELECT
		Count(1)
		FROM rb_news
		<where>
			<include refid="where"></include>
		</where>

	</select>

	<!-- insert sql -->
	<insert id="addNews" parameterType="com.huban.pojo.New" keyProperty="ID" useGeneratedKeys="true">
		insert into
		rb_news(News_Id,News_UserId,News_Title,News_Content,News_Afterword,News_Auther,News_Address,News_Press,News_HeadPictureId,News_HeadPictureUrl,News_PictureId,News_PictureUrl,News_RecommendType,News_Hotspot,News_Type,News_Sort,News_Purpose,News_RedirectUrl,News_Status,News_Delete,News_VoteNum,News_ReadNum,News_LikeNum,News_ShareNum,News_DiscussNum,News_Version,News_Belong,News_CreateTime,News_ModifyTime)
		values(
		#{News_Id},#{News_UserId},#{News_Title},#{News_Content},#{News_Afterword},#{News_Auther},#{News_Address},#{News_Press},#{News_HeadPictureId},#{News_HeadPictureUrl},#{News_PictureId},{News_PictureUrl},#{News_RecommendType},#{News_Hotspot},#{News_Type},#{News_Sort},#{News_Purpose},#{News_RedirectUrl},#{News_Status}, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, #{News_Belong}, now(), now())
	</insert>


	<update id="UpdateNews" parameterType="com.huban.pojo.New">
		update rb_news set 
			<if test="News_Title!=null">
				News_Title = #{News_Title},
			</if>
			<if test="News_Content!=null">
				News_Content = #{News_Content},
			</if>
			<if test="News_Afterword!=null">
				News_Afterword = #{News_Afterword},
			</if>
			<if test="News_Auther != null">
				News_Auther = #{News_Auther},
			</if>
			<if test="News_Address!=null">
				News_Address = #{News_Address},
			</if>
			<if test="News_Press!=null">
				News_Press = #{News_Press},
			</if>
			<if test="News_HeadPictureId!=null">
				News_HeadPictureId = #{News_HeadPictureId},
			</if>
			<if test="News_HeadPictureUrl!=null">
				News_HeadPictureUrl = #{News_HeadPictureUrl},
			</if>
			<if test="News_PictureId!=null">
				News_PictureId = #{News_PictureId},
			</if>
			<if test="News_PictureUrl!=null">
				News_PictureUrl = #{News_PictureUrl},
			</if>
			<if test="News_RecommendType!=null">
				News_RecommendType = #{News_RecommendType},
			</if>
			<if test="News_Hotspot!=null">
				News_Hotspot = #{News_Hotspot},
			</if>
			<if test="News_Type != null">
				News_Type = #{News_Type},
			</if>
			<if test="News_Sort != null">
				News_Sort = #{News_Sort},
			</if>
			<if test="News_Purpose!=null">
				News_Purpose = #{News_Purpose},
			</if>
			<if test="News_RedirectUrl!=null">
				News_RedirectUrl = #{News_RedirectUrl},
			</if>
			<if test="News_Status!=null">
				News_Status = #{News_Status},
			</if>
			<if test="News_Delete!=null">
				News_Delete = #{News_Delete},
			</if>
			<if test="News_VoteNum!=null">
				News_VoteNum = News_VoteNum + #{News_VoteNum},
			</if>
			<if test="News_ReadNum!=null">
				News_ReadNum = News_ReadNum + #{News_ReadNum},
			</if>
			<if test="News_LikeNum != null">
				News_LikeNum = News_LikeNum + #{News_LikeNum},
			</if>
			<if test="News_ShareNum != null">
				News_ShareNum = News_ShareNum + #{News_ShareNum},
			</if>
			<if test="News_DiscussNum != null">
				News_DiscussNum = News_DiscussNum + #{News_DiscussNum},
			</if>
			<if test="News_Version != null">
				News_Version = News_Version + 1,
			</if>
			<if test="News_Belong != null">
				News_Belong = #{News_Belong},
			</if>
				News_ModifyTime = now()
		<where>
			1 = 1
			<if test="News_Id != null">
				and News_Id = #{News_Id}
			</if>
			<if test="News_UserId != null">
				and News_UserId = #{News_UserId}
			</if>
		</where>
	</update>

	<delete id="DeleteNewsById" parameterType="com.huban.pojo.New">
		update rb_news set News_Delete = 88
		<where>
			<include refid="where"></include>
		</where>
	</delete>

	<delete id="EnabledNewsById" parameterType="com.huban.pojo.New">
		update rb_news set News_Delete = 1
		<where>
			<include refid="where"></include>
		</where>
	</delete>
</mapper>
