<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huban.dao.ProblemMapper">
<resultMap type="com.huban.pojo.Problem" id="ClassResultMap">
	<result property="id" column="problem_id"/>
	<result property="pkid" column="problem_id"/>
	<result property="content" column="problem_content" typeHandler="com.huban.Utils.MyBlobTypeHandler"/>
	<result property="createTime" column="problem_createTime"/>
	<result property="modifyTime" column="problem_modifyTime" />
	<result property="status" column="problem_status"/>
	<result property="questiontype" column="problem_questiontype" />
	<result property="type" column="problem_type"/>
	<result property="answerA" column="problem_answerA" />
	<result property="answerB" column="problem_answerB"/>
	<result property="answerC" column="problem_answerC" />
	<result property="answerD" column="problem_answerD"/>
	<result property="answer" column="problem_answer"/>
	<result property="level" column="problem_level"/>
</resultMap>
<sql id="sql">
	rb_problem.problem_id,
	rb_problem.problem_content,
	rb_problem.problem_createTime,
	rb_problem.problem_modifyTime,
	rb_problem.problem_status,
	rb_problem.problem_questiontype,
	rb_problem.problem_type,
	rb_problem.problem_answerA,
	rb_problem.problem_answerB,
	rb_problem.problem_answerC,
	rb_problem.problem_answerD,
	rb_problem.problem_answer,
	rb_problem.problem_level
</sql>
<sql id="where">
      1=1
	<if test="id!=null">
		and problem_id=#{id}
	</if>
	<if test="status!=null">
		and problem_status=#{status}
	</if>
	<if test="status==null">
		and problem_status=1
	</if>
	<if test="questiontype!=null">
		and problem_questiontype=#{questiontype}
	</if>
	<if test="type!=null">
		and problem_type=#{type}
	</if>
	<if test="level!=null">
		and problem_level=#{level}
	</if>
	
	
</sql>
<sql id="sqlname">
	rb_problem
</sql>
<select id="getProblemList" parameterType="map" resultMap="ClassResultMap">
	SELECT
		<include refid="sql"></include>
	FROM 
		<include refid="sqlname"></include>
	<where>
		<include refid="where"></include>
	</where>
	<if test="ordercreateTime!=null">
		order by problem_createTime desc
	</if>
	<if test="orderrand!=null">
		ORDER BY RAND()
	</if>
	<if test="size != null and start !=null ">
		  limit #{start},#{size}
	</if>
</select>
<select id="getProblemCount" parameterType="map" resultType="int">
	SELECT
		Count(1)
	FROM 
		<include refid="sqlname"></include>
	<where>
		<include refid="where"></include>
	</where>
	
</select>
<insert id="addProblem" parameterType="com.huban.pojo.Problem" keyProperty="id" useGeneratedKeys="true">
	INSERT INTO 
		<include refid="sqlname"></include> 
		(
			<include refid="sql"></include>
		) VALUES (
			#{id}, #{content}, now(),now(),#{status},#{questiontype},#{type},#{answerA},#{answerB},#{answerC},#{answerD},#{answer}
		)
</insert>
<delete id="deleteProblem" parameterType="com.huban.pojo.Problem">
	 update  <include refid="sqlname"></include> set problem_status=88
			where
				 problem_id = #{id}
</delete>
</mapper>

