<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.PushDrivesMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.PushDrives" >
    <id column="PushDrive_ID" property="pushdriveId" jdbcType="BIGINT" />
    <result column="PushDrive_UserID" property="pushdriveUserid" jdbcType="BIGINT" />
    <result column="PushDrive_DeviceID" property="pushdriveDeviceid" jdbcType="BIGINT" />
    <result column="PushDrive_Channel" property="pushdriveChannel" jdbcType="VARCHAR" />
    <result column="PushDrive_Token" property="pushdriveToken" jdbcType="VARCHAR" />
    <result column="PushDrive_CreateTime" property="pushdriveCreatetime" jdbcType="TIMESTAMP" />
    <result column="PushDrive_ModifyTime" property="pushdriveModifytime" jdbcType="TIMESTAMP" />
    <result column="PushDrive_Version" property="pushdriveVersion" jdbcType="INTEGER" />
    <result column="PushDrive_Status" property="pushdriveStatus" jdbcType="TINYINT" />
    <result column="PushDrive_Deleted" property="pushdriveDeleted" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    PushDrive_ID, PushDrive_UserID, PushDrive_DeviceID, PushDrive_Channel, PushDrive_Token, 
    PushDrive_CreateTime, PushDrive_ModifyTime, PushDrive_Version, PushDrive_Status, 
    PushDrive_Deleted
  </sql>
  
  <insert id="AddNewMessage" parameterType="com.huban.pojo.PushDrives" >
    insert into rb_pushdrives (PushDrive_ID, PushDrive_UserID, PushDrive_DeviceID, 
      PushDrive_Channel, PushDrive_Token, PushDrive_CreateTime, 
      PushDrive_ModifyTime, PushDrive_Version, 
      PushDrive_Status, PushDrive_Deleted)
    values (#{pushdriveId,jdbcType=BIGINT}, #{pushdriveUserid,jdbcType=BIGINT}, #{pushdriveDeviceid,jdbcType=BIGINT}, 
      #{pushdriveChannel,jdbcType=VARCHAR}, #{pushdriveToken,jdbcType=VARCHAR}, now(), 
      now(), 1, 
      0, 0)
  </insert>
  
  <!-- V2 SQL -->
  <sql id="wheresql">
  WHERE
  	   1 = 1
    <if test="ID != null" >
      AND PushDrive_ID = #{ID}
      </if>
    <if test="UID != null" >
      AND PushDrive_UserID = #{UID}
      </if>
    <if test="Status != null" >
      AND PushDrive_Status = #{Status}
      </if>
      AND PushDrive_Deleted = 0 
  </sql>
  <select id="QueryLstPushDrives" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from rb_pushdrives 
    <include refid="wheresql" /> <!-- and PushDrive_DeviceID=Device_ID -->
  </select>
  
  <update id="UpdateMessage" parameterType="com.huban.pojo.PushDrives" >
    update rb_pushdrives
    <set >
      <if test="pushdriveUserid != null" >
        PushDrive_UserID = #{pushdriveUserid,jdbcType=BIGINT},
      </if>
      <if test="pushdriveChannel != null" >
        PushDrive_Channel = #{pushdriveChannel,jdbcType=VARCHAR},
      </if>
      <if test="pushdriveToken != null" >
        PushDrive_Token = #{pushdriveToken,jdbcType=VARCHAR},
      </if>
      <if test="pushdriveStatus != null" >
        PushDrive_Status = #{pushdriveStatus,jdbcType=TINYINT},
      </if>
      <if test="pushdriveDeleted != null" >
        PushDrive_Deleted = #{pushdriveDeleted,jdbcType=TINYINT},
      </if>
      <if test="pushdriveVersion != null" >
        PushDrive_ModifyTime = now(),
        PushDrive_Version = PushDrive_Version + 1,
      </if>
    </set>
    		WHERE 1=1
    		<if test="pushdriveId != null" >
        		AND PushDrive_ID = #{pushdriveId,jdbcType=BIGINT}
     	 </if>
    		 AND PushDrive_DeviceID = #{pushdriveDeviceid,jdbcType=BIGINT} AND PushDrive_Deleted = 0
  </update>
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rb_pushdrives
    where PushDrive_ID = #{pushdriveId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_pushdrives
    where PushDrive_ID = #{pushdriveId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.PushDrives" >
    insert into rb_pushdrives (PushDrive_ID, PushDrive_UserID, PushDrive_DeviceID, 
      PushDrive_Channel, PushDrive_Token, PushDrive_CreateTime, 
      PushDrive_ModifyTime, PushDrive_Version, 
      PushDrive_Status, PushDrive_Deleted)
    values (#{pushdriveId,jdbcType=BIGINT}, #{pushdriveUserid,jdbcType=BIGINT}, #{pushdriveDeviceid,jdbcType=BIGINT}, 
      #{pushdriveChannel,jdbcType=VARCHAR}, #{pushdriveToken,jdbcType=VARCHAR}, #{pushdriveCreatetime,jdbcType=TIMESTAMP}, 
      #{pushdriveModifytime,jdbcType=TIMESTAMP}, #{pushdriveVersion,jdbcType=INTEGER}, 
      #{pushdriveStatus,jdbcType=TINYINT}, #{pushdriveDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.PushDrives" >
    insert into rb_pushdrives
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pushdriveId != null" >
        PushDrive_ID,
      </if>
      <if test="pushdriveUserid != null" >
        PushDrive_UserID,
      </if>
      <if test="pushdriveDeviceid != null" >
        PushDrive_DeviceID,
      </if>
      <if test="pushdriveChannel != null" >
        PushDrive_Channel,
      </if>
      <if test="pushdriveToken != null" >
        PushDrive_Token,
      </if>
      <if test="pushdriveCreatetime != null" >
        PushDrive_CreateTime,
      </if>
      <if test="pushdriveModifytime != null" >
        PushDrive_ModifyTime,
      </if>
      <if test="pushdriveVersion != null" >
        PushDrive_Version,
      </if>
      <if test="pushdriveStatus != null" >
        PushDrive_Status,
      </if>
      <if test="pushdriveDeleted != null" >
        PushDrive_Deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pushdriveId != null" >
        #{pushdriveId,jdbcType=BIGINT},
      </if>
      <if test="pushdriveUserid != null" >
        #{pushdriveUserid,jdbcType=BIGINT},
      </if>
      <if test="pushdriveDeviceid != null" >
        #{pushdriveDeviceid,jdbcType=BIGINT},
      </if>
      <if test="pushdriveChannel != null" >
        #{pushdriveChannel,jdbcType=VARCHAR},
      </if>
      <if test="pushdriveToken != null" >
        #{pushdriveToken,jdbcType=VARCHAR},
      </if>
      <if test="pushdriveCreatetime != null" >
        #{pushdriveCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushdriveModifytime != null" >
        #{pushdriveModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushdriveVersion != null" >
        #{pushdriveVersion,jdbcType=INTEGER},
      </if>
      <if test="pushdriveStatus != null" >
        #{pushdriveStatus,jdbcType=TINYINT},
      </if>
      <if test="pushdriveDeleted != null" >
        #{pushdriveDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.PushDrives" >
    update rb_pushdrives
    <set >
      <if test="pushdriveUserid != null" >
        PushDrive_UserID = #{pushdriveUserid,jdbcType=BIGINT},
      </if>
      <if test="pushdriveDeviceid != null" >
        PushDrive_DeviceID = #{pushdriveDeviceid,jdbcType=BIGINT},
      </if>
      <if test="pushdriveChannel != null" >
        PushDrive_Channel = #{pushdriveChannel,jdbcType=VARCHAR},
      </if>
      <if test="pushdriveToken != null" >
        PushDrive_Token = #{pushdriveToken,jdbcType=VARCHAR},
      </if>
      <if test="pushdriveCreatetime != null" >
        PushDrive_CreateTime = #{pushdriveCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushdriveModifytime != null" >
        PushDrive_ModifyTime = #{pushdriveModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushdriveVersion != null" >
        PushDrive_Version = #{pushdriveVersion,jdbcType=INTEGER},
      </if>
      <if test="pushdriveStatus != null" >
        PushDrive_Status = #{pushdriveStatus,jdbcType=TINYINT},
      </if>
      <if test="pushdriveDeleted != null" >
        PushDrive_Deleted = #{pushdriveDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where PushDrive_ID = #{pushdriveId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.PushDrives" >
    update rb_pushdrives
    set PushDrive_UserID = #{pushdriveUserid,jdbcType=BIGINT},
      PushDrive_DeviceID = #{pushdriveDeviceid,jdbcType=BIGINT},
      PushDrive_Channel = #{pushdriveChannel,jdbcType=VARCHAR},
      PushDrive_Token = #{pushdriveToken,jdbcType=VARCHAR},
      PushDrive_CreateTime = #{pushdriveCreatetime,jdbcType=TIMESTAMP},
      PushDrive_ModifyTime = #{pushdriveModifytime,jdbcType=TIMESTAMP},
      PushDrive_Version = #{pushdriveVersion,jdbcType=INTEGER},
      PushDrive_Status = #{pushdriveStatus,jdbcType=TINYINT},
      PushDrive_Deleted = #{pushdriveDeleted,jdbcType=TINYINT}
    where PushDrive_ID = #{pushdriveId,jdbcType=BIGINT}
  </update>
</mapper>