<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.QuestionstatsMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.Questionstats" >
    <id column="QuestionStat_ID" property="questionstatId" jdbcType="BIGINT" />
    <result column="QuestionStat_StudentID" property="questionstatStudentid" jdbcType="BIGINT" />
    <result column="QuestionStat_Status" property="questionstatStatus" jdbcType="INTEGER" />
    <result column="QuestionStat_Memo" property="questionstatMemo" jdbcType="VARCHAR" />
    <result column="QuestionStat_ModifyTIme" property="questionstatModifytime" jdbcType="TIMESTAMP" />
    <result column="QuestionStat_CreateTime" property="questionstatCreatetime" jdbcType="TIMESTAMP" />
    <result column="QuestionStat_Version" property="questionstatVersion" jdbcType="INTEGER" />
    <result column="QuestionStat_RightCount" property="questionstatRightcount" jdbcType="INTEGER" />
    <result column="QuestionStat_FailCount" property="questionstatFailcount" jdbcType="INTEGER" />
    <result column="QuestionStat_Type" property="questionstatType" jdbcType="INTEGER" />
    <result column="QuestionStat_Integral" property="questionstatIntegral" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    QuestionStat_ID, QuestionStat_StudentID, QuestionStat_Status, QuestionStat_Memo, 
    QuestionStat_ModifyTIme, QuestionStat_CreateTime, QuestionStat_Version, QuestionStat_RightCount, 
    QuestionStat_FailCount, QuestionStat_Type, QuestionStat_Integral
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rb_QuestionStats
    where QuestionStat_ID = #{questionstatId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_QuestionStats
    where QuestionStat_ID = #{questionstatId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.Questionstats" >
    insert into rb_QuestionStats (QuestionStat_ID, QuestionStat_StudentID, 
      QuestionStat_Status, QuestionStat_Memo, QuestionStat_ModifyTIme, 
      QuestionStat_CreateTime, QuestionStat_Version, 
      QuestionStat_RightCount, QuestionStat_FailCount, 
      QuestionStat_Type, QuestionStat_Integral)
    values (#{questionstatId,jdbcType=BIGINT}, #{questionstatStudentid,jdbcType=BIGINT}, 
      #{questionstatStatus,jdbcType=INTEGER}, #{questionstatMemo,jdbcType=VARCHAR}, #{questionstatModifytime,jdbcType=TIMESTAMP}, 
      #{questionstatCreatetime,jdbcType=TIMESTAMP}, #{questionstatVersion,jdbcType=INTEGER}, 
      #{questionstatRightcount,jdbcType=INTEGER}, #{questionstatFailcount,jdbcType=INTEGER}, 
      #{questionstatType,jdbcType=INTEGER}, #{questionstatIntegral,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.Questionstats" >
    insert into rb_QuestionStats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionstatId != null" >
        QuestionStat_ID,
      </if>
      <if test="questionstatStudentid != null" >
        QuestionStat_StudentID,
      </if>
      <if test="questionstatStatus != null" >
        QuestionStat_Status,
      </if>
      <if test="questionstatMemo != null" >
        QuestionStat_Memo,
      </if>
      <if test="questionstatModifytime != null" >
        QuestionStat_ModifyTIme,
      </if>
      <if test="questionstatCreatetime != null" >
        QuestionStat_CreateTime,
      </if>
      <if test="questionstatVersion != null" >
        QuestionStat_Version,
      </if>
      <if test="questionstatRightcount != null" >
        QuestionStat_RightCount,
      </if>
      <if test="questionstatFailcount != null" >
        QuestionStat_FailCount,
      </if>
      <if test="questionstatType != null" >
        QuestionStat_Type,
      </if>
      <if test="questionstatIntegral != null" >
        QuestionStat_Integral,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionstatId != null" >
        #{questionstatId,jdbcType=BIGINT},
      </if>
      <if test="questionstatStudentid != null" >
        #{questionstatStudentid,jdbcType=BIGINT},
      </if>
      <if test="questionstatStatus != null" >
        #{questionstatStatus,jdbcType=INTEGER},
      </if>
      <if test="questionstatMemo != null" >
        #{questionstatMemo,jdbcType=VARCHAR},
      </if>
      <if test="questionstatModifytime != null" >
        #{questionstatModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="questionstatCreatetime != null" >
        #{questionstatCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="questionstatVersion != null" >
        #{questionstatVersion,jdbcType=INTEGER},
      </if>
      <if test="questionstatRightcount != null" >
        #{questionstatRightcount,jdbcType=INTEGER},
      </if>
      <if test="questionstatFailcount != null" >
        #{questionstatFailcount,jdbcType=INTEGER},
      </if>
      <if test="questionstatType != null" >
        #{questionstatType,jdbcType=INTEGER},
      </if>
      <if test="questionstatIntegral != null" >
        #{questionstatIntegral,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.Questionstats" >
    update rb_QuestionStats
    <set >
      <if test="questionstatStudentid != null" >
        QuestionStat_StudentID = #{questionstatStudentid,jdbcType=BIGINT},
      </if>
      <if test="questionstatStatus != null" >
        QuestionStat_Status = #{questionstatStatus,jdbcType=INTEGER},
      </if>
      <if test="questionstatMemo != null" >
        QuestionStat_Memo = #{questionstatMemo,jdbcType=VARCHAR},
      </if>
      <if test="questionstatModifytime != null" >
        QuestionStat_ModifyTIme = #{questionstatModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="questionstatCreatetime != null" >
        QuestionStat_CreateTime = #{questionstatCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="questionstatVersion != null" >
        QuestionStat_Version = #{questionstatVersion,jdbcType=INTEGER},
      </if>
      <if test="questionstatRightcount != null" >
        QuestionStat_RightCount = #{questionstatRightcount,jdbcType=INTEGER},
      </if>
      <if test="questionstatFailcount != null" >
        QuestionStat_FailCount = #{questionstatFailcount,jdbcType=INTEGER},
      </if>
      <if test="questionstatType != null" >
        QuestionStat_Type = #{questionstatType,jdbcType=INTEGER},
      </if>
      <if test="questionstatIntegral != null" >
        QuestionStat_Integral = #{questionstatIntegral,jdbcType=INTEGER},
      </if>
    </set>
    where QuestionStat_ID = #{questionstatId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.Questionstats" >
    update rb_QuestionStats
    set QuestionStat_StudentID = #{questionstatStudentid,jdbcType=BIGINT},
      QuestionStat_Status = #{questionstatStatus,jdbcType=INTEGER},
      QuestionStat_Memo = #{questionstatMemo,jdbcType=VARCHAR},
      QuestionStat_ModifyTIme = #{questionstatModifytime,jdbcType=TIMESTAMP},
      QuestionStat_CreateTime = #{questionstatCreatetime,jdbcType=TIMESTAMP},
      QuestionStat_Version = #{questionstatVersion,jdbcType=INTEGER},
      QuestionStat_RightCount = #{questionstatRightcount,jdbcType=INTEGER},
      QuestionStat_FailCount = #{questionstatFailcount,jdbcType=INTEGER},
      QuestionStat_Type = #{questionstatType,jdbcType=INTEGER},
      QuestionStat_Integral = #{questionstatIntegral,jdbcType=INTEGER}
    where QuestionStat_ID = #{questionstatId,jdbcType=BIGINT}
  </update>
</mapper>