<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.SchoolMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.School" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="schoolname" property="schoolname" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="SMALLINT" />
    <result column="school_type" property="schoolType" jdbcType="SMALLINT" />
    <result column="first_py" property="firstPy" jdbcType="VARCHAR" />
    <result column="py" property="py" jdbcType="VARCHAR" />
    <result column="county_id" property="countyId" jdbcType="SMALLINT" />
    <result column="province_id" property="provinceId" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="sctype" property="sctype" jdbcType="SMALLINT" />
    <result column="user_define" property="userDefine" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, schoolname, city_id, school_type, first_py, py, county_id, province_id, status, 
    sctype, user_define
  </sql>
  
  <resultMap id="QuerySomeMessageResultMap" type="com.huban.construct.areapart" >
    <result column="id" property="regionsId" jdbcType="INTEGER" />
    <result column="county_id" property="regionsParentId" jdbcType="INTEGER" />
    <result column="schoolname" property="regions" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="wheresql" >
    where 1=1
    	<if test="pid != null and pid != 0" >
        	AND county_id = #{pid,jdbcType=SMALLINT}
        </if>
  </sql>
  <select id="QuerySomeMessage" resultMap="QuerySomeMessageResultMap" parameterType="map">
    select 
   		id, schoolname, county_id
    from rb_school
    <include refid="wheresql" />
    ORDER BY schoolname ASC
  </select>
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rb_school
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rb_school
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.School" >
    insert into rb_school (id, schoolname, city_id, 
      school_type, first_py, py, 
      county_id, province_id, status, 
      sctype, user_define)
    values (#{id,jdbcType=INTEGER}, #{schoolname,jdbcType=VARCHAR}, #{cityId,jdbcType=SMALLINT}, 
      #{schoolType,jdbcType=SMALLINT}, #{firstPy,jdbcType=VARCHAR}, #{py,jdbcType=VARCHAR}, 
      #{countyId,jdbcType=SMALLINT}, #{provinceId,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, 
      #{sctype,jdbcType=SMALLINT}, #{userDefine,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.School" >
    insert into rb_school
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolname != null" >
        schoolname,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="schoolType != null" >
        school_type,
      </if>
      <if test="firstPy != null" >
        first_py,
      </if>
      <if test="py != null" >
        py,
      </if>
      <if test="countyId != null" >
        county_id,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sctype != null" >
        sctype,
      </if>
      <if test="userDefine != null" >
        user_define,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schoolname != null" >
        #{schoolname,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="schoolType != null" >
        #{schoolType,jdbcType=SMALLINT},
      </if>
      <if test="firstPy != null" >
        #{firstPy,jdbcType=VARCHAR},
      </if>
      <if test="py != null" >
        #{py,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null" >
        #{countyId,jdbcType=SMALLINT},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="sctype != null" >
        #{sctype,jdbcType=SMALLINT},
      </if>
      <if test="userDefine != null" >
        #{userDefine,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.School" >
    update rb_school
    <set >
      <if test="schoolname != null" >
        schoolname = #{schoolname,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="schoolType != null" >
        school_type = #{schoolType,jdbcType=SMALLINT},
      </if>
      <if test="firstPy != null" >
        first_py = #{firstPy,jdbcType=VARCHAR},
      </if>
      <if test="py != null" >
        py = #{py,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null" >
        county_id = #{countyId,jdbcType=SMALLINT},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="sctype != null" >
        sctype = #{sctype,jdbcType=SMALLINT},
      </if>
      <if test="userDefine != null" >
        user_define = #{userDefine,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.School" >
    update rb_school
    set schoolname = #{schoolname,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=SMALLINT},
      school_type = #{schoolType,jdbcType=SMALLINT},
      first_py = #{firstPy,jdbcType=VARCHAR},
      py = #{py,jdbcType=VARCHAR},
      county_id = #{countyId,jdbcType=SMALLINT},
      province_id = #{provinceId,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      sctype = #{sctype,jdbcType=SMALLINT},
      user_define = #{userDefine,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>