<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.Shop" >
    <id column="Shop_Id" property="shopId" jdbcType="BIGINT" />
    <result column="Shop_BookId" property="shopBookid" jdbcType="BIGINT" />
    <result column="Shop_AddressId" property="shopAddressid" jdbcType="BIGINT" />
    <result column="Shop_Status" property="shopStatus" jdbcType="INTEGER" />
    <result column="Shop_Delete" property="shopDelete" jdbcType="INTEGER" />
    <result column="Shop_CreateTime" property="shopCreatetime" jdbcType="TIMESTAMP" />
    <result column="Shop_ModifyTime" property="shopModifytime" jdbcType="TIMESTAMP" />
    <result column="Shop_UserId" property="shopUserid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    Shop_Id, Shop_BookId, Shop_AddressId, Shop_Status, Shop_Delete, Shop_CreateTime, 
    Shop_ModifyTime, Shop_UserId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rb_shop
    where Shop_Id = #{shopId,jdbcType=BIGINT}
  </select>
  <!-- 自定义sql -->
  <select id="queryshopcar" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from rb_shop
    where Shop_UserId = #{userId,jdbcType=BIGINT}
    AND Shop_BookId = #{bookId,jdbcType=BIGINT}
    AND Shop_Delete = 0
    ORDER BY Shop_ModifyTime ASC
  </select>
  <!-- 相同书的数量 -->
  <select id="carbookcount" resultType="java.lang.Integer" parameterType="map" >
    select 
    count(1) 
    from rb_shop 
    where Shop_UserId = #{userId,jdbcType=BIGINT} 
    AND Shop_BookId = #{bookId,jdbcType=BIGINT} 
    AND Shop_Delete = 0 
  </select>
  <!-- 购物车列表 -->
  <select id="shoppingCar" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    Shop_BookId
    FROM (SELECT Shop_BookId FROM rb_shop 
    WHERE Shop_UserId = #{userId,jdbcType=BIGINT}  
    <if test="random != null" >
        AND #{random}=#{random}
      </if>
    AND Shop_Delete = 0)t 
    GROUP BY t.Shop_BookId
    LIMIT #{start},#{size}
  </select>
  <select id="shoppingCount" resultType="java.lang.Integer" parameterType="map" >
    select 
    count(1)
    from rb_shop
    where Shop_UserId = #{userId,jdbcType=BIGINT}
    AND Shop_BookId = #{bookId,jdbcType=BIGINT} 
    AND Shop_Delete = 0
  </select>
  <!-- 购物车显示数量 -->
  <select id="shopcarcount" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select 
    count(1)
    from rb_shop
    where Shop_UserId = #{userId,jdbcType=BIGINT}
    AND Shop_Delete = 0
  </select>
  <insert id="addShop" parameterType="com.huban.pojo.Shop" >
    insert into rb_shop (Shop_Id, Shop_BookId, Shop_AddressId, 
      Shop_Status, Shop_Delete, Shop_CreateTime, 
      Shop_ModifyTime, Shop_UserId)
    values (#{shopId,jdbcType=BIGINT}, #{shopBookid,jdbcType=BIGINT}, #{shopAddressid,jdbcType=BIGINT}, 
      #{shopStatus,jdbcType=INTEGER}, 0,now(), 
      now(), #{shopUserid,jdbcType=BIGINT})
  </insert>
  <!-- 实现删除购物车商品 -->
  <update id="deleteShop" parameterType="java.lang.Long" >
     update rb_shop
    <set >
        Shop_Delete = 1,Shop_ModifyTime = now()
    </set>
    where Shop_Id = #{shopId,jdbcType=BIGINT}
  </update>
  
  <select id="BookIdToShopId" resultType="java.lang.Long" parameterType="java.lang.Long" >
    select 
    Shop_Id
    from rb_shop
    where Shop_BookId = #{bookId,jdbcType=BIGINT}
    AND Shop_Delete = 0
    LIMIT 1
  </select>
  
   <select id="shopIdToBookId" resultType="java.lang.Long" parameterType="java.lang.Long" >
    select 
    Shop_BookId
    from rb_shop
    where Shop_Id = #{shopId,jdbcType=BIGINT}
    AND Shop_Delete = 0
  </select> 
  <!-- 无用 -->
  <select id="shopcartype" resultMap="BaseResultMap" parameterType="map" >
    select 
    Shop_BookId
    from rb_shop
    where Shop_UserId = #{userId,jdbcType=BIGINT}
    AND Shop_Status = #{type,jdbcType = INTEGER}
    limit #{start},#{size} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_shop
    where Shop_Id = #{shopId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.Shop" >
    insert into rb_shop (Shop_Id, Shop_BookId, Shop_AddressId, 
      Shop_Status, Shop_Delete, Shop_CreateTime, 
      Shop_ModifyTime, Shop_UserId)
    values (#{shopId,jdbcType=BIGINT}, #{shopBookid,jdbcType=BIGINT}, #{shopAddressid,jdbcType=BIGINT}, 
      #{shopStatus,jdbcType=INTEGER}, #{shopDelete,jdbcType=INTEGER}, #{shopCreatetime,jdbcType=TIMESTAMP}, 
      #{shopModifytime,jdbcType=TIMESTAMP}, #{shopUserid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.Shop" >
    insert into rb_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        Shop_Id,
      </if>
      <if test="shopBookid != null" >
        Shop_BookId,
      </if>
      <if test="shopAddressid != null" >
        Shop_AddressId,
      </if>
      <if test="shopStatus != null" >
        Shop_Status,
      </if>
      <if test="shopDelete != null" >
        Shop_Delete,
      </if>
      <if test="shopCreatetime != null" >
        Shop_CreateTime,
      </if>
      <if test="shopModifytime != null" >
        Shop_ModifyTime,
      </if>
      <if test="shopUserid != null" >
        Shop_UserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="shopBookid != null" >
        #{shopBookid,jdbcType=BIGINT},
      </if>
      <if test="shopAddressid != null" >
        #{shopAddressid,jdbcType=BIGINT},
      </if>
      <if test="shopStatus != null" >
        #{shopStatus,jdbcType=INTEGER},
      </if>
      <if test="shopDelete != null" >
        #{shopDelete,jdbcType=INTEGER},
      </if>
      <if test="shopCreatetime != null" >
        #{shopCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopModifytime != null" >
        #{shopModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopUserid != null" >
        #{shopUserid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.Shop" >
    update rb_shop
    <set >
      <if test="shopBookid != null" >
        Shop_BookId = #{shopBookid,jdbcType=BIGINT},
      </if>
      <if test="shopAddressid != null" >
        Shop_AddressId = #{shopAddressid,jdbcType=BIGINT},
      </if>
      <if test="shopStatus != null" >
        Shop_Status = #{shopStatus,jdbcType=INTEGER},
      </if>
      <if test="shopDelete != null" >
        Shop_Delete = #{shopDelete,jdbcType=INTEGER},
      </if>
      <if test="shopCreatetime != null" >
        Shop_CreateTime = #{shopCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopModifytime != null" >
        Shop_ModifyTime = #{shopModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopUserid != null" >
        Shop_UserId = #{shopUserid,jdbcType=BIGINT},
      </if>
    </set>
    where Shop_Id = #{shopId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.Shop" >
    update rb_shop
    set Shop_BookId = #{shopBookid,jdbcType=BIGINT},
      Shop_AddressId = #{shopAddressid,jdbcType=BIGINT},
      Shop_Status = #{shopStatus,jdbcType=INTEGER},
      Shop_Delete = #{shopDelete,jdbcType=INTEGER},
      Shop_CreateTime = #{shopCreatetime,jdbcType=TIMESTAMP},
      Shop_ModifyTime = #{shopModifytime,jdbcType=TIMESTAMP},
      Shop_UserId = #{shopUserid,jdbcType=BIGINT}
    where Shop_Id = #{shopId,jdbcType=BIGINT}
  </update>
</mapper>