<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.UserJournalRecordMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.UserJournalRecord" >
    <id column="journal_id" property="journalId" jdbcType="BIGINT" />
    <result column="journal_parentid" property="journalParentid" jdbcType="BIGINT" />
    <result column="journal_userid" property="journalUserid" jdbcType="BIGINT" />
    <result column="journal_share" property="journalShare" jdbcType="INTEGER" />
    <result column="journal_version" property="journalVersion" jdbcType="INTEGER" />
    <result column="journal_status" property="journalStatus" jdbcType="INTEGER" />
    <result column="journal_standby" property="journalStandby" jdbcType="VARCHAR" />
    <result column="journal_createtime" property="journalCreatetime" jdbcType="TIMESTAMP" />
    <result column="journal_modifytime" property="journalModifytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.huban.pojo.UserJournalRecord" extends="BaseResultMap" >
    <result column="journal_mood" property="journalMood" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
    <result column="journal_weather" property="journalWeather" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
    <result column="journal_title" property="journalTitle" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
    <result column="journal_content" property="journalContent" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
    <result column="journal_adscript" property="journalAdscript" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
  </resultMap>
  <sql id="Base_Column_List" >
    journal_id, journal_parentid, journal_userid, journal_share, journal_version, journal_status, journal_standby, 
    journal_createtime, journal_modifytime
  </sql>
  <sql id="Blob_Column_List" >
    journal_mood, journal_weather, journal_title, journal_content, journal_adscript
  </sql>
  <sql id="wheresql" >
 	where
 		1=1
 	<if test="UID != null" >
       	 AND journal_userid = #{UID,jdbcType=BIGINT}
    	  </if>
    	<if test="ID != null" >
       	 AND journal_id = #{ID,jdbcType=BIGINT}
      </if>
    <if test="DBID != null" >
       	 AND journal_parentid = #{DBID,jdbcType=BIGINT}
      </if>
    	<if test="Rand != null" >
       	 AND #{Rand} = #{Rand}
      </if>
    	 ORDER BY journal_createtime DESC
    	<if test="start != null and size != null" >
       	 LIMIT #{start},#{size}
    	</if>
  </sql>
  
  <insert id="AddNewMessage" parameterType="map" >
    INSERT INTO rb_userjournalrecord (journal_id, journal_parentid, journal_userid, journal_share, 
      journal_version, journal_status, journal_standby, 
      journal_createtime, journal_modifytime, 
      journal_mood, journal_weather, 
      journal_title, journal_content, 
      journal_adscript)
    SELECT #{dbid,jdbcType=BIGINT}, journal_id AS journal_parentid, journal_userid, journal_share, journal_version, journal_status, journal_standby, 
    journal_createtime, now(), journal_mood, journal_weather, journal_title, journal_content, journal_adscript
    FROM rb_userjournal 
	<include refid="wheresql" />
  </insert>
  
  <resultMap id="BaseUserJouralResultMap" type="com.huban.pojo.UserJournal" >
    <id column="journal_id" property="journalId" jdbcType="BIGINT" />
    <result column="journal_userid" property="journalUserid" jdbcType="BIGINT" />
    <result column="journal_share" property="journalShare" jdbcType="INTEGER" />
    <result column="journal_version" property="journalVersion" jdbcType="INTEGER" />
    <result column="journal_status" property="journalStatus" jdbcType="INTEGER" />
    <result column="journal_standby" property="journalStandby" jdbcType="VARCHAR" />
    <result column="journal_createtime" property="journalCreatetime" jdbcType="TIMESTAMP" />
    <result column="journal_modifytime" property="journalModifytime" jdbcType="TIMESTAMP" />
    <result column="journal_mood" property="journalMood" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
    <result column="journal_weather" property="journalWeather" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
    <result column="journal_title" property="journalTitle" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
    <result column="journal_content" property="journalContent" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
    <result column="journal_adscript" property="journalAdscript" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
  </resultMap>
  
  <select id="SearchPastRecord" resultMap="BaseUserJouralResultMap" parameterType="map" >
    <!-- ( --> select 
    		journal_id, journal_userid, journal_share, journal_version, journal_status, journal_standby, 
    		journal_createtime, journal_modifytime,
    		journal_mood, journal_weather, journal_title, journal_content, journal_adscript
    from rb_userjournalrecord
    <include refid="wheresql" />
    <!-- ) UNION ALL (
    	SELECT
		journal_id, journal_userid, journal_share, journal_version, journal_status, journal_standby, 
		journal_createtime, journal_modifytime,
		journal_mood, journal_weather, journal_title, journal_content, journal_adscript
	FROM
		rb_userjournal
	WHERE
		1 = 1
	AND journal_id = #{DBID}
    ) -->
  </select>
  
 
</mapper>