<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huban.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.huban.pojo.User">
    <id column="User_Id" jdbcType="BIGINT" property="userId" />
    <result column="User_NumericalOrder" property="userNumericalOrder" jdbcType="BIGINT" />
    <result column="User_Name" property="userName" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
    <result column="User_Sex" property="userSex" jdbcType="INTEGER" />
    <result column="User_Birthday" property="userBirthday" jdbcType="DATE" />
    <result column="User_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="User_HeadIcon" property="userHeadicon" jdbcType="VARCHAR" />
    <result column="User_QRCode" property="userQrcode" jdbcType="VARCHAR" />
    <result column="User_Level" property="userLevel" jdbcType="INTEGER" />
    <result column="User_Intgral" property="userIntgral" jdbcType="DECIMAL" />
    <result column="User_PayPassword" property="userPaypassword" jdbcType="CHAR" />
    <result column="User_RestsPassword" property="userRestspassword" jdbcType="CHAR" />
    <result column="User_CreateTime" property="userCreatetime" jdbcType="TIMESTAMP" />
    <result column="User_ModifyTime" property="userModifytime" jdbcType="TIMESTAMP" />
    <result column="User_Delete" property="userDelete" jdbcType="INTEGER" />
    <result column="User_Status" property="userStatus" jdbcType="INTEGER" />
    <result column="User_Money" property="userMoney" jdbcType="DECIMAL" />
    <result column="User_ReadTime" property="userReadtime" jdbcType="BIGINT" />
    <result column="User_WeChatOpenID" property="userWechatopenid" jdbcType="VARCHAR" />
    <result column="User_LimitTime" property="userLimittime" jdbcType="TIMESTAMP" />
    <result column="User_City" property="userCity" jdbcType="VARCHAR" />
    <result column="User_Password" property="userPassword" jdbcType="CHAR" />
    <result column="User_Banlance" property="userBanlance" jdbcType="DECIMAL" />
    <result column="User_RemainIntgral" property="userRemainIntgral" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List">
    User_Id, User_NumericalOrder, User_Name, User_Sex, User_Birthday, User_phone, User_HeadIcon, User_QRCode, 
    User_Level, User_Intgral, User_PayPassword, User_RestsPassword, User_CreateTime, User_ModifyTime, User_Delete, 
    User_Status, User_Money, User_ReadTime,User_WeChatOpenID,User_City,User_Password,User_Banlance,User_RemainIntgral
  </sql>
  <select id="selectUser" parameterType="com.huban.pojo.User" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rb_user
    where 1=1
    <if test="userId != null">
      AND User_Id = #{userId,jdbcType=BIGINT}
    </if>
    <if test="userPhone!= null">
      AND User_phone = #{userPhone,jdbcType=VARCHAR}
    </if> 
     <if test="userWechatopenid!= null">
      AND User_WeChatOpenID = #{userWechatopenid,jdbcType=VARCHAR}
    </if> 
    AND User_Delete = 0 limit 1
  </select>
  <select id="seletePassword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <!-- User_Id,User_Password --><include refid="Base_Column_List" />
    from rb_user
    where User_phone = #{phone,jdbcType=VARCHAR} AND User_Delete = 0 limit 1
  </select>
  <select id="seletename" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rb_user
    where User_Id = #{userId,jdbcType=BIGINT} 
    AND User_Delete = 0 limit 1
  </select>
  <select id="phonecount" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select 
    count(*)
    from rb_user
    where User_phone = #{phone,jdbcType=VARCHAR} 
    AND User_Status &lt; 9
    AND User_Delete = 0 limit 1
    <!-- WHERE User_Delete = 0 -->
  </select>
  <select id="phonewechatcount" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select 
    count(*)
    from rb_user
    where User_phone = #{phone,jdbcType=VARCHAR}
    AND User_WeChatOpenID IS NOT NULL 
    AND User_Status &lt; 9
    AND User_Delete = 0 
    <!-- WHERE User_Delete = 0 limit 1 -->
  </select>
 
  <select id="PhoneYesWeChatNo" parameterType="java.lang.String" resultMap="BaseResultMap" >
    select 
     <include refid="Base_Column_List" />
    from rb_user
    where User_phone = #{phone,jdbcType=VARCHAR}
    AND User_WeChatOpenID IS NULL <!-- AND User_Status &lt; 9 -->
    AND User_Delete = 0 limit 1
    <!-- WHERE User_Delete = 0 -->
  </select>
  <update id="UpdateWeChatOpenId" parameterType="com.huban.pojo.User" >
    update rb_user
    <set>
      <if test="userName != null">
        User_Name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        User_Sex = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null">
        User_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userHeadicon != null">
        User_HeadIcon = #{userHeadicon,jdbcType=VARCHAR},
      </if>
      <if test="userWechatopenid != null">
      User_WeChatOpenID = #{userWechatopenid,jdbcType = VARCHAR}
      </if>
    </set>
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0
  </update> 
  <select id="QueryOpenIdByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap" >
    select 
     User_WeChatOpenID, User_Name, User_Sex, User_HeadIcon,User_City
    from rb_user
    where User_Id = #{userId,jdbcType=BIGINT} <!-- AND User_Status &lt; 9 -->
    AND User_Delete = 0 limit 1
    <!-- WHERE User_Delete = 0 -->
  </select>
  <select id="seletePaypassExist" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
		User_PayPassword
	FROM
		rb_user
	WHERE
		User_phone = #{phone,jdbcType=VARCHAR} 
		AND User_Delete = 0 limit 1
  </select>
   <select id="seletePaypasswechat" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
		User_PayPassword
	FROM
		rb_user
	WHERE
		User_WeChatOpenID = #{wechatId,jdbcType=VARCHAR}
		AND User_Delete = 0
  </select>
  <select id="selectUserByUserId" parameterType="com.huban.pojo.User" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rb_user
    where User_Id = #{userId,jdbcType=BIGINT} 
    AND User_Delete = 0
  </select>
  <select id="queryList" parameterType="com.huban.pojo.User" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rb_user
    where
    1=1
    <if test="userId != null">
      AND User_Id = #{userId,jdbcType=BIGINT}
    </if>
    <if test="userPhone!= null">
      AND User_phone = #{userPhone,jdbcType=VARCHAR}
    </if> 
     <if test="userWechatopenid!= null">
      AND User_WeChatOpenID= #{userWechatopenid,jdbcType=VARCHAR}
    </if>
    AND User_Delete = 0 
  </select>
  <select id="queryAll" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List"/>
    from rb_user
    where
    1=1
    <if test="mytime==1">
     <![CDATA[
     AND TO_DAYS(NOW()) - TO_DAYS(User_ModifyTime) <= 1
          ]]>
    </if>
     <if test="mytime==2">
     <![CDATA[
     AND TO_DAYS(NOW()) - TO_DAYS(User_ModifyTime) <= 7
          ]]>
    </if>
     <if test="mytime==3">
     <![CDATA[
     AND TO_DAYS(NOW()) - TO_DAYS(User_ModifyTime) <= 30
          ]]>
    </if>
    AND User_Delete = 0
    order by User_Intgral desc,User_ModifyTime desc
  </select>
   <select id="queryRead" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List"/>
    from rb_user
    where
    1=1
    <if test="mytime==1">
     <![CDATA[
     AND TO_DAYS(NOW()) - TO_DAYS(User_ModifyTime) <= 1
          ]]>
    </if>
     <if test="mytime==2">
     <![CDATA[
     AND TO_DAYS(NOW()) - TO_DAYS(User_ModifyTime) <= 7
          ]]>
    </if>
     <if test="mytime==3">
     <![CDATA[
     AND TO_DAYS(NOW()) - TO_DAYS(User_ModifyTime) <= 30
          ]]>
    </if>
    AND User_Delete = 0
    order by User_ReadTime desc, User_ModifyTime desc
  </select>
  <!--top排行榜  -->
  <sql id="Top_Column_List">
    User_Id, User_Name,User_HeadIcon,User_Level
  </sql>
  <select id="toprankings" parameterType="map" resultMap="BaseResultMap">
  select 
    <include refid="Top_Column_List"/>
    from rb_user where User_Delete = 0
    <if test="mytime==1">
     order by User_ReadTime desc
    </if>
    <if test="mytime==2">
     order by User_Level desc,User_Intgral DESC 
    </if>
    limit #{start},#{size}
  </select>
  <!-- ranklist -->
  <sql id="ranklist_Column_List">
    User_Id, User_Name,User_HeadIcon,User_Level,User_ReadTime
  </sql>
  <select id="ranklist" parameterType="map" resultMap="BaseResultMap">
  SELECT
    <include refid="ranklist_Column_List"/>
    FROM rb_user
    WHERE 1=1
     <if test="timeType==4"></if>
    <if test="timeType==3">
     <![CDATA[
	AND YEARWEEK(date_format(User_CreateTime,'%Y-%m-%d')) = YEARWEEK(now())
          ]]>
    </if>
    <if test="timeType==2">
     <![CDATA[
     AND TO_DAYS(NOW()) - TO_DAYS(User_ModifyTime) <= 1
          ]]>
    </if>
    AND User_Delete = 0
    <if test="way==1">
     order by User_Level desc
    </if>
    <if test="way==0">
     order by User_ReadTime desc
    </if>
    LIMIT #{start},#{size}
  </select>
  
  <!-- 查询头像 -->
  <select id="selecticon" parameterType="java.lang.Long" resultType="java.lang.String">
    select 
	User_HeadIcon
    from rb_user
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0
  </select>
  <!-- 查询金币余额 -->
  <select id="selectMoney" parameterType="java.lang.Long" resultType="java.lang.Long">
    select 
	User_Money
    from rb_user
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0
  </select>
   <select id="findUser" parameterType="com.huban.pojo.User" resultType="java.lang.Integer">
    select 
    count(1)
    from rb_user
    where 
    1=1
    <if test="userId != null">
      AND User_Id = #{userId,jdbcType=BIGINT}
    </if>
    <if test="userPhone!= null">
      AND User_phone = #{userPhone,jdbcType=VARCHAR}
    </if> 
     <if test="userWechatopenid!= null">
      AND User_WeChatOpenID= #{userWechatopenid,jdbcType=VARCHAR}
    </if>
    AND User_Delete = 0 AND User_Status &lt; 9
  </select>
  <!-- 支付密码验证 -->
  <select id="selectPayPass" parameterType="java.lang.Long" resultType="java.lang.String">
    select 
	User_PayPassword
    from rb_user
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0 
  </select>
  <!-- 积分查询 --><!-- 查询剩余积分 -->
  <select id="integral" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select 
	User_RemainIntgral
    from rb_user
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0
  </select>
  
   <!-- 评测状态查询 -->
  <select id="querystatus" parameterType="com.huban.pojo.User" resultMap="BaseResultMap">
    select 
	User_Status,User_Level
    from rb_user
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0
  </select>
  
  <!-- by Sheryl -->
  <insert id="insert" parameterType="com.huban.pojo.User">
    insert into rb_user (User_Id, User_NumericalOrder, User_Name, User_Sex, 
      User_Birthday, User_phone, User_HeadIcon, 
      User_QRCode, User_Level, User_Intgral, 
      User_PayPassword, User_RestsPassword, User_CreateTime, User_ModifyTime, 
      User_Delete, User_Status, User_Money, 
      User_ReadTime,User_WeChatOpenID,User_City, User_Password,User_Banlance,User_RemainIntgral)
    values (#{userId,jdbcType=BIGINT}, #{userNumericalOrder}, #{userName}, 0, 
      '2000-01-01', #{userPhone,jdbcType=VARCHAR}, #{userHeadicon,jdbcType=VARCHAR}, 
      #{userQrcode,jdbcType=VARCHAR}, 1, 0.000, 
      #{userPaypassword,jdbcType=CHAR}, #{userRestspassword,jdbcType=CHAR}, now(), now(), 
      0, 9, 0.00, 
      0,#{userWechatopenid,jdbcType=VARCHAR},#{userCity,jdbcType=VARCHAR},#{userPassword,jdbcType=CHAR},0.00,0.000)
  </insert>
  
  <!-- 支付回调 -->
  <update id="addMoney" parameterType="map" >
    update rb_user
    set
       User_Money = User_Money + #{moneyNum}
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0
  </update> 
  <!-- 体现回调 -->
  <update id="delMoney" parameterType="map" >
    update rb_user
    set
       User_Money = User_Money - #{moneyNum}*#{convert}
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0
  </update>
  <update id="DeleteWeChatId" parameterType="java.lang.Long" >
    update rb_user
    set
       User_Delete = 1
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0 AND User_WeChatOpenID IS NOT NULL
  </update>
  
  <!-- 积分加成 -->
  <update id="addIntegral" parameterType="map" >
    update rb_user
    set
       <if test="Money != null">
        User_Money = User_Money + #{Money},
       </if>	
       User_Intgral = User_Intgral + #{userIntegral},
       User_RemainIntgral = User_RemainIntgral + #{userIntegral}
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0
  </update> 
  <update id="changestatus" parameterType="java.lang.Long" >
    update rb_user
    set
       User_Status = 7
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0
  </update>
  
   <!-- 积分兑换金币，修改：金币，剩余积分 -->
  <update id="conversion" parameterType="map" >
    update rb_user
    set
       User_Money = User_Money + #{moneyNum},
       User_RemainIntgral = User_RemainIntgral - #{userRemainIntgral}
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0
  </update>
  <!-- 修改等级 -->
  <update id="updatelevel" parameterType="map" >
    update rb_user
    set
       User_Level = #{level,jdbcType=INTEGER}
    where User_Id = #{userId,jdbcType=BIGINT} AND User_Delete = 0
  </update> 
  
  <!-- V2 SQL -->
  <sql id="wheresql">
  	   1 = 1
    <if test="name != null">
        AND User_Name = #{name,jdbcType=VARCHAR}
      </if>
    <if test="password != null">
        AND User_Password = #{password,jdbcType=CHAR}
      </if>
    <if test="phone != null">
        AND User_phone = #{phone,jdbcType=VARCHAR}
      </if>
    <if test="ID != null">
        AND User_Id = #{ID,jdbcType=BIGINT}
      </if>
    <if test="identity != null">
        AND userinfo_identity = #{identity,jdbcType=BIGINT}
      </if>
    <if test="School != null">
    	 AND userinfo_address = #{School}
    	 AND userinfo_userid = user_Id
    	</if>
    <if test="Status != null">
        AND User_Status = #{Status}
      </if>
    <if test="Statu != null">
        AND User_Status &lt; #{Statu}
      </if>
    <if test="NumericalOrder != null">
        AND User_NumericalOrder = #{NumericalOrder}
      </if>
   <if test="password != null">
        AND User_Password = #{password}
      </if>
    <if test="Rand != null">
        AND #{Rand} = #{Rand}
      </if>
      AND User_Delete = 0 
  </sql>
  	<!-- V2 SQL -->
	<sql id="FiltrateSql">
		AND userinfo_userid = user_Id
	</sql>
	<sql id="SpecialSql">
		<if test="start != null and size != null">
			LIMIT #{start},#{size}
		</if>
	</sql>
  
  
  
  <sql id="setsql">
   <set>
    <if test="name != null">
        User_Name = #{name,jdbcType=VARCHAR},
      </if>
    <if test="password != null">
        User_Password = #{password,jdbcType=CHAR},
      </if>
    <if test="ID != null">
       User_Id = #{ID,jdbcType=BIGINT},
      </if>
   </set>
  </sql>
  
  <select id="QueryExistIdentity" parameterType="map" resultType="java.lang.Integer">
   SELECT 
   	count(*), userinfo_userid FROM rb_userinfo AS UI, 
   	( SELECT User_Id AS ID FROM rb_user where User_phone = #{phone,jdbcType=VARCHAR} AND User_Status &lt; 9 AND User_Delete = 0) AS U
	WHERE 
	UI.userinfo_userid = U.ID AND userinfo_identity = #{identity,jdbcType=INTEGER} 
  </select>
  
  <select id="ExaminePseudonym" parameterType="map" resultType="java.lang.Integer">
    select 
		count(*)
    from rb_user, rb_userinfo
    <where>
    	<include refid="wheresql"/> AND User_Status &lt; 9
    	<include refid="FiltrateSql"/>
    </where>
  </select>
  
  <resultMap type="java.util.Map" id="ExaminePseudonymMap" >
  	<result property="name" column="User_Name" typeHandler="com.huban.Utils.MyBlobTypeHandler"/>
  	<result property="password" column="User_Password" jdbcType="CHAR" />  
  </resultMap>

  <select id="verifyPseudonymAndPwd" parameterType="map" resultMap="BaseResultMap">
    select 
	<include refid="Base_Column_List" />
    from rb_user
    <where>
    	<include refid="wheresql"/>
    </where>
   	 AND User_Status &lt; 9 LIMIT 1
  </select>  
  <update id="modifyPassword" parameterType="map">
    update rb_user
     <set>
      <if test="RestsPassword != null">
        User_RestsPassword = #{RestsPassword,jdbcType=CHAR}
      </if>
      <if test="password != null">
        User_Password = #{password,jdbcType=CHAR},
      </if>
      <if test="Status != null">
        User_Status = #{Status},
      </if>
     </set>
   <where>
    	<if test="ID != null">
        AND User_Id = #{ID,jdbcType=BIGINT}
      </if>
      <if test="name != null">
        AND User_Name = #{name,jdbcType=VARCHAR}
      </if>
    </where>
    AND User_Delete = 0 <!-- AND User_Status = 9 --> limit 1
  </update> 
  
  <!-- <resultMap id="QueryRankListResultMap" type="com.huban.construct.RankUserModel" >
  	<association property="rs_belongid" resultMap="QueryRankUserMessage"></association>
    <result column="rs_number" property="userReadNumber" javaType="java.lang.Long" />
  </resultMap>
  
  <resultMap id="QueryRankUserMessage" type="com.huban.construct.RankUserModel" >
    <result column="rs_number" property="userReadNumber" javaType="java.lang.Long" />
  </resultMap> -->
  <resultMap id="QueryRankListResultMap" type="com.huban.construct.RankUserModel" >
  	<result column="name" property="userName" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
  	<result column="icon" property="userHeadIcon" javaType="java.lang.String" />
    <result column="number" property="userReadNumber" />
  </resultMap>
  <select id="QueryRankList" resultMap="QueryRankListResultMap" parameterType="map" >
    SELECT 
    	User_Name AS name, User_HeadIcon AS icon, User_Id, number
      FROM rb_user AS ru, 
	(SELECT 
		if(ISNULL(SUM(rs_number)),0,SUM(rs_number)) AS number, rs_belongid 
	  FROM rb_saveread 
	WHERE rs_type > 0 
	<if test="timeType==4"></if>
    <if test="timeType==3">
     <![CDATA[
	AND YEARWEEK(date_format(rs_createtime,'%Y-%m-%d')) = YEARWEEK(now())
          ]]>
    </if>
    <if test="timeType==2">
     <![CDATA[
     AND TO_DAYS(NOW()) - TO_DAYS(rs_createtime) <= 1
          ]]>
          </if>
	GROUP BY rs_belongid 
     ORDER BY number DESC
	) AS sr
	WHERE sr.rs_belongid = ru.User_Id AND User_Status &lt; 9 AND User_Delete = 0
	LIMIT #{start},#{size}
  </select>
  
  
  <resultMap id="QueryUserInfoResultMap" type="com.huban.construct.UserInfoModel" >
  	<result column="User_Id" property="userId" />
  	<result column="User_NumericalOrder" property="numericalOrder" />
  	<result column="User_HeadIcon" property="userHeadIcon" />
  	<result column="User_Name" property="userName" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
    <result column="User_Sex" property="userSex" />
    <result column="User_Birthday" property="userBirthday" />
    <result column="User_phone" property="userPhone" />
    <result column="User_Money" property="userMoney" />
    <result column="User_Intgral" property="userIntgral" />
    <result column="User_RemainIntgral" property="userRemainIntgral" />
    <result column="User_Status" property="userStatus" />
    <result column="User_Invited" property="userInvited" /> 
    <result column="payPassword_Exist" property="payPasswordExist" />
    <result column="restsPassword_Exist" property="restsPasswordExist" />
    <association column="User_Id" property="infoModel" select="com.huban.dao.UserInfoMapper.BaseQueryUserInfoMessage" />
  </resultMap>
  <select id="QueryUserInfo" parameterType="map" resultMap="QueryUserInfoResultMap">
    select 
    	User_NumericalOrder, User_HeadIcon, User_Name, User_Sex, User_Birthday, User_phone, User_Money, User_Intgral, User_RemainIntgral, User_Status, User_Id,
    	CASE WHEN ISNULL(User_PayPassword) THEN 0 ELSE 1 END AS payPassword_Exist, CASE WHEN ISNULL(User_RestsPassword) THEN 0 ELSE 1 END AS restsPassword_Exist
	<!-- User_HeadIcon AS userHeadicon, User_Name AS userName, User_Sex AS userSex, User_Birthday AS userBirthday, User_phone AS userPhone -->
    from rb_user, rb_userinfo
    <where>
    	<include refid="wheresql"/>
	<include refid="FiltrateSql"/>
    </where>
  </select>
  
  <select id="QueryTeacherInfo" parameterType="map" resultMap="QueryUserInfoResultMap">
    select 
    	User_HeadIcon, User_Name, User_Sex, User_Birthday, User_phone, User_Id, 
    	IF((SELECT
			COUNT(*)
		FROM
			rb_userinfo
		WHERE
			userinfo_belongdept LIKE CONCAT(CONCAT('%', #{DeptId}), '%')
		AND userinfo_userid = User_Id
	) > 0, 1 ,0)
		 AS User_Invited
	<!-- User_HeadIcon AS userHeadicon, User_Name AS userName, User_Sex AS userSex, User_Birthday AS userBirthday, User_phone AS userPhone -->
    from rb_user, rb_userinfo
    <where>
    	<include refid="wheresql"/> AND User_Status &lt; 9 
	<include refid="FiltrateSql"/>
    </where>
  </select> 
  
  <resultMap id="ShowTotalWealthResultMap" type="com.huban.construct.TotalWealthShowModel" >
  	<result column="Single_Number" property="ReadSaveSingleNumber" />
  	<result column="Deposit_Number" property="ReadSaveDepositNumber" />
  	<result column="Check_Number" property="ReadSaveCheckNumber" />
    <result column="Words_Number" property="ReadSaveWordsNumber" />
    <result column="Integral_Number" property="IntegralNumber" />
    <result column="Gold_Number" property="GoldNumber" />
    <result column="Coupon_Number" property="CouponNumber" />
    <result column="Salary" property="Salary" />
    <result column="Other_Award" property="OtherAward" />
  </resultMap>
  <select id="ShowTotalWealth" parameterType="map" resultMap="ShowTotalWealthResultMap ">
	SELECT 
		<![CDATA[ 
		(SELECT COUNT(1) FROM rb_saveread WHERE rs_belongid = User_Id AND rs_type > 3 and rs_type < 8 AND rs_delete = 0 AND rs_mold = 2) AS Single_Number, 
		(SELECT COUNT(1) FROM rb_saveread WHERE rs_belongid = User_Id AND rs_type = 3 AND rs_delete = 0 AND rs_mold = 2) AS Deposit_Number, 
		(SELECT COUNT(1) FROM rb_saveread WHERE rs_belongid = User_Id AND rs_type > 0 and rs_type < 3 AND rs_delete = 0 AND rs_mold = 2) AS Check_Number, 
		userinfo_readcount AS Words_Number, User_Intgral AS Integral_Number, User_Money AS Gold_Number, 0 AS Coupon_Number, 
		(SELECT  if(ISNULL(SUM(Integration_Num)),0,SUM(Integration_Num)) FROM rb_integration WHERE Integration_Type = 19 AND Integration_StudentID = User_Id) AS Salary, 
		 0 AS Other_Award
		 ]]>
	FROM rb_user, rb_userinfo
    <where>
    	<include refid="wheresql"/>
    	<include refid="FiltrateSql"/>
    </where>
  </select>
  
  <resultMap id="BaseQueryUserPseudonymMap" type="java.lang.String" >
  	<result column="User_Name" property="userName" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
  </resultMap>
  <select id="BaseQueryUserPseudonym" resultMap="BaseQueryUserPseudonymMap" parameterType="map" >
    SELECT 
    	User_Name
    from rb_user
    <where>
			1=1
				<if test="_parameter != null">
					and User_Id = #{_parameter}
				</if>
		</where>
    LIMIT 1
  </select>
  
  <select id="BaseQueryDeptPresident" resultMap="BaseQueryUserPseudonymMap" parameterType="map" >
  SELECT 
  	User_Name 
  FROM rb_user AS ru ,
  ( 
  	SELECT 
  		userinfo_userid 
  	FROM rb_userinfo 
  	<where>
			1=1
				<if test="_parameter != null">
					AND userinfo_belongdept = #{_parameter} AND userinfo_position = 1
				</if>
		</where>
  	) AS ui
  <where>
  	ru.User_Id = ui.userinfo_userid 
  </where>
  LIMIT 1
  </select>
  
<resultMap type="java.util.Map" id="QuerySomeMessageMap" >  
	<result property="paypassword" column="User_PayPassword" />  
	<result property="identity" column="userinfo_identity" />
	<result property="restspassword" column="User_RestsPassword" />
	<result property="LoginPassword" column="User_Password" />
</resultMap>
 <select id="QuerySomeMessage" resultMap="QuerySomeMessageMap" parameterType="map" >
 	SELECT
		User_PayPassword, userinfo_identity, User_RestsPassword, User_Password
	FROM
		rb_user, rb_userinfo
		WHERE
	<include refid="wheresql" /><!-- phone -->
	<include refid="FiltrateSql"/>
    LIMIT 1
  </select>
  
  <insert id="wechatinsert" parameterType="com.huban.pojo.User">
    insert into rb_user (User_Id, User_Name, User_Sex, 
      User_Birthday, User_phone, User_HeadIcon, 
      User_QRCode, User_Level, User_Intgral, 
      User_PayPassword, User_RestsPassword, User_CreateTime, User_ModifyTime, 
      User_Delete, User_Status, User_Money, 
      User_ReadTime,User_WeChatOpenID,User_City, User_Password,User_Banlance,User_RemainIntgral)
    values (#{userId,jdbcType=BIGINT}, #{userName}, #{userSex,jdbcType=INTEGER}, 
      '2000-01-01', #{userPhone,jdbcType=VARCHAR}, #{userHeadicon,jdbcType=VARCHAR}, 
      #{userQrcode,jdbcType=VARCHAR}, 1, 0.00, 
      #{userPaypassword,jdbcType=CHAR}, #{userRestspassword,jdbcType=CHAR}, now(), now(), 
      0, 9, 0.00, 
     0, #{userWechatopenid,jdbcType=VARCHAR}, 
      #{userCity,jdbcType=VARCHAR}, #{userPassword,jdbcType=CHAR}, 0, 0.000)
  </insert>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from rb_user
    where User_Id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.huban.pojo.User">
    insert into rb_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        User_Id,
      </if>
      <if test="userName != null">
        User_Name,
      </if>
      <if test="userSex != null">
        User_Sex,
      </if>
      <if test="userBirthday != null">
        User_Birthday,
      </if>
      <if test="userPhone != null">
        User_phone,
      </if>
      <if test="userHeadicon != null">
        User_HeadIcon,
      </if>
      <if test="userQrcode != null">
        User_QRCode,
      </if>
      <if test="userLevel != null">
        User_Level,
      </if>
      <if test="userIntgral != null">
        User_Intgral,
      </if>
      <if test="userPaypassword != null">
        User_PayPassword,
      </if>
      <if test="userCreatetime != null">
        User_CreateTime,
      </if>
      <if test="userModifytime != null">
        User_ModifyTime,
      </if>
      <if test="userDelete != null">
        User_Delete,
      </if>
      <if test="userStatus != null">
        User_Status,
      </if>
      <if test="userMoney != null">
        User_Money,
      </if>
      <if test="userReadtime != null">
        User_ReadTime,
      </if>
      <if test="userBanlance != null">
        User_Banlance,
      </if>
      <if test="userRemainIntgral != null">
        User_RemainIntgral,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userHeadicon != null">
        #{userHeadicon,jdbcType=VARCHAR},
      </if>
      <if test="userQrcode != null">
        #{userQrcode,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null">
        #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="userIntgral != null">
        #{userIntgral,jdbcType=DECIMAL},
      </if>
      <if test="userPaypassword != null">
        #{userPaypassword,jdbcType=CHAR},
      </if>
      <if test="userCreatetime != null">
        #{userCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userModifytime != null">
        #{userModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="userDelete != null">
        #{userDelete,jdbcType=INTEGER},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="userMoney != null">
        #{userMoney,jdbcType=DECIMAL},
      </if>
      <if test="userReadtime != null">
        #{userReadtime,jdbcType=VARCHAR},
      </if>
       <if test="userBanlance != null">
        #{userBanlance,jdbcType=DECIMAL},
      </if>
       <if test="userRemainIntgral != null">
        #{userRemainIntgral,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="changeUser" parameterType="com.huban.pojo.User">
    update rb_user
    <set>
      <if test="userName != null">
        User_Name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        User_Sex = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userBirthday != null">
        User_Birthday = #{userBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="userPhone != null">
        User_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userHeadicon != null">
        User_HeadIcon = #{userHeadicon,jdbcType=VARCHAR},
      </if>
      <if test="userQrcode != null">
        User_QRCode = #{userQrcode,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null">
        User_Level = #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="userIntgral != null">
        User_Intgral = #{userIntgral,jdbcType=DECIMAL},
      </if>
      <if test="userPaypassword != null">
        User_PayPassword = #{userPaypassword,jdbcType=CHAR},
      </if>
      <if test="userRestspassword != null">
        User_RestsPassword = #{userRestspassword,jdbcType=CHAR},
      </if>
      <if test="userCreatetime != null">
        User_CreateTime = #{userCreatetime,jdbcType=TIMESTAMP},
      </if>
        User_ModifyTime = now(),
      <if test="userDelete != null">
        User_Delete = #{userDelete,jdbcType=INTEGER},
      </if>
      <if test="userStatus != null">
        User_Status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="userMoney != null">
        User_Money = #{userMoney,jdbcType=DECIMAL},
      </if>
      <if test="userReadtime != null">
        User_ReadTime = #{userReadtime,jdbcType=VARCHAR},
      </if>
      <if test = "userPassword != null">
      	User_Password = #{userPassword,jdbcType=CHAR},
      </if>
       <if test = "userBanlance != null">
      	User_Banlance = #{userBanlance,jdbcType=DECIMAL},
      </if>
       <if test = "userRemainIntgral != null">
      	User_RemainIntgral = #{userRemainIntgral,jdbcType=DECIMAL},
      </if>
    </set>
    where User_Id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>