<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.UserInfo" >
    <id column="userinfo_userid" property="userinfoUserid" jdbcType="BIGINT" />
    <result column="userinfo_number" property="userinfoNumber" jdbcType="VARCHAR" />
    <result column="userinfo_readcount" property="userinfoReadcount" jdbcType="DECIMAL" />
    <result column="userinfo_departmentid" property="userinfoDepartmentid" jdbcType="VARCHAR" />
    <result column="userinfo_address" property="userinfoAddress" jdbcType="VARCHAR" />
    <result column="userinfo_addressid" property="userinfoAddressid" jdbcType="BIGINT" />
    <result column="userinfo_grade" property="userinfoGrade" jdbcType="INTEGER" />
    <result column="userinfo_class" property="userinfoClass" jdbcType="INTEGER" />
    <result column="userinfo_belongdept" property="userinfoBelongdept" jdbcType="VARCHAR" />
    <result column="userinfo_position" property="userinfoPosition" jdbcType="INTEGER" />
    <result column="userinfo_identity" property="userinfoIdentity" jdbcType="INTEGER" />
    <result column="userinfo_patriarchid" property="userinfoPatriarchid" jdbcType="VARCHAR" />
    <result column="userinfo_honor" property="userinfoHonor" jdbcType="INTEGER" />
    <result column="userinfo_starlevel" property="userinfoStarlevel" jdbcType="INTEGER" />
    <result column="userinfo_status" property="userinfoStatus" jdbcType="INTEGER" />
    <result column="userinfo_createtime" property="userinfoCreatetime" jdbcType="TIMESTAMP" />
    <result column="userinfo_modifytime" property="userinfoModifytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.huban.pojo.UserInfo" extends="BaseResultMap" >
    <result column="userinfo_signature" property="userinfoSignature" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
  </resultMap>
  <sql id="Base_Column_List" >
    userinfo_userid, userinfo_number, userinfo_readcount, userinfo_addressid, 
    userinfo_address, userinfo_grade, userinfo_class, userinfo_departmentid, userinfo_belongdept, 
    userinfo_position, userinfo_identity, userinfo_patriarchid, userinfo_honor, userinfo_starlevel, userinfo_status, 
    userinfo_createtime, userinfo_modifytime
  </sql>
  <sql id="Blob_Column_List" >
    userinfo_signature
  </sql>
  
  <sql id="wheresql">
	where 1 = 1
	<if test="ID != null">
		AND userinfo_userid = #{ID,jdbcType=BIGINT}
	</if>
	<if test="Rand != null">
		AND #{Rand} = #{Rand}
	</if>
	<if test="NumberLike != null">
		AND userinfo_number LIKE CONCAT(#{NumberLike, jdbcType=VARCHAR}, '%')
	</if>
	<if test="DeptId != null">
		AND userinfo_belongdept LIKE CONCAT(CONCAT('%', #{DeptId, jdbcType=VARCHAR}),'%')
	</if>
	<if test="identity != null">
		AND userinfo_identity = #{identity}
	</if>
	<if test="position != null">
		AND userinfo_position = #{position}
	</if>
	<if test="Condition != null and Condition == 1 and Exclude != null">
		AND userinfo_userid NOT IN (#{Exclude}) AND userinfo_identity NOT IN (3)
	</if>
	AND userinfo_status = 0
	<if test="start != null and size != null">
		LIMIT #{start},#{size}
	</if>
</sql>
  <!-- by Sheryl -->
  
  <select id="SearchLstUserInfoByCondition" parameterType="map" resultMap="BaseResultMap" >
    SELECT  
    	<include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    	FROM rb_userinfo
    	<include refid="wheresql" />
  </select>
  <select id="QueryExist" resultType="java.lang.Integer" parameterType="map" >
    SELECT 
    COUNT(*)
    FROM rb_userinfo
    	<include refid="wheresql" />
    LIMIT 1
  </select>
  <insert id="AddNewMessage" parameterType="com.huban.pojo.UserInfo" >
    insert into rb_userinfo (userinfo_userid, userinfo_number,  
      userinfo_readcount, userinfo_departmentid, 
      userinfo_address, userinfo_addressid, userinfo_grade, userinfo_class , 
      userinfo_belongdept, userinfo_position, userinfo_identity, userinfo_patriarchid, 
      userinfo_honor, userinfo_starlevel, userinfo_status, 
      userinfo_createtime, userinfo_modifytime, 
      userinfo_signature)
    values (#{userinfoUserid,jdbcType=BIGINT}, #{userinfoNumber,jdbcType=VARCHAR}, 
      #{userinfoReadcount,jdbcType=DECIMAL}, #{userinfoDepartmentid,jdbcType=VARCHAR}, 
      #{userinfoAddress,jdbcType=VARCHAR}, #{userinfoAddressid,jdbcType=BIGINT}, 0, 0, 
      DEFAULT, #{userinfoPosition,jdbcType=INTEGER}, #{userinfoIdentity,jdbcType=INTEGER}, #{userinfoPatriarchid,jdbcType=VARCHAR}, 
      DEFAULT, DEFAULT, 0, 
      now(), now(), 
      #{userinfoSignature})
 </insert>
  <update id="UpdateBindingMessage" parameterType="com.huban.pojo.UserInfo" >
    update rb_userinfo
    <set >
   	  <if test="userinfoNumber != null" >
        userinfo_number = #{userinfoNumber,jdbcType=VARCHAR},
      </if>
      <if test="userinfoReadcount != null" >
        userinfo_readcount = userinfo_readcount + #{userinfoReadcount,jdbcType=DECIMAL},
      </if>
      <if test="userinfoDepartmentid != null" >
        userinfo_departmentid = #{userinfoDepartmentid,jdbcType=VARCHAR},
      </if>
      <if test="userinfoAddress != null" >
        userinfo_address = #{userinfoAddress,jdbcType=VARCHAR},
      </if>
      <if test="userinfoAddressid != null" >
        userinfo_addressid = #{userinfoAddressid,jdbcType=BIGINT},
      </if>
      <if test="userinfoBelongdept != null" >
        userinfo_belongdept = #{userinfoBelongdept,jdbcType=VARCHAR},
      </if>
      <if test="userinfoGrade != null" >
        userinfo_grade = #{userinfoGrade,jdbcType=INTEGER},
      </if>
      <if test="userinfoClass != null" >
        userinfo_class = #{userinfoClass,jdbcType=INTEGER},
      </if>
      <if test="userinfoPosition != null" >
        userinfo_position = #{userinfoPosition,jdbcType=INTEGER},
      </if>
      <if test="userinfoIdentity != null" >
        userinfo_identity = #{userinfoIdentity,jdbcType=INTEGER},
      </if>
      <if test="userinfoPatriarchid != null">
        userinfo_patriarchid = #{userinfoPatriarchid,jdbcType=VARCHAR},
      </if>
      <if test="userinfoHonor != null" >
        userinfo_honor = userinfo_honor - #{userinfoHonor,jdbcType=INTEGER},
      </if>
      <if test="userinfoStarlevel != null" >
        userinfo_starlevel = userinfo_starlevel - #{userinfoStarlevel,jdbcType=INTEGER},
      </if>
      <if test="userinfoStatus != null" >
        userinfo_status = #{userinfoStatus,jdbcType=INTEGER},
      </if>
      <if test="userinfoSignature != null" >
        userinfo_signature = #{userinfoSignature},
      </if>
       userinfo_modifytime = now()
    </set>
    where userinfo_userid = #{userinfoUserid,jdbcType=BIGINT}
  </update>
  
 <resultMap type="java.util.Map" id="QuerySomeMessageMap" >  
 	<result property="Number" column="userinfo_number" />
 	<result property="Address" column="userinfo_departmentid" />  
	<result property="deptId" column="userinfo_belongdept" />  
	<result property="position" column="userinfo_position" />
	<result property="identity" column="userinfo_identity" />
	<result property="School" column="userinfo_address" />
	<result property="Grade" column="userinfo_grade" />
	<result property="Class" column="userinfo_class" />
	<result property="DeptName" column="Department_Name" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
</resultMap>
 <select id="QuerySomeMessage" resultMap="QuerySomeMessageMap" parameterType="map" >
    SELECT 
    userinfo_number, userinfo_departmentid, userinfo_belongdept, userinfo_position, userinfo_identity, userinfo_address, userinfo_grade, userinfo_class, 
    (SELECT department_name FROM rb_department WHERE department_id LIKE userinfo_belongdept AND department_delete = 0 LIMIT 1) AS Department_Name
    from rb_userinfo
    	<include refid="wheresql" />
    LIMIT 1
  </select>
  
  <select id="QuerySerialNumber" parameterType="map" resultType="java.lang.String">
    SELECT  
    	userinfo_number
    	FROM rb_userinfo
    	<include refid="wheresql" />
    	ORDER BY userinfo_number DESC LIMIT 1 
  </select>

<!-- <resultMap type="com.huban.construct.ShowTaskModel" id="QueryTaskMessageMap" >  
	<result property="totalNumber" column="userinfo_readcount" javaType="java.lang.Long" jdbcType="BIGINT" />
	<association property="todayNumber" column="userinfo_userid" select="com.huban.dao.SaveReadMapper.BaseQueryCount" />
	<association property="executePlan" column="userinfo_userid" select="" />
	<association property="executeJournal" column="userinfo_userid" select="" />
</resultMap> -->
 <!--  <select id="QueryTaskMessage" resultMap="QueryTaskMessageMap" parameterType="map" >
    SELECT 
    	userinfo_readcount
    from rb_userinfo
    	<include refid="wheresql" />
    LIMIT 1
  </select> -->
  
<resultMap type="com.huban.construct.UserInfoUserStatuModel" id="BaseQueryUserInfoMessageMap" >  
	<result property="number" column="userinfo_number" />
	<result property="signature" column="userinfo_signature" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
	<result property="userAddress" column="userinfo_address" />
	<result property="userDeptId" column="userinfo_belongdept" />
	<result property="areaDept" column="userinfo_departmentid" />
    <result property="userGrade" column="userinfo_grade" /> 
    <result property="userClass" column="userinfo_class" /> 
    <result property="userHonor" column="userinfo_honor" /> 
    <result property="userPosition" column="userinfo_position" />
	<result property="userStarlevel" column="userinfo_starlevel" />  
	<result property="userBelongdept" column="belongdept" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
</resultMap>
  <select id="BaseQueryUserInfoMessage" resultMap="BaseQueryUserInfoMessageMap" parameterType="map" >
    SELECT
	userinfo_number, userinfo_signature, userinfo_address, userinfo_belongdept, userinfo_departmentid, 
	userinfo_grade, userinfo_class, userinfo_position, userinfo_honor, userinfo_starlevel,
	(
		SELECT
			department_name
		FROM
			rb_department
		WHERE
			1 = 1
		AND department_id = rui.userinfo_belongdept
		LIMIT 1
	) AS belongdept
FROM
	rb_userinfo AS rui
    <where>
			1=1
				<if test="_parameter != null">
					and userinfo_userid = #{_parameter}
				</if>
		</where>
    LIMIT 1
  </select>
  
  <select id="BaseQueryUserCount" resultType="java.lang.Integer" parameterType="map" >
    SELECT 
    	COUNT(*) 
    from rb_userinfo
    <where>
			1=1
				<if test="_parameter != null">
					and userinfo_belongdept LIKE CONCAT(CONCAT('%', #{_parameter, jdbcType=VARCHAR}),'%')
				</if>
		</where>
    LIMIT 1
  </select>
  
   <select id="BaseQueryLstHeadIcon" resultType="java.lang.String" parameterType="map" >
    (SELECT
			User_HeadIcon
		FROM
			rb_user AS ru,
			rb_userinfo AS rui
		WHERE 1=1
			<if test="_parameter != null">
				AND	rui.userinfo_belongdept LIKE CONCAT(CONCAT('%', #{_parameter, jdbcType=VARCHAR}),'%')
				</if>
		AND ru.User_Id = rui.userinfo_userid
		AND rui.userinfo_position > 0
		ORDER BY
			rui.userinfo_identity DESC, rui.userinfo_position ASC )
		UNION ALL
			(SELECT
				User_HeadIcon
			FROM
				rb_user AS ru,
				rb_userinfo AS rui
			WHERE 1=1
			<if test="_parameter != null">
				 AND rui.userinfo_belongdept LIKE CONCAT(CONCAT('%', #{_parameter, jdbcType=VARCHAR}),'%')
				</if>
				
			AND ru.User_Id = rui.userinfo_userid
			AND rui.userinfo_position = 0
			ORDER BY
				rui.userinfo_readcount DESC ) LIMIT 5
  </select>
  
 <resultMap type="com.huban.construct.LstDeptMemberModel" id="QueryLstDeptMemberMap" >
 	<result property="userId" column="userinfo_userid" />
	<result property="userName" column="User_Name" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
	<result property="userHeadicon" column="User_HeadIcon" />
	<result property="userinfoPosition" column="userinfo_position" />
    <result property="userinfoReadcount" column="userinfo_readcount" /> 
</resultMap>
  <select id="QueryLstDeptMember" resultMap="QueryLstDeptMemberMap" parameterType="map" >
    SELECT 
    	userinfo_userid, User_Name, User_HeadIcon, 
    	userinfo_position, (SELECT if(ISNULL(SUM(rs_number)),0,SUM(rs_number)) FROM rb_saveread WHERE ru.userinfo_belongdept LIKE rs_belongdept AND rs_belongid = ru.userinfo_userid) AS userinfo_readcount
    FROM rb_userinfo AS ru ,rb_user
    WHERE 1 = 1  AND userinfo_userid = User_Id
   <if test="DeptId != null">
		AND userinfo_belongdept LIKE CONCAT(CONCAT('%', #{DeptId, jdbcType=VARCHAR}),'%')
	</if>
	<if test="School != null">
    	 AND userinfo_address = #{School}
    </if>
    <if test="Grade != null" >
       	 AND userinfo_grade = #{Grade}
    </if>
    <if test="Class != null" >
       	 AND userinfo_class = #{Class}
       	 AND userinfo_identity = 2
    </if>
    <if test="identity != null">
		AND userinfo_identity = #{identity}
	</if>
	<if test="position != null">
		AND userinfo_position = #{position}
	</if>
	AND userinfo_status = 0
	ORDER BY userinfo_starlevel DESC, userinfo_honor DESC, user_name ASC
	<if test="start != null and size != null">
		LIMIT #{start},#{size}
	</if>
  </select>
  
   <select id="QueryInheritSequence" resultType="java.lang.Long" parameterType="java.lang.Long" >
    (SELECT
			userinfo_userid
		FROM
			rb_userinfo AS rui
		WHERE 1=1
		AND rui.userinfo_belongdept LIKE CONCAT(CONCAT('%', #{DeptId, jdbcType=VARCHAR}),'%')
		AND rui.userinfo_position > 1
		AND rui.userinfo_identity = 2 
		ORDER BY
			rui.userinfo_position ASC )
		UNION ALL
			(SELECT
				userinfo_userid
			FROM
				rb_userinfo AS rui
			WHERE 1=1
			AND rui.userinfo_belongdept LIKE CONCAT(CONCAT('%', #{DeptId, jdbcType=VARCHAR}),'%')
			AND rui.userinfo_position = 0
			AND rui.userinfo_identity = 2
			ORDER BY
				rui.userinfo_readcount DESC ) LIMIT 1
  </select>
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rb_userinfo
    where userinfo_id = #{userinfoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_userinfo
    where userinfo_id = #{userinfoId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.UserInfo" >
     insert into rb_userinfo (userinfo_id, userinfo_number, userinfo_userid, 
      userinfo_readcount, userinfo_addressid, userinfo_address, 
      userinfo_grade, userinfo_class, userinfo_departmentid, 
      userinfo_belongdept, userinfo_position, userinfo_identity, 
      userinfo_honor, userinfo_starlevel, userinfo_status, 
      userinfo_createtime, userinfo_modifytime, 
      userinfo_signature)
    values (#{userinfoId,jdbcType=BIGINT}, #{userinfoNumber,jdbcType=VARCHAR}, #{userinfoUserid,jdbcType=BIGINT}, 
      #{userinfoReadcount,jdbcType=DECIMAL}, #{userinfoAddressid,jdbcType=BIGINT}, #{userinfoAddress,jdbcType=VARCHAR}, 
      #{userinfoGrade,jdbcType=INTEGER}, #{userinfoClass,jdbcType=INTEGER}, #{userinfoDepartmentid,jdbcType=VARCHAR}, 
      #{userinfoBelongdept,jdbcType=BIGINT}, #{userinfoPosition,jdbcType=INTEGER}, #{userinfoIdentity,jdbcType=INTEGER}, 
      #{userinfoHonor,jdbcType=INTEGER}, #{userinfoStarlevel,jdbcType=INTEGER}, #{userinfoStatus,jdbcType=INTEGER}, 
      #{userinfoCreatetime,jdbcType=TIMESTAMP}, #{userinfoModifytime,jdbcType=TIMESTAMP}, 
      #{userinfoSignature})
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.UserInfo" >
    insert into rb_userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userinfoId != null" >
        userinfo_id,
      </if>
      <if test="userinfoNumber != null" >
        userinfo_number,
      </if>
      <if test="userinfoUserid != null" >
        userinfo_userid,
      </if>
      <if test="userinfoReadcount != null" >
        userinfo_readcount,
      </if>
      <if test="userinfoAddressid != null" >
        userinfo_addressid,
      </if>
      <if test="userinfoAddress != null" >
        userinfo_address,
      </if>
      <if test="userinfoGrade != null" >
        userinfo_grade,
      </if>
      <if test="userinfoClass != null" >
        userinfo_class,
      </if>
      <if test="userinfoDepartmentid != null" >
        userinfo_departmentid,
      </if>
      <if test="userinfoBelongdept != null" >
        userinfo_belongdept,
      </if>
      <if test="userinfoPosition != null" >
        userinfo_position,
      </if>
      <if test="userinfoIdentity != null" >
        userinfo_identity,
      </if>
      <if test="userinfoHonor != null" >
        userinfo_honor,
      </if>
      <if test="userinfoStarlevel != null" >
        userinfo_starlevel,
      </if>
      <if test="userinfoStatus != null" >
        userinfo_status,
      </if>
      <if test="userinfoCreatetime != null" >
        userinfo_createtime,
      </if>
      <if test="userinfoModifytime != null" >
        userinfo_modifytime,
      </if>
      <if test="userinfoSignature != null" >
        userinfo_signature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userinfoId != null" >
        #{userinfoId,jdbcType=BIGINT},
      </if>
      <if test="userinfoNumber != null" >
        #{userinfoNumber,jdbcType=VARCHAR},
      </if>
      <if test="userinfoUserid != null" >
        #{userinfoUserid,jdbcType=BIGINT},
      </if>
      <if test="userinfoReadcount != null" >
        #{userinfoReadcount,jdbcType=BIGINT},
      </if>
      <if test="userinfoAddressid != null" >
        #{userinfoAddressid,jdbcType=BIGINT},
      </if>
      <if test="userinfoAddress != null" >
        #{userinfoAddress,jdbcType=VARCHAR},
      </if>
      <if test="userinfoGrade != null" >
        #{userinfoGrade,jdbcType=INTEGER},
      </if>
      <if test="userinfoClass != null" >
        #{userinfoClass,jdbcType=INTEGER},
      </if>
      <if test="userinfoDepartmentid != null" >
        #{userinfoDepartmentid,jdbcType=VARCHAR},
      </if>
      <if test="userinfoBelongdept != null" >
        #{userinfoBelongdept,jdbcType=BIGINT},
      </if>
      <if test="userinfoPosition != null" >
        #{userinfoPosition,jdbcType=INTEGER},
      </if>
      <if test="userinfoIdentity != null" >
        #{userinfoIdentity,jdbcType=INTEGER},
      </if>
      <if test="userinfoHonor != null" >
        #{userinfoHonor,jdbcType=INTEGER},
      </if>
      <if test="userinfoStarlevel != null" >
        #{userinfoStarlevel,jdbcType=INTEGER},
      </if>
      <if test="userinfoStatus != null" >
        #{userinfoStatus,jdbcType=INTEGER},
      </if>
      <if test="userinfoCreatetime != null" >
        #{userinfoCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userinfoModifytime != null" >
        #{userinfoModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="userinfoSignature != null" >
        #{userinfoSignature,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.UserInfo" >
    update rb_userinfo
    <set >
      <if test="userinfoNumber != null" >
        userinfo_number = #{userinfoNumber,jdbcType=VARCHAR},
      </if>
      <if test="userinfoUserid != null" >
        userinfo_userid = #{userinfoUserid,jdbcType=BIGINT},
      </if>
      <if test="userinfoReadcount != null" >
        userinfo_readcount = #{userinfoReadcount,jdbcType=DECIMAL},
      </if>
      <if test="userinfoAddressid != null" >
        userinfo_addressid = #{userinfoAddressid,jdbcType=BIGINT},
      </if>
      <if test="userinfoAddress != null" >
        userinfo_address = #{userinfoAddress,jdbcType=VARCHAR},
      </if>
      <if test="userinfoGrade != null" >
        userinfo_grade = #{userinfoGrade,jdbcType=INTEGER},
      </if>
      <if test="userinfoClass != null" >
        userinfo_class = #{userinfoClass,jdbcType=INTEGER},
      </if>
      <if test="userinfoDepartmentid != null" >
        userinfo_departmentid = #{userinfoDepartmentid,jdbcType=VARCHAR},
      </if>
      <if test="userinfoBelongdept != null" >
        userinfo_belongdept = #{userinfoBelongdept,jdbcType=BIGINT},
      </if>
      <if test="userinfoPosition != null" >
        userinfo_position = #{userinfoPosition,jdbcType=INTEGER},
      </if>
      <if test="userinfoIdentity != null" >
        userinfo_identity = #{userinfoIdentity,jdbcType=INTEGER},
      </if>
      <if test="userinfoHonor != null" >
        userinfo_honor = #{userinfoHonor,jdbcType=INTEGER},
      </if>
      <if test="userinfoStarlevel != null" >
        userinfo_starlevel = #{userinfoStarlevel,jdbcType=INTEGER},
      </if>
      <if test="userinfoStatus != null" >
        userinfo_status = #{userinfoStatus,jdbcType=INTEGER},
      </if>
      <if test="userinfoCreatetime != null" >
        userinfo_createtime = #{userinfoCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userinfoModifytime != null" >
        userinfo_modifytime = #{userinfoModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="userinfoSignature != null" >
        userinfo_signature = #{userinfoSignature,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where userinfo_id = #{userinfoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.huban.pojo.UserInfo" >
   update rb_userinfo
    set userinfo_number = #{userinfoNumber,jdbcType=VARCHAR},
      userinfo_userid = #{userinfoUserid,jdbcType=BIGINT},
      userinfo_readcount = #{userinfoReadcount,jdbcType=DECIMAL},
      userinfo_addressid = #{userinfoAddressid,jdbcType=BIGINT},
      userinfo_address = #{userinfoAddress,jdbcType=VARCHAR},
      userinfo_grade = #{userinfoGrade,jdbcType=INTEGER},
      userinfo_class = #{userinfoClass,jdbcType=INTEGER},
      userinfo_departmentid = #{userinfoDepartmentid,jdbcType=VARCHAR},
      userinfo_belongdept = #{userinfoBelongdept,jdbcType=BIGINT},
      userinfo_position = #{userinfoPosition,jdbcType=INTEGER},
      userinfo_identity = #{userinfoIdentity,jdbcType=INTEGER},
      userinfo_honor = #{userinfoHonor,jdbcType=INTEGER},
      userinfo_starlevel = #{userinfoStarlevel,jdbcType=INTEGER},
      userinfo_status = #{userinfoStatus,jdbcType=INTEGER},
      userinfo_createtime = #{userinfoCreatetime,jdbcType=TIMESTAMP},
      userinfo_modifytime = #{userinfoModifytime,jdbcType=TIMESTAMP},
      userinfo_signature = #{userinfoSignature,jdbcType=LONGVARBINARY}
    where userinfo_id = #{userinfoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.UserInfo" >
    update rb_userinfo
    set userinfo_number = #{userinfoNumber,jdbcType=VARCHAR},
      userinfo_userid = #{userinfoUserid,jdbcType=BIGINT},
      userinfo_readcount = #{userinfoReadcount,jdbcType=DECIMAL},
      userinfo_addressid = #{userinfoAddressid,jdbcType=BIGINT},
      userinfo_address = #{userinfoAddress,jdbcType=VARCHAR},
      userinfo_grade = #{userinfoGrade,jdbcType=INTEGER},
      userinfo_class = #{userinfoClass,jdbcType=INTEGER},
      userinfo_departmentid = #{userinfoDepartmentid,jdbcType=VARCHAR},
      userinfo_belongdept = #{userinfoBelongdept,jdbcType=BIGINT},
      userinfo_position = #{userinfoPosition,jdbcType=INTEGER},
      userinfo_identity = #{userinfoIdentity,jdbcType=INTEGER},
      userinfo_honor = #{userinfoHonor,jdbcType=INTEGER},
      userinfo_starlevel = #{userinfoStarlevel,jdbcType=INTEGER},
      userinfo_status = #{userinfoStatus,jdbcType=INTEGER},
      userinfo_createtime = #{userinfoCreatetime,jdbcType=TIMESTAMP},
      userinfo_modifytime = #{userinfoModifytime,jdbcType=TIMESTAMP}
    where userinfo_id = #{userinfoId,jdbcType=BIGINT}
  </update>
</mapper>