<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.VerifyrecordsMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.Verifyrecords" >
    <id column="VerifyRecord_ID" property="verifyrecordId" jdbcType="BIGINT" />
    <result column="VerifyRecord_UserID" property="verifyrecordUserid" jdbcType="BIGINT" />
    <result column="VerifyRecord_Phone" property="verifyrecordPhone" jdbcType="VARCHAR" />
    <result column="VerifyRecord_CheckNumber" property="verifyrecordChecknumber" jdbcType="VARCHAR" />
    <result column="VerifyRecord_CreateTime" property="verifyrecordCreatetime" jdbcType="TIMESTAMP" />
    <result column="VerifyRecord_ModifyTime" property="verifyrecordModifytime" jdbcType="TIMESTAMP" />
    <result column="VerifyRecord_DisableTime" property="verifyrecordDisabletime" jdbcType="TIMESTAMP" />
    <result column="VerifyRecord_EnableTime" property="verifyrecordEnabletime" jdbcType="TIMESTAMP" />
    <result column="VerifyRecord_PreviousID" property="verifyrecordPreviousid" jdbcType="BIGINT" />
    <result column="VerifyRecord_Version" property="verifyrecordVersion" jdbcType="INTEGER" />
    <result column="VerifyRecord_Status" property="verifyrecordStatus" jdbcType="TINYINT" />
    <result column="VerifyRecord_Deleted" property="verifyrecordDeleted" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    VerifyRecord_ID, VerifyRecord_UserID, VerifyRecord_Phone, VerifyRecord_CheckNumber, 
    VerifyRecord_CreateTime, VerifyRecord_ModifyTime, VerifyRecord_DisableTime, VerifyRecord_EnableTime, 
    VerifyRecord_PreviousID, VerifyRecord_Version, VerifyRecord_Status, VerifyRecord_Deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rb_verifyrecords
    where VerifyRecord_ID = #{verifyrecordId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_verifyrecords
    where VerifyRecord_ID = #{verifyrecordId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.Verifyrecords" >
    insert into rb_verifyrecords (VerifyRecord_ID, VerifyRecord_UserID, 
      VerifyRecord_Phone, VerifyRecord_CheckNumber, 
      VerifyRecord_CreateTime, VerifyRecord_ModifyTime, 
      VerifyRecord_DisableTime, VerifyRecord_EnableTime, 
      VerifyRecord_PreviousID, VerifyRecord_Version, 
      VerifyRecord_Status, VerifyRecord_Deleted
      )
    values (#{verifyrecordId,jdbcType=BIGINT}, #{verifyrecordUserid,jdbcType=BIGINT}, 
      #{verifyrecordPhone,jdbcType=VARCHAR}, #{verifyrecordChecknumber,jdbcType=VARCHAR}, 
      now(), now(), 
      #{verifyrecordDisabletime,jdbcType=TIMESTAMP}, #{verifyrecordEnabletime,jdbcType=TIMESTAMP}, 
      #{verifyrecordPreviousid,jdbcType=BIGINT}, #{verifyrecordVersion,jdbcType=INTEGER}, 
      #{verifyrecordStatus,jdbcType=TINYINT}, #{verifyrecordDeleted,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.Verifyrecords" >
    insert into rb_verifyrecords
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="verifyrecordId != null" >
        VerifyRecord_ID,
      </if>
      <if test="verifyrecordUserid != null" >
        VerifyRecord_UserID,
      </if>
      <if test="verifyrecordPhone != null" >
        VerifyRecord_Phone,
      </if>
      <if test="verifyrecordChecknumber != null" >
        VerifyRecord_CheckNumber,
      </if>
      <if test="verifyrecordCreatetime != null" >
        VerifyRecord_CreateTime,
      </if>
      <if test="verifyrecordModifytime != null" >
        VerifyRecord_ModifyTime,
      </if>
      <if test="verifyrecordDisabletime != null" >
        VerifyRecord_DisableTime,
      </if>
      <if test="verifyrecordEnabletime != null" >
        VerifyRecord_EnableTime,
      </if>
      <if test="verifyrecordPreviousid != null" >
        VerifyRecord_PreviousID,
      </if>
      <if test="verifyrecordVersion != null" >
        VerifyRecord_Version,
      </if>
      <if test="verifyrecordStatus != null" >
        VerifyRecord_Status,
      </if>
      <if test="verifyrecordDeleted != null" >
        VerifyRecord_Deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="verifyrecordId != null" >
        #{verifyrecordId,jdbcType=BIGINT},
      </if>
      <if test="verifyrecordUserid != null" >
        #{verifyrecordUserid,jdbcType=BIGINT},
      </if>
      <if test="verifyrecordPhone != null" >
        #{verifyrecordPhone,jdbcType=VARCHAR},
      </if>
      <if test="verifyrecordChecknumber != null" >
        #{verifyrecordChecknumber,jdbcType=VARCHAR},
      </if>
      <if test="verifyrecordCreatetime != null" >
        #{verifyrecordCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyrecordModifytime != null" >
        #{verifyrecordModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyrecordDisabletime != null" >
        #{verifyrecordDisabletime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyrecordEnabletime != null" >
        #{verifyrecordEnabletime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyrecordPreviousid != null" >
        #{verifyrecordPreviousid,jdbcType=BIGINT},
      </if>
      <if test="verifyrecordVersion != null" >
        #{verifyrecordVersion,jdbcType=INTEGER},
      </if>
      <if test="verifyrecordStatus != null" >
        #{verifyrecordStatus,jdbcType=TINYINT},
      </if>
      <if test="verifyrecordDeleted != null" >
        #{verifyrecordDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.Verifyrecords" >
    update rb_verifyrecords
    <set >
      <if test="verifyrecordUserid != null" >
        VerifyRecord_UserID = #{verifyrecordUserid,jdbcType=BIGINT},
      </if>
      <if test="verifyrecordPhone != null" >
        VerifyRecord_Phone = #{verifyrecordPhone,jdbcType=VARCHAR},
      </if>
      <if test="verifyrecordChecknumber != null" >
        VerifyRecord_CheckNumber = #{verifyrecordChecknumber,jdbcType=VARCHAR},
      </if>
      <if test="verifyrecordCreatetime != null" >
        VerifyRecord_CreateTime = #{verifyrecordCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyrecordModifytime != null" >
        VerifyRecord_ModifyTime = #{verifyrecordModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyrecordDisabletime != null" >
        VerifyRecord_DisableTime = #{verifyrecordDisabletime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyrecordEnabletime != null" >
        VerifyRecord_EnableTime = #{verifyrecordEnabletime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyrecordPreviousid != null" >
        VerifyRecord_PreviousID = #{verifyrecordPreviousid,jdbcType=BIGINT},
      </if>
      <if test="verifyrecordVersion != null" >
        VerifyRecord_Version = #{verifyrecordVersion,jdbcType=INTEGER},
      </if>
      <if test="verifyrecordStatus != null" >
        VerifyRecord_Status = #{verifyrecordStatus,jdbcType=TINYINT},
      </if>
      <if test="verifyrecordDeleted != null" >
        VerifyRecord_Deleted = #{verifyrecordDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where VerifyRecord_ID = #{verifyrecordId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.Verifyrecords" >
    update rb_verifyrecords
    set VerifyRecord_UserID = #{verifyrecordUserid,jdbcType=BIGINT},
      VerifyRecord_Phone = #{verifyrecordPhone,jdbcType=VARCHAR},
      VerifyRecord_CheckNumber = #{verifyrecordChecknumber,jdbcType=VARCHAR},
      VerifyRecord_CreateTime = #{verifyrecordCreatetime,jdbcType=TIMESTAMP},
      VerifyRecord_ModifyTime = now(),
      VerifyRecord_DisableTime = #{verifyrecordDisabletime,jdbcType=TIMESTAMP},
      VerifyRecord_EnableTime = #{verifyrecordEnabletime,jdbcType=TIMESTAMP},
      VerifyRecord_PreviousID = #{verifyrecordPreviousid,jdbcType=BIGINT},
      VerifyRecord_Version = VerifyRecord_Version+1,
      VerifyRecord_Status = #{verifyrecordStatus,jdbcType=TINYINT},
      VerifyRecord_Deleted = #{verifyrecordDeleted,jdbcType=TINYINT}
    where VerifyRecord_ID = #{verifyrecordId,jdbcType=BIGINT}
  </update>
  <select id="queryList" parameterType="com.huban.pojo.Verifyrecords" resultMap="BaseResultMap">
       select * from rb_verifyrecords where VerifyRecord_Phone=#{verifyrecordPhone} 
  </select>

</mapper>