<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huban.dao.VideoMapper" >
  <resultMap id="BaseResultMap" type="com.huban.pojo.Video" >
    <id column="Video_Id" property="videoId" jdbcType="BIGINT" />
    <result column="Video_Title" property="videoTitle" jdbcType="VARCHAR" />
    <result column="Video_ImageId" property="videoImageid" jdbcType="VARCHAR" />
    <result column="Video_CreateTime" property="videoCreatetime" jdbcType="TIMESTAMP" />
    <result column="Video_ModifyTime" property="videoModifytime" jdbcType="TIMESTAMP" />
    <result column="Video_Status" property="videoStatus" jdbcType="INTEGER" />
    <result column="Video_Weight" property="videoWeight" jdbcType="INTEGER" />
    <result column="Video_WeChatID" property="videoWechatid" jdbcType="BIGINT" />
    <result column="Video_Praise" property="videoPraise" jdbcType="BIGINT" />
    <result column="Video_Url" property="videoUrl" jdbcType="VARCHAR" />
    <result column="Video_VID" property="videoVid" jdbcType="VARCHAR" />
    <result column="Video_AreaId" property="videoAreaid" jdbcType="BIGINT" />
    <result column="Video_AreaName" property="videoAreaname" jdbcType="VARCHAR" />
    <result column="Video_UserId" property="videoUserid" jdbcType="BIGINT" />
    <result column="Video_UserType" property="videoUsertype" jdbcType="VARCHAR" />
    <result column="Video_VoteCount" property="videoVotecount" jdbcType="BIGINT" />
    <result column="Video_VoteId" property="videoVoteid" jdbcType="BIGINT" />
    <result column="Video_LikeCount" property="videoLikecount" jdbcType="BIGINT" />
    <result column="Video_IsActivity" property="videoIsactivity" jdbcType="INTEGER" />
    <result column="Video_Hot" property="videoHot" jdbcType="INTEGER" />
    <result column="Video_CommentCount" property="videoCommentcount" jdbcType="BIGINT" />
    <result column="Video_Type" property="videoType" jdbcType="INTEGER" />
    <result column="Video_FileSize" property="videoFilesize" jdbcType="DOUBLE" />
    <result column="Video_FileTime" property="videoFiletime" jdbcType="BIGINT" />
    <result column="Video_ClickNumber" property="videoClicknumber" jdbcType="BIGINT" />
    <result column="Video_UserName" property="videoUserName" jdbcType="VARCHAR" />
    <result column="Video_UserHeadIcon" property="videoUserHeadIcon" jdbcType="VARCHAR"/>
    <result column="Belong_type" property="belongType" jdbcType="INTEGER"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.huban.pojo.VideoWithBLOBs" extends="BaseResultMap" >
    <result column="Video_Content" property="videoContent" jdbcType="LONGVARCHAR" />
    <result column="Video_ClickCount" property="videoClickcount" jdbcType="LONGVARCHAR" />
    <result column="Video_UseMoney" property="videoUseMoney" jdbcType="VARCHAR" />
    <result column="User_Pay" property="Pay" />
    <result column="User_Like" property="Like"  />
  </resultMap>
  <sql id="Base_Column_List" >
    Video_Id, Video_Title, Video_ImageId, Video_CreateTime, Video_ModifyTime, Video_Status, 
    Video_Weight, Video_WeChatID, Video_Praise, Video_Url, Video_VID, Video_AreaId, Video_AreaName, 
    Video_UserId, Video_UserType, Video_VoteCount, Video_VoteId, Video_LikeCount, Video_IsActivity, 
    Video_Hot, Video_CommentCount, Video_Type, Video_FileSize, Video_FileTime, Video_UserName, Video_UserHeadIcon, Belong_type
  </sql>
  <sql id="Blob_Column_List" >
    Video_Content, Video_ClickCount, Video_UseMoney, Video_ClickNumber
  </sql>

	<!-- V2 SQL -->
	<sql id="WhereSql">
		WHERE
		1 = 1
		<if test="ID != null">
			AND Video_Id = #{ID}
		</if>
		<if test="UID != null">
			AND Video_UserId = #{UID}
		</if>
		<if test="Rand != null">
			AND #{Rand} = #{Rand}
		</if>
	</sql>
	<sql id="FiltrateSql">
		AND Video_Delete = 0
	</sql>
	<sql id="SpecialSql">
		<if test="start != null and size != null">
			LIMIT #{start},#{size}
		</if>
	</sql>
    <!-- <include refid="WhereSql" />
    <include refid="FiltrateSql" />
    <include refid="SpecialSql" /> -->
  
  <select id="queryvideoList" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />,(SELECT COUNT(*) FROM rb_payrecords 
    WHERE PayRecord_UserID = #{UseID,jdbcType=BIGINT} AND PayRecord_BelongId = Video_Id AND PayRecord_TypeId = 0<!-- 视频所属id -->
    AND PayRecord_Deleted = 0 AND PayRecord_Status = 0 ) AS User_Pay, (SELECT COUNT(*) FROM rb_likestatus 
    WHERE From_UserId = #{UseID,jdbcType=BIGINT} AND Colu_Id = Video_Id AND Like_Type = 0<!-- 视频所属id --> LIMIT 1) AS User_Like
     FROM rb_video 
    <where>
    		1=1
    <if test="userId != null">
    		and Video_UserId=#{userId}
    </if>
    <if test="DBID != null">
    		and Video_UserId=#{DBID}
    </if>
    <if test="Type != null">
    		and Video_Type=#{Type}
    </if>
    <if test="Condition != null">
   		 <if test="Condition == -1"><!-- 课外 -->
    			and Video_Type &gt; 0 AND Video_Type &lt; 10
   		 </if>
    		<if test="Condition == 0"><!-- 课内 -->
    			and Video_Type &gt; 10 AND Video_Type &lt; 40
   		 </if>
    		<if test="Condition == 1"><!-- 课外 -->
    			and Video_Type &gt; 0 AND Video_Type &lt; 10
   		 </if>
   		 <if test="Condition == 2"><!-- 课内小学 -->
    			and Video_Type &gt; 9 AND Video_Type &lt; 20
   		 </if>
   		 <if test="Condition == 3"><!-- 课内初中 -->
    			and Video_Type &gt; 19 AND Video_Type &lt; 30
   		 </if>
   		 <if test="Condition == 4"><!-- 课内高中 -->
    			and Video_Type &gt; 29 AND Video_Type &lt; 40
   		 </if>
    </if>
    <include refid="FiltrateSql" />
    </where>
    		order by Video_CreateTime DESC
    <if test="start !=null and size!=null">
     	limit #{start},#{size}
    </if> 
  </select>
  
  <resultMap id="ShowTeacherResultMap" type="com.huban.construct.TeacherModel" >
  	<result column="Video_UserId" property="teacherId" />
  	<result column="User_Name" property="teacherName" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
  	<result column="User_HeadIcon" property="teacherHeadIcon" />
    <result column="userinfo_signature" property="teacherSignature" typeHandler="com.huban.Utils.MyBlobTypeHandler" />
    <result column="Video_CreateTime" property="issueTime" />
  </resultMap>
  <select id="SearchLstTeacher" parameterType="map" resultMap="ShowTeacherResultMap ">
	SELECT 
		Video_UserId, userinfo_signature, User_Name, User_HeadIcon, Video_CreateTime
	FROM rb_video, rb_userinfo, rb_user
    	<include refid="WhereSql"/>
    	<include refid="FiltrateSql"/>
    AND userinfo_userid = User_Id
    AND Video_UserId = User_Id
    GROUP BY Video_UserId ORDER BY Video_CreateTime DESC
    	<include refid="SpecialSql"/>
  </select>
  
  <select id="selectVideo" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
	 <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
	 from rb_video where Video_Id=#{videoId}
  </select>
  <update id="addcommentcount" parameterType="java.lang.Long">
  	UPDATE rb_video 
  	SET Video_CommentCount = Video_CommentCount + 1
  	WHERE Video_Id = #{videoId }
  </update>
  <select id="selectVideoUserId" resultType="java.lang.Long" parameterType="java.lang.Long" >
    select 
	 Video_UserId
	 from rb_video where Video_Id=#{videoId}
  </select>
  <select id="selectusermoney" resultType="java.lang.String" parameterType="java.lang.Long" >
    select 
	 Video_UseMoney
	 from rb_video where Video_Id=#{videoId}
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rb_video
    where Video_Id = #{videoId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huban.pojo.VideoWithBLOBs" >
    insert into rb_video (Video_Id, Video_Title, Video_ImageId, 
      Video_CreateTime, Video_ModifyTime, Video_Status, 
      Video_Weight, Video_WeChatID, Video_Praise, 
      Video_Url, Video_VID, Video_AreaId, 
      Video_AreaName, Video_UserId, Video_UserType, 
      Video_VoteCount, Video_VoteId, Video_LikeCount, 
      Video_IsActivity, Video_Hot, Video_CommentCount, 
      Video_Type, Video_FileSize, Video_FileTime, 
      Video_Content, Video_ClickCount, Video_ClickNumber, Video_UseMoney,Video_UserHeadIcon)
    values (#{videoId,jdbcType=BIGINT}, #{videoTitle,jdbcType=VARCHAR}, #{videoImageid,jdbcType=BIGINT}, 
       now(), now(), 0, 
      #{videoWeight,jdbcType=INTEGER}, #{videoWechatid,jdbcType=BIGINT}, 0, 
      #{videoUrl,jdbcType=VARCHAR}, #{videoVid,jdbcType=VARCHAR}, #{videoAreaid,jdbcType=BIGINT}, 
      #{videoAreaname,jdbcType=VARCHAR}, #{videoUserid,jdbcType=BIGINT}, #{videoUsertype,jdbcType=INTEGER}, 
      #{videoVotecount,jdbcType=BIGINT}, #{videoVoteid,jdbcType=BIGINT}, 0, 
      #{videoIsactivity,jdbcType=INTEGER}, #{videoHot,jdbcType=INTEGER}, #{videoCommentcount,jdbcType=BIGINT}, 
      #{videoType,jdbcType=INTEGER}, #{videoFilesize,jdbcType=DOUBLE}, #{videoFiletime,jdbcType=BIGINT}, 
      #{videoContent,jdbcType=LONGVARCHAR}, #{videoClickcount,jdbcType=LONGVARCHAR},0, #{videoUseMoney,jdbcType=VARCHAR},#{videoUserHeadIcon,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huban.pojo.VideoWithBLOBs" >
    insert into rb_video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        Video_Id,
      </if>
      <if test="videoTitle != null" >
        Video_Title,
      </if>
      <if test="videoImageid != null" >
        Video_ImageId,
      </if>
      <if test="videoCreatetime != null" >
        Video_CreateTime,
      </if>
      <if test="videoModifytime != null" >
        Video_ModifyTime,
      </if>
      <if test="videoStatus != null" >
        Video_Status,
      </if>
      <if test="videoWeight != null" >
        Video_Weight,
      </if>
      <if test="videoWechatid != null" >
        Video_WeChatID,
      </if>
      <if test="videoPraise != null" >
        Video_Praise,
      </if>
      <if test="videoUrl != null" >
        Video_Url,
      </if>
      <if test="videoVid != null" >
        Video_VID,
      </if>
      <if test="videoAreaid != null" >
        Video_AreaId,
      </if>
      <if test="videoAreaname != null" >
        Video_AreaName,
      </if>
      <if test="videoUserid != null" >
        Video_UserId,
      </if>
      <if test="videoUsertype != null" >
        Video_UserType,
      </if>
      <if test="videoVotecount != null" >
        Video_VoteCount,
      </if>
      <if test="videoVoteid != null" >
        Video_VoteId,
      </if>
      <if test="videoLikecount != null" >
        Video_LikeCount,
      </if>
      <if test="videoIsactivity != null" >
        Video_IsActivity,
      </if>
      <if test="videoHot != null" >
        Video_Hot,
      </if>
      <if test="videoCommentcount != null" >
        Video_CommentCount,
      </if>
      <if test="videoType != null" >
        Video_Type,
      </if>
      <if test="videoFilesize != null" >
        Video_FileSize,
      </if>
      <if test="videoFiletime != null" >
        Video_FileTime,
      </if>
      <if test="videoContent != null" >
        Video_Content,
      </if>
      <if test="videoClickcount != null" >
        Video_ClickCount,
      </if>
      <if test="videoUseMoney != null" >
        Video_UseMoney,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        #{videoId,jdbcType=BIGINT},
      </if>
      <if test="videoTitle != null" >
        #{videoTitle,jdbcType=VARCHAR},
      </if>
      <if test="videoImageid != null" >
        #{videoImageid,jdbcType=BIGINT},
      </if>
      <if test="videoCreatetime != null" >
        #{videoCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoModifytime != null" >
        #{videoModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoStatus != null" >
        #{videoStatus,jdbcType=INTEGER},
      </if>
      <if test="videoWeight != null" >
        #{videoWeight,jdbcType=INTEGER},
      </if>
      <if test="videoWechatid != null" >
        #{videoWechatid,jdbcType=BIGINT},
      </if>
      <if test="videoPraise != null" >
        #{videoPraise,jdbcType=BIGINT},
      </if>
      <if test="videoUrl != null" >
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoVid != null" >
        #{videoVid,jdbcType=VARCHAR},
      </if>
      <if test="videoAreaid != null" >
        #{videoAreaid,jdbcType=BIGINT},
      </if>
      <if test="videoAreaname != null" >
        #{videoAreaname,jdbcType=VARCHAR},
      </if>
      <if test="videoUserid != null" >
        #{videoUserid,jdbcType=BIGINT},
      </if>
      <if test="videoUsertype != null" >
        #{videoUsertype,jdbcType=INTEGER},
      </if>
      <if test="videoVotecount != null" >
        #{videoVotecount,jdbcType=BIGINT},
      </if>
      <if test="videoVoteid != null" >
        #{videoVoteid,jdbcType=BIGINT},
      </if>
      <if test="videoLikecount != null" >
        #{videoLikecount,jdbcType=BIGINT},
      </if>
      <if test="videoIsactivity != null" >
        #{videoIsactivity,jdbcType=INTEGER},
      </if>
      <if test="videoHot != null" >
        #{videoHot,jdbcType=INTEGER},
      </if>
      <if test="videoCommentcount != null" >
        #{videoCommentcount,jdbcType=BIGINT},
      </if>
      <if test="videoType != null" >
        #{videoType,jdbcType=INTEGER},
      </if>
      <if test="videoFilesize != null" >
        #{videoFilesize,jdbcType=DOUBLE},
      </if>
      <if test="videoFiletime != null" >
        #{videoFiletime,jdbcType=BIGINT},
      </if>
      <if test="videoContent != null" >
        #{videoContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="videoClickcount != null" >
        #{videoClickcount,jdbcType=LONGVARCHAR},
      </if>
      <if test="videoUseMoney != null" >
        #{videoUseMoney,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huban.pojo.VideoWithBLOBs" >
    update rb_video
    <set >
      <if test="videoTitle != null" >
        Video_Title = #{videoTitle,jdbcType=VARCHAR},
      </if>
      <if test="videoImageid != null" >
        Video_ImageId = #{videoImageid,jdbcType=BIGINT},
      </if>
      <if test="videoCreatetime != null" >
        Video_CreateTime = #{videoCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoModifytime != null" >
        Video_ModifyTime = #{videoModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoStatus != null" >
        Video_Status = #{videoStatus,jdbcType=INTEGER},
      </if>
      <if test="videoWeight != null" >
        Video_Weight = #{videoWeight,jdbcType=INTEGER},
      </if>
      <if test="videoWechatid != null" >
        Video_WeChatID = #{videoWechatid,jdbcType=BIGINT},
      </if>
      <if test="videoPraise != null" >
        Video_Praise = #{videoPraise,jdbcType=BIGINT},
      </if>
      <if test="videoUrl != null" >
        Video_Url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoVid != null" >
        Video_VID = #{videoVid,jdbcType=VARCHAR},
      </if>
      <if test="videoAreaid != null" >
        Video_AreaId = #{videoAreaid,jdbcType=BIGINT},
      </if>
      <if test="videoAreaname != null" >
        Video_AreaName = #{videoAreaname,jdbcType=VARCHAR},
      </if>
      <if test="videoUserid != null" >
        Video_UserId = #{videoUserid,jdbcType=BIGINT},
      </if>
      <if test="videoUsertype != null" >
        Video_UserType = #{videoUsertype,jdbcType=INTEGER},
      </if>
      <if test="videoVotecount != null" >
        Video_VoteCount = #{videoVotecount,jdbcType=BIGINT},
      </if>
      <if test="videoVoteid != null" >
        Video_VoteId = #{videoVoteid,jdbcType=BIGINT},
      </if>
      <if test="videoLikecount != null" >
        Video_LikeCount = #{videoLikecount,jdbcType=BIGINT},
      </if>
      <if test="videoIsactivity != null" >
        Video_IsActivity = #{videoIsactivity,jdbcType=INTEGER},
      </if>
      <if test="videoHot != null" >
        Video_Hot = #{videoHot,jdbcType=INTEGER},
      </if>
      <if test="videoCommentcount != null" >
        Video_CommentCount = #{videoCommentcount,jdbcType=BIGINT},
      </if>
      <if test="videoType != null" >
        Video_Type = #{videoType,jdbcType=INTEGER},
      </if>
      <if test="videoFilesize != null" >
        Video_FileSize = #{videoFilesize,jdbcType=DOUBLE},
      </if>
      <if test="videoFiletime != null" >
        Video_FileTime = #{videoFiletime,jdbcType=BIGINT},
      </if>
      <if test="videoContent != null" >
        Video_Content = #{videoContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="videoClickcount != null" >
        Video_ClickCount = #{videoClickcount,jdbcType=LONGVARCHAR},
      </if>
      <if test="videoUseMoney != null" >
        Video_UseMoney = #{videoUseMoney,jdbcType=VARCHAR},
      </if>
    </set>
    where Video_Id = #{videoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.huban.pojo.VideoWithBLOBs" >
    update rb_video
    set Video_Title = #{videoTitle,jdbcType=VARCHAR},
      Video_ImageId = #{videoImageid,jdbcType=BIGINT},
      Video_CreateTime = #{videoCreatetime,jdbcType=TIMESTAMP},
      Video_ModifyTime = #{videoModifytime,jdbcType=TIMESTAMP},
      Video_Status = #{videoStatus,jdbcType=INTEGER},
      Video_Weight = #{videoWeight,jdbcType=INTEGER},
      Video_WeChatID = #{videoWechatid,jdbcType=BIGINT},
      Video_Praise = #{videoPraise,jdbcType=BIGINT},
      Video_Url = #{videoUrl,jdbcType=VARCHAR},
      Video_VID = #{videoVid,jdbcType=VARCHAR},
      Video_AreaId = #{videoAreaid,jdbcType=BIGINT},
      Video_AreaName = #{videoAreaname,jdbcType=VARCHAR},
      Video_UserId = #{videoUserid,jdbcType=BIGINT},
      Video_UserType = #{videoUsertype,jdbcType=INTEGER},
      Video_VoteCount = #{videoVotecount,jdbcType=BIGINT},
      Video_VoteId = #{videoVoteid,jdbcType=BIGINT},
      Video_LikeCount = #{videoLikecount,jdbcType=BIGINT},
      Video_IsActivity = #{videoIsactivity,jdbcType=INTEGER},
      Video_Hot = #{videoHot,jdbcType=INTEGER},
      Video_CommentCount = #{videoCommentcount,jdbcType=BIGINT},
      Video_Type = #{videoType,jdbcType=INTEGER},
      Video_FileSize = #{videoFilesize,jdbcType=DOUBLE},
      Video_FileTime = #{videoFiletime,jdbcType=BIGINT},
      Video_Content = #{videoContent,jdbcType=LONGVARCHAR},
      Video_ClickCount = #{videoClickcount,jdbcType=LONGVARCHAR},
      Video_UseMoney = #{videoUseMoney,jdbcType=VARCHAR}
    where Video_Id = #{videoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huban.pojo.Video" >
    update rb_video
    set Video_Title = #{videoTitle,jdbcType=VARCHAR},
      Video_ImageId = #{videoImageid,jdbcType=BIGINT},
      Video_CreateTime = #{videoCreatetime,jdbcType=TIMESTAMP},
      Video_ModifyTime = #{videoModifytime,jdbcType=TIMESTAMP},
      Video_Status = #{videoStatus,jdbcType=INTEGER},
      Video_Weight = #{videoWeight,jdbcType=INTEGER},
      Video_WeChatID = #{videoWechatid,jdbcType=BIGINT},
      Video_Praise = #{videoPraise,jdbcType=BIGINT},
      Video_Url = #{videoUrl,jdbcType=VARCHAR},
      Video_VID = #{videoVid,jdbcType=VARCHAR},
      Video_AreaId = #{videoAreaid,jdbcType=BIGINT},
      Video_AreaName = #{videoAreaname,jdbcType=VARCHAR},
      Video_UserId = #{videoUserid,jdbcType=BIGINT},
      Video_UserType = #{videoUsertype,jdbcType=INTEGER},
      Video_VoteCount = #{videoVotecount,jdbcType=BIGINT},
      Video_VoteId = #{videoVoteid,jdbcType=BIGINT},
      Video_LikeCount = #{videoLikecount,jdbcType=BIGINT},
      Video_IsActivity = #{videoIsactivity,jdbcType=INTEGER},
      Video_Hot = #{videoHot,jdbcType=INTEGER},
      Video_CommentCount = #{videoCommentcount,jdbcType=BIGINT},
      Video_Type = #{videoType,jdbcType=INTEGER},
      Video_FileSize = #{videoFilesize,jdbcType=DOUBLE},
      Video_FileTime = #{videoFiletime,jdbcType=BIGINT},
      Video_UseMoney = #{videoUseMoney,jdbcType=VARCHAR}
    where Video_Id = #{videoId,jdbcType=BIGINT}
  </update>
  <update id="addlike"  parameterType="com.huban.pojo.Video" >
    update rb_video
    set 
    Video_LikeCount = Video_LikeCount+1
    where Video_Id = #{videoId,jdbcType=BIGINT}
  </update>
  <update id="cutlike" parameterType="com.huban.pojo.Video" >
    update rb_video
    set 
    Video_LikeCount = Video_LikeCount-1
    where Video_Id = #{videoId,jdbcType=BIGINT}
  </update>
  <update id="addclick" parameterType="com.huban.pojo.Video" >
    update rb_video
    set 
    Video_ClickNumber=Video_ClickNumber+1
    where Video_Id = #{videoId,jdbcType=BIGINT}
  </update>
  <update id="VideoShare" parameterType="java.lang.Long" >
    update rb_video
    set 
    Video_Weight = Video_Weight+1
    where Video_Id = #{videoId,jdbcType=BIGINT}
  </update>
  
</mapper>