<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huban.dao.VoiceMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<!-- search result -->
	<resultMap id="voice" type="com.huban.pojo.Voice">
		<result property="Voice_Id" column="Voice_Id" />
		<result property="Voice_UserId" column="Voice_UserId" />
		<result property="Voice_PictureId" column="Voice_PictureId" />
		<result property="Voice_PictureUrl" column="Voice_PictureUrl" />
		<result property="Voice_HeadPictureId" column="Voice_HeadPictureId" />
		<result property="Voice_HeadPictureUrl" column="Voice_HeadPictureUrl" />
		<result property="Voice_Author" column="Voice_Author" />
		<result property="Voice_Press" column="Voice_Press" />
		<result property="Voice_Title" column="Voice_Title" />
		<result property="Voice_Content" column="Voice_Content" />
		<result property="Voice_Url" column="Voice_Url" />
		<result property="Voice_FileTime" column="Voice_FileTime" />
		<result property="Voice_ShareNum" column="Voice_ShareNum" />
		<result property="Voice_LikeNum" column="Voice_LikeNum" />
		<result property="Voice_VoteNum" column="Voice_VoteNum" />
		<result property="Voice_ReadNum" column="Voice_ReadNum" />
		<result property="Voice_DiscussNum" column="Voice_DiscussNum" />
		<result property="Voice_Version" column="Voice_Version" />
		<result property="Voice_Status" column="Voice_Status" />
		<result property="Voice_Delete" column="Voice_Delete" />
		<result property="Voice_Type" column="Voice_Type" />
		<result property="Voice_Purpose" column="Voice_Purpose" />
		<result property="Voice_RedirectUrl" column="Voice_RedirectUrl" />
		<result property="Voice_CreateTime" column="Voice_CreateTime" />
		<result property="Voice_ModifyTime" column="Voice_ModifyTime" />
		<result property="ReadStatus" column="ReadStatus" />
		<result property="LikeStatus" column="LikeStatus" />
		<result property="VoteStatus" column="VoteStatus" />
	</resultMap>


	<sql id="sql">
		Voice_Id,Voice_UserId,Voice_PictureId,Voice_PictureUrl,Voice_HeadPictureId,Voice_HeadPictureUrl,Voice_Author,Voice_Press,Voice_Title,Voice_Content,Voice_Url,Voice_FileTime,Voice_ShareNum,Voice_LikeNum,Voice_VoteNum,Voice_DiscussNum,Voice_ReadNum,Voice_Version,Voice_Status,Voice_Delete,Voice_Type,Voice_Purpose,Voice_RedirectUrl,Voice_CreateTime,Voice_ModifyTime
		<if test="userId != null and type != null">
			,(SELECT COUNT(*) FROM rb_likestatus WHERE Like_Delete = 0 AND Colu_Id = Voice_Id AND From_UserId = #{userId} AND like_Type = #{type}) AS ReadStatus
			,(SELECT Like_Status FROM rb_likestatus WHERE Like_Delete = 0 AND Colu_Id = Voice_Id AND From_UserId = #{userId} AND like_Type = #{type} LIMIT 1) AS LikeStatus
		</if>
	</sql>
	<sql id="where">
		1=1
		<if test="Voice_Id != null">
			and Voice_Id = #{Voice_Id}
		</if>
		<if test="Voice_UserId != null">
			and Voice_UserId = #{Voice_UserId}
		</if>
		<if test="Voice_PictureId != null">
			and Voice_PictureId = #{Voice_PictureId}
		</if>
		<if test="Voice_PictureUrl != null">
			and Voice_PictureUrl = #{Voice_PictureUrl}
		</if>
		<if test="Voice_HeadPictureId != null">
			and Voice_HeadPictureId = #{Voice_HeadPictureId}
		</if>
		<if test="Voice_HeadPictureUrl != null">
			and Voice_HeadPictureUrl = #{Voice_HeadPictureUrl}
		</if>
		<if test="Voice_Author != null">
			and Voice_Author = #{Voice_Author}
		</if>
		<if test="Voice_Press != null">
			and Voice_Press = #{Voice_Press}
		</if>
		<if test="Voice_Title != null">
			and Voice_Title = #{Voice_Title}
		</if>
		<if test="Voice_Content != null">
			and Voice_Content = #{Voice_Content}
		</if>
		<if test="Voice_Url != null">
			and Voice_Url = #{Voice_Url}
		</if>
		<if test="Voice_FileTime != null">
			and Voice_FileTime = #{Voice_FileTime}
		</if>
		<if test="Voice_ShareNum != null">
			and Voice_ShareNum = #{Voice_ShareNum}
		</if>
		<if test="Voice_LikeNum != null">
			and Voice_LikeNum = #{Voice_LikeNum}
		</if>
		<if test="Voice_Version != null">
			and Voice_Version = #{Voice_Version}
		</if>
		<if test="Voice_ReadNum != null">
			and Voice_ReadNum = #{Voice_ReadNum}
		</if>
		<if test="Voice_DiscussNum != null">
			and Voice_DiscussNum = #{Voice_DiscussNum}
		</if>
		<if test="Voice_VoteNum != null">
			and Voice_VoteNum = #{Voice_VoteNum}
		</if>
		<if test="Voice_Status != null">
			and Voice_Status = #{Voice_Status}
		</if>
		<if test="Voice_Delete != null">
			and Voice_Delete &lt; #{Voice_Delete}
		</if>
		<if test="Voice_Type != null">
			and Voice_Type = #{Voice_Type}
		</if>
		<if test="Voice_Purpose != null">
			and Voice_Purpose = #{Voice_Purpose}
		</if>
		<if test="Voice_RedirectUrl != null">
			and Voice_RedirectUrl = #{Voice_RedirectUrl}
		</if>
		<if test="Voice_CreateTime != null">
			and Voice_CreateTime = #{Voice_CreateTime}
		</if>
	</sql>
	
	<sql id="FindWhere">
		1=1
		<if test="Voice_Id != null and Voice_Type != null">
			AND Voice_Id NOT IN (${Voice_Id})
		</if>
		<if test="Voice_UserId != null">
			and Voice_UserId = #{Voice_UserId}
		</if>
		<if test="Voice_PictureId != null">
			and Voice_PictureId = #{Voice_PictureId}
		</if>
		<if test="Voice_PictureUrl != null">
			and Voice_PictureUrl = #{Voice_PictureUrl}
		</if>
		<if test="Voice_HeadPictureId != null">
			and Voice_HeadPictureId = #{Voice_HeadPictureId}
		</if>
		<if test="Voice_HeadPictureUrl != null">
			and Voice_HeadPictureUrl = #{Voice_HeadPictureUrl}
		</if>
		<if test="Voice_Author != null">
			and Voice_Author = #{Voice_Author}
		</if>
		<if test="Voice_Press != null">
			and Voice_Press = #{Voice_Press}
		</if>
		<if test="Voice_Title != null">
			and Voice_Title = #{Voice_Title}
		</if>
		<if test="Voice_Content != null">
			and Voice_Content = #{Voice_Content}
		</if>
		<if test="Voice_Url != null">
			and Voice_Url = #{Voice_Url}
		</if>
		<if test="Voice_FileTime != null">
			and Voice_FileTime = #{Voice_FileTime}
		</if>
		<if test="Voice_ShareNum != null">
			and Voice_ShareNum = #{Voice_ShareNum}
		</if>
		<if test="Voice_LikeNum != null">
			and Voice_LikeNum = #{Voice_LikeNum}
		</if>
		<if test="Voice_Version != null">
			and Voice_Version = #{Voice_Version}
		</if>
		<if test="Voice_ReadNum != null">
			and Voice_ReadNum = #{Voice_ReadNum}
		</if>
		<if test="Voice_DiscussNum != null">
			and Voice_DiscussNum = #{Voice_DiscussNum}
		</if>
		<if test="Voice_VoteNum != null">
			and Voice_VoteNum = #{Voice_VoteNum}
		</if>
		<if test="Voice_Status != null">
			and Voice_Status = #{Voice_Status}
		</if>
		<if test="Voice_Delete != null">
			and Voice_Delete &lt; #{Voice_Delete}
		</if>
		<if test="Voice_Type != null">
			and Voice_Type = #{Voice_Type}
		</if>
		<if test="Voice_Purpose != null">
			and Voice_Purpose = #{Voice_Purpose}
		</if>
		<if test="Voice_RedirectUrl != null">
			and Voice_RedirectUrl = #{Voice_RedirectUrl}
		</if>
		<if test="Voice_CreateTime != null">
			and Voice_CreateTime = #{Voice_CreateTime}
		</if>
	</sql>


	<select id="FindByVoice_Id" resultType="com.huban.pojo.Voice" parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
		FROM rb_voice
		<where>
			Voice_Id = #{_parameter}
		</where>
	</select>

	<select id="FindVoicesByCondition" resultMap="voice" parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
		FROM rb_voice
		<where>
			<include refid="FindWhere"></include>
		</where>
		order by Voice_Id asc, Voice_ReadNum DESC, Voice_DiscussNum DESC, Voice_ShareNum DESC, Voice_ShareNum DESC
		<if test="size != null and start != null ">
			limit #{start}, #{size}
		</if>
	</select>

	<select id="getCountByCondition" parameterType="map" resultType="int">
		SELECT
		Count(1)
		FROM rb_voice
		<where>
			<include refid="where"></include>
		</where>

	</select>

	<!-- insert sql -->
	<insert id="addVoice" parameterType="com.huban.pojo.Voice" keyProperty="ID" useGeneratedKeys="true">
		insert into
		rb_voice(Voice_Id,Voice_UserId,Voice_PictureId,Voice_PictureUrl,Voice_HeadPictureId,Voice_HeadPictureUrl,Voice_Author,Voice_Press,Voice_Title,Voice_Content,Voice_Url,Voice_FileTime,Voice_ShareNum,Voice_LikeNum,Voice_Version,Voice_ReadNum,Voice_DiscussNum,Voice_VoteNum,Voice_Status,Voice_Delete,Voice_Type,Voice_Purpose, Voice_RedirectUrl, Voice_CreateTime,Voice_ModifyTime)
		values(
		#{Voice_Id}, #{Voice_UserId}, #{Voice_PictureId}, #{Voice_PictureUrl}, #{Voice_HeadPictureId}, #{Voice_HeadPictureUrl}, #{Voice_Author}, #{Voice_Press}, #{Voice_Title}, #{Voice_Content}, #{Voice_Url}, #{Voice_FileTime},  0, 0, 0, 0, 0, 0, #{Voice_Status}, 0, #{Voice_Type}, now(), now())
	</insert>


	<update id="UpdateVoice" parameterType="com.huban.pojo.Voice">
		update rb_voice set 
		<if test="Voice_PictureId != null">
			Voice_PictureId = #{Voice_PictureId},
		</if>
		<if test="Voice_PictureUrl != null">
			Voice_PictureUrl = #{Voice_PictureUrl},
		</if>
		<if test="Voice_HeadPictureId != null">
			Voice_HeadPictureId = #{Voice_HeadPictureId},
		</if>
		<if test="Voice_HeadPictureUrl != null">
			Voice_HeadPictureUrl = #{Voice_HeadPictureUrl},
		</if>
		<if test="Voice_Author != null">
			Voice_Author = #{Voice_Author},
		</if>
		<if test="Voice_Press != null">
			Voice_Press = #{Voice_Press},
		</if>
		<if test="Voice_Title != null">
			Voice_Title = #{Voice_Title},
		</if>
		<if test="Voice_Content != null">
			Voice_Content = #{Voice_Content},
		</if>
		<if test="Voice_Url != null">
			Voice_Url = #{Voice_Url},
		</if>
		<if test="Voice_FileTime != null">
			Voice_FileTime = #{Voice_FileTime},
		</if>
		<if test="Voice_ShareNum != null">
			Voice_ShareNum = Voice_ShareNum + #{Voice_ShareNum},
		</if>
		<if test="Voice_LikeNum != null">
			Voice_LikeNum = Voice_LikeNum + #{Voice_LikeNum},
		</if>
		<if test="Voice_Version != null">
			Voice_Version = Voice_Version + 1,
		</if>
		<if test="Voice_ReadNum != null">
			Voice_ReadNum = Voice_ReadNum + #{Voice_ReadNum},
		</if>
		<if test="Voice_DiscussNum != null">
			Voice_DiscussNum = Voice_DiscussNum + #{Voice_DiscussNum},
		</if>
		<if test="Voice_VoteNum != null">
			Voice_VoteNum = Voice_VoteNum + #{Voice_VoteNum},
		</if>
		<if test="Voice_Status != null">
			Voice_Status = #{Voice_Status},
		</if>
		<if test="Voice_Delete != null">
			Voice_Delete = #{Voice_Delete},
		</if>
		<if test="Voice_Type != null">
			Voice_Type = #{Voice_Type},
		</if>
		<if test="Voice_Purpose != null">
			Voice_Purpose = #{Voice_Purpose},
		</if>
		<if test="Voice_RedirectUrl != null">
			Voice_RedirectUrl = #{Voice_RedirectUrl},
		</if>
			Voice_ModifyTime = now()
		<where>
			1=1
			<if test="Voice_Id != null">
				and Voice_Id = #{Voice_Id}
			</if>
			<if test="Voice_UserId != null">
				and Voice_UserId = #{Voice_UserId}
			</if>
		</where>
	</update>

	<delete id="DeleteVoiceById" parameterType="com.huban.pojo.Voice">
		update rb_voice set Voice_Delete = 88
		<where>
			<include refid="where"></include>
		</where>
	</delete>

	<delete id="EnabledVoiceById" parameterType="com.huban.pojo.Voice">
		update rb_voice set Voice_Delete = 1
		<where>
			<include refid="where"></include>
		</where>
	</delete>
</mapper>
